/* Font Family: Open Sans
 * Designed by: Steve Matteson
 * License: APACHE2
 */

@font-face {
	/* Copyright: Copyright 2020 The Open Sans Project Authors (https://github.com/googlefonts/opensans) */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-weight: 300 800;
	font-stretch: 75 100;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(getFont("OpenSans%5Bwdth%2Cwght%5D.woff2", "Open%20Sans", "1614344077")) format('woff2 supports variations'), url(getFont("OpenSans%5Bwdth%2Cwght%5D.woff2", "Open%20Sans", "1614344077")) format('woff2-variations'), url(getFont("OpenSans%5Bwdth%2Cwght%5D.woff2", "Open%20Sans", "1614344077")) format('woff2');
}

@font-face {
	/* Copyright: Copyright 2020 The Open Sans Project Authors (https://github.com/googlefonts/opensans) */
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-weight: 300 800;
	font-stretch: 75 100;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(getFont("OpenSans-Italic%5Bwdth%2Cwght%5D.woff2", "Open%20Sans", "1614344077")) format('woff2 supports variations'), url(getFont("OpenSans-Italic%5Bwdth%2Cwght%5D.woff2", "Open%20Sans", "1614344077")) format('woff2-variations'), url(getFont("OpenSans-Italic%5Bwdth%2Cwght%5D.woff2", "Open%20Sans", "1614344077")) format('woff2');
}

woltlab-suite-preload:root {                     --woltlab-suite-preload: #{preload(
                        getFont("OpenSans%5Bwdth%2Cwght%5D.woff2", "Open%20Sans", "1614344077"),
                        $as: "font",
                        $crossorigin: true
                    )}; }