# Linux
*~ # backup files

# Windows
Thumbs.db # thumbnails

# OS-X
.DS_Store
._* #thumbnails

# Visual Studio PHP
*.sln
*.phpproj
*.puo
*.suo
*.cache

# Eclipse
.settings/
.project
.buildpath

# Netbeans
nbproject/
nbactions.xml

# SVN
.svn/ # svn folders

# Community Framework
*.tar 
*.tar.gz # Ignore packages build directly in the workspace. They can however, if wanted, added manually via git add
