# Linux
# backup files
*~

# Windows
# thumbnails
Thumbs.db

# OS-X
.DS_Store
# thumbnails
._*

# Visual Studio PHP
*.sln
*.phpproj
*.puo
*.suo
*.cache

# Eclipse
.settings/
.project
.buildpath

# Netbeans
nbproject/
nbactions.xml

# SVN
# svn folders
.svn/

# Community Framework
# Ignore packages build directly in the workspace. They can however, if wanted, added manually via git add
*.tar
*.tar.gz
