language: php
sudo: false
php:
  - 5.6
  - 5.5
before_install:
  - pyrus install pear/PHP_CodeSniffer
  - phpenv rehash
script:
  - find . -type f -name '*.php' -not -path './wcfsetup/install/files/lib/system/api/composer/autoload_static.php' -print0 |xargs -0 -I file -P 4 php -l file > /dev/null
  - phpcs -p --extensions=php --standard="`pwd`/CodeSniff/WCF" .
