language: php
sudo: false
dist: trusty
php:
  - 7.2
  - 5.5
before_install:
  - export PATH="$PATH:$(composer global config bin-dir --absolute)"
  - composer global require "squizlabs/php_codesniffer=3.*"
  - phpenv rehash
script:
  - find . -type f -name '*.php' -not -path './wcfsetup/install/files/lib/system/api/composer/autoload_static.php' -print0 |xargs -0 -I file -P 4 php -l file > /dev/null
  - phpcs -p --extensions=php --standard="`pwd`/CodeSniff/WCF" .
