includes:
    - phpstan-ambient.neon
    - phpstan-baseline.neon

parameters:
    level: 6
    phpVersion:
        min: 80102
        max: 80499
    paths:
        - wcfsetup/install/files
    excludePaths:
        analyse:
            - wcfsetup/install/files/lib/system/api/
    scanFiles:
        - constants.php
    ignoreErrors:
        - identifier: match.unhandled
        - identifier: method.unused
        - identifier: new.static
        - identifier: trait.unused
