parameters:
    universalObjectCratesClasses:
        - wcf\data\category\Category
        - wcf\data\condition\Condition
        - wcf\data\modification\log\ModificationLog
        - wcf\data\object\type\ObjectType
        - wcf\data\option\Option
        - wcf\data\user\activity\event\ViewableUserActivityEvent
        - wcf\data\user\notification\UserNotification
        - wcf\data\user\User
        - wcf\system\menu\ITreeMenuItem
        - wcf\system\message\embedded\object\IMessageEmbeddedObjectHandler
        - wcf\system\user\notification\event\IUserNotificationEvent
        - wcf\system\user\notification\object\type\IUserNotificationObjectType
    dynamicConstantNames:
        - PACKAGE_ID
        - PACKAGE_NAME
        - RELATIVE_WCF_DIR
        - TMP_DIR
        - WCF_N
        - TIME_NOW
        - WCF_OPTION_INC_PHP_SUCCESS
        - LAST_UPDATE_TIME
        - WCF_UUID
        - WOLTLAB_BRANDING
        - VISITOR_USE_TINY_BUILD
        - ENABLE_DEBUG_MODE
        - ENABLE_BENCHMARK
        - LOG_IP_ADDRESS
        - MODULE_SYSTEM_RECAPTCHA
        - MODULE_SMILEY
        - MODULE_USERS_ONLINE
        - MODULE_USER_RANK
        - MODULE_USER_SIGNATURE
        - MODULE_MEMBERS_LIST
        - MODULE_TEAM_PAGE
        - MODULE_LIKE
        - MODULE_USER_PROFILE_WALL
        - MODULE_TAGGING
        - MODULE_POLL
        - MODULE_WCF_AD
        - PAGE_TITLE
        - PAGE_DESCRIPTION
        - META_DESCRIPTION
        - SHOW_VERSION_NUMBER
        - EXTERNAL_LINK_TARGET_BLANK
        - FOOTER_CODE
        - URL_OMIT_INDEX_PHP
        - URL_TITLE_COMPONENT_REPLACEMENT
        - OFFLINE
        - OFFLINE_MESSAGE
        - OFFLINE_MESSAGE_ALLOW_HTML
        - IMAGE_ADAPTER_TYPE
        - SEARCH_ENGINE
        - EXCEPTION_PRIVACY
        - COOKIE_PREFIX
        - PACKAGE_SERVER_AUTH_CODE
        - PROXY_SERVER_HTTP
        - IP_ADDRESS_SEARCH_ENGINE
        - USER_ONLINE_TIMEOUT
        - ENABLE_USER_AUTHENTICATION_FAILURE
        - USER_AUTHENTICATION_FAILURE_TIMEOUT
        - USER_AUTHENTICATION_FAILURE_IP_CAPTCHA
        - USER_AUTHENTICATION_FAILURE_IP_BLOCK
        - USER_AUTHENTICATION_FAILURE_USER_CAPTCHA
        - USER_AUTHENTICATION_FAILURE_EXPIRATION
        - SIGNATURE_SECRET
        - CAPTCHA_TYPE
        - REGISTER_USE_CAPTCHA
        - LOST_PASSWORD_USE_CAPTCHA
        - RECAPTCHA_PUBLICKEY
        - RECAPTCHA_PRIVATEKEY
        - RECAPTCHA_PRIVATEKEY_INVISIBLE
        - TIMEZONE
        - GOOGLE_MAPS_API_KEY
        - GOOGLE_MAPS_ZOOM
        - GOOGLE_MAPS_DEFAULT_LATITUDE
        - GOOGLE_MAPS_DEFAULT_LONGITUDE
        - MAIL_FROM_NAME
        - MAIL_FROM_ADDRESS
        - MAIL_ADMIN_ADDRESS
        - MAIL_SIGNATURE
        - MAIL_SIGNATURE_HTML
        - MAIL_SEND_METHOD
        - MAIL_SMTP_HOST
        - MAIL_SMTP_PORT
        - MAIL_SMTP_STARTTLS
        - MAIL_SMTP_USER
        - MAIL_SMTP_PASSWORD
        - MAIL_USE_F_PARAM
        - CACHE_SOURCE_TYPE
        - CACHE_SOURCE_REDIS_HOST
        - AVAILABLE_PAYMENT_METHODS
        - PAYPAL_EMAIL_ADDRESS
        - MODULE_PAID_SUBSCRIPTION
        - PAID_SUBSCRIPTION_ENABLE_TOS_CONFIRMATION
        - PAID_SUBSCRIPTION_TOS_URL
        - ATTACHMENT_RETAIN_DIMENSIONS
        - ATTACHMENT_THUMBNAIL_HEIGHT
        - ATTACHMENT_THUMBNAIL_WIDTH
        - MODULE_EDIT_HISTORY
        - EDIT_HISTORY_EXPIRATION
        - ENABLE_SHARE_BUTTONS
        - SHARE_BUTTONS_PROVIDERS
        - MESSAGE_FORCE_SECURE_IMAGES
        - MODULE_IMAGE_PROXY
        - IMAGE_PROXY_INSECURE_ONLY
        - IMAGE_PROXY_EXPIRATION
        - IMAGE_PROXY_HOST_WHITELIST
        - CENSORED_WORDS
        - PASSWORD_MIN_SCORE
        - REGISTER_FORBIDDEN_USERNAMES
        - REGISTER_FORBIDDEN_EMAILS
        - REGISTER_ALLOWED_EMAILS
        - REGISTER_DISABLED
        - REGISTER_ENABLE_DISCLAIMER
        - REGISTER_ACTIVATION_METHOD
        - REGISTER_USERNAME_MIN_LENGTH
        - REGISTER_USERNAME_MAX_LENGTH
        - REGISTER_USERNAME_FORCE_ASCII
        - REGISTER_MIN_USER_AGE
        - REGISTER_ANTISPAM_ACTION
        - GITHUB_PUBLIC_KEY
        - GITHUB_PRIVATE_KEY
        - TWITTER_PUBLIC_KEY
        - TWITTER_PRIVATE_KEY
        - FACEBOOK_PUBLIC_KEY
        - FACEBOOK_PRIVATE_KEY
        - GOOGLE_PUBLIC_KEY
        - GOOGLE_PRIVATE_KEY
        - SIGNATURE_MAX_IMAGE_HEIGHT
        - USER_TITLE_MAX_LENGTH
        - USER_FORBIDDEN_TITLES
        - PROFILE_SHOW_OLD_USERNAME
        - PROFILE_ENABLE_VISITORS
        - MEMBERS_LIST_USERS_PER_PAGE
        - MEMBERS_LIST_DEFAULT_SORT_FIELD
        - MEMBERS_LIST_DEFAULT_SORT_ORDER
        - USERS_ONLINE_SHOW_GUESTS
        - USERS_ONLINE_SHOW_ROBOTS
        - USERS_ONLINE_DEFAULT_SORT_FIELD
        - USERS_ONLINE_DEFAULT_SORT_ORDER
        - USERS_ONLINE_PAGE_REFRESH
        - USERS_ONLINE_ENABLE_LEGEND
        - USERS_ONLINE_RECORD
        - USERS_ONLINE_RECORD_TIME
        - USER_CLEANUP_NOTIFICATION_LIFETIME
        - USER_CLEANUP_ACTIVITY_EVENT_LIFETIME
        - USER_CLEANUP_PROFILE_VISITOR_LIFETIME
        - LIKE_SHOW_SUMMARY
        - MESSAGE_SIDEBAR_ENABLE_ONLINE_STATUS
        - MESSAGE_SIDEBAR_ENABLE_LIKES_RECEIVED
        - MESSAGE_SIDEBAR_ENABLE_ACTIVITY_POINTS
        - MESSAGE_SIDEBAR_USER_OPTIONS
        - TAGGING_MAX_TAG_LENGTH
        - MESSAGE_MAX_QUOTE_DEPTH
        - SEARCH_RESULTS_PER_PAGE
        - SEARCH_DEFAULT_SORT_FIELD
        - SEARCH_DEFAULT_SORT_ORDER
        - POLL_MAX_OPTIONS
        - POLL_FULL_WIDTH
        - MEDIA_SMALL_THUMBNAIL_WIDTH
        - MEDIA_SMALL_THUMBNAIL_HEIGHT
        - MEDIA_SMALL_THUMBNAIL_RETAIN_DIMENSIONS
        - MEDIA_MEDIUM_THUMBNAIL_WIDTH
        - MEDIA_MEDIUM_THUMBNAIL_HEIGHT
        - MEDIA_MEDIUM_THUMBNAIL_RETAIN_DIMENSIONS
        - MEDIA_LARGE_THUMBNAIL_WIDTH
        - MEDIA_LARGE_THUMBNAIL_HEIGHT
        - MEDIA_LARGE_THUMBNAIL_RETAIN_DIMENSIONS
        - MODULE_ARTICLE
        - ARTICLE_SHOW_ABOUT_AUTHOR
        - ARTICLE_ENABLE_COMMENTS_DEFAULT_VALUE
        - ARTICLE_ENABLE_LIKE
        - ARTICLES_PER_PAGE
        - ARTICLE_RELATED_ARTICLES
        - ARTICLE_RELATED_ARTICLES_MATCH_THRESHOLD
        - SHOW_UPDATE_NOTICE_FRONTEND
        - LANGUAGE_USE_INFORMAL_VARIANT
        - SHOW_STYLE_CHANGER
        - ARTICLE_SORT_ORDER
        - USE_PAGE_TITLE_ON_LANDING_PAGE
        - OG_IMAGE
        - HEAD_CODE
        - AVATAR_DEFAULT_TYPE
        - ARTICLE_ENABLE_VISIT_TRACKING
        - ENABLE_AD_ROTATION
        - ENABLE_POLLING
        - FB_SHARE_APP_ID
        - MODULE_CONTACT_FORM
        - SITEMAP_INDEX_TIME_FRAME
        - MODULE_TROPHY
        - ENABLE_DEVELOPER_TOOLS
        - FORCE_LOGIN
        - PAGE_LOGO_LINK_TO_APP_DEFAULT
        - IMAGE_ALLOW_EXTERNAL_SOURCE
        - MESSAGE_ENABLE_TOC
        - MESSAGE_PUBLIC_HIGHLIGHTERS
        - MESSAGE_SIDEBAR_ENABLE_ARTICLES
        - IMAGE_PROXY_ENABLE_PRUNE
        - SEARCH_ENABLE_PAGES
        - SEARCH_ENABLE_ARTICLES
        - ATTACHMENT_IMAGE_AUTOSCALE
        - ATTACHMENT_IMAGE_AUTOSCALE_MAX_WIDTH
        - ATTACHMENT_IMAGE_AUTOSCALE_MAX_HEIGHT
        - ATTACHMENT_IMAGE_AUTOSCALE_FILE_TYPE
        - ATTACHMENT_IMAGE_AUTOSCALE_QUALITY
        - LOG_MISSING_LANGUAGE_ITEMS
        - PRUNE_IP_ADDRESS
        - BREADCRUMBS_HOME_USE_PAGE_TITLE
        - CONTACT_FORM_ENABLE_ATTACHMENTS
        - CONTACT_FORM_PRUNE_ATTACHMENTS
        - IMAGE_EXTERNAL_SOURCE_WHITELIST
        - SEARCH_MAX_COMBINED_TAGS
        - ENABLE_PRODUCTION_DEBUG_MODE
        - BLACKLIST_SFS_ENABLE
        - BLACKLIST_SFS_USERNAME
        - BLACKLIST_SFS_EMAIL_ADDRESS
        - BLACKLIST_SFS_IP_ADDRESS
        - ENABLE_ENTERPRISE_MODE
        - MESSAGE_ENABLE_USER_CONSENT
        - MODIFICATION_LOG_EXPIRATION
        - INTERNAL_HOSTNAMES
        - MODULE_URL_UNFURLING
        - FIRST_TIME_SETUP_STATE
        - FORMATTING_REMOVE_COLOR
        - FORMATTING_REMOVE_FONT
        - FORMATTING_REMOVE_SIZE
        - URL_UNFURLING_SAVE_IMAGES
        - SERVICE_WORKER_PRIVATE_KEY
        - SERVICE_WORKER_PUBLIC_KEY
        - RECAPTCHA_PUBLICKEY_V3
        - RECAPTCHA_PRIVATEKEY_V3
        - IMAGE_CONVERT_FORMAT
        - IMAGE_STRIP_EXIF
