.groupMention {
	background-color: var(--wcfSidebarBackground);
	border-radius: 2px;
	color: var(--wcfSidebarLink);
	padding: 1px 5px;

	&::before {
		content: "@";
	}

	&:hover {
		color: var(--wcfSidebarLinkActive);
	}
}
