.inlineCode, /* deprecated, legacy class */
kbd {
	background-color: rgba(255, 255, 255, 1) !important;
	border: 1px solid rgba(196, 196, 196, 1) !important;
	border-radius: 2px;
	color: rgba(68, 68, 68, 1) !important;
	/* do not use inline-block, it breaks arrow key navigation in Firefox and Internet Explorer 11 */
	display: inline;
	font-family: Consolas, 'Courier New', monospace;
	font-style: normal;
	font-weight: normal;
	margin: 1px 2px;
	overflow: auto;
	padding: 0 4px;
	text-decoration: none;
	vertical-align: middle;
	word-break: break-all;
	word-wrap: break-word;
}
