.mediaBBCode {
	display: inline-table;
	max-width: 100%;

	.mediaBBCodeCaption {
		color: var(--wcfContentDimmedText);
		// https://stackoverflow.com/a/11652170/782822
		display: table-caption;
		caption-side: bottom;
		margin-top: 5px;
		text-align: center;

		@include wcfFontSmall;

		.mediaBBCodeCaptionAlignment {
			// https://stackoverflow.com/a/43627669/782822
			display: inline-block;
			text-align: justify;
		}
	}

	video {
		max-width: 100%;
		max-height: 72vh;
	}
}

iframe.instagram-media {
	/* workaround for broken iframes without height on mobile */
	min-height: 530px;

	/* Prevent the <iframe> from overlapping adjacent elements. */
	position: relative !important;
}

.twitter-tweet > iframe {
	/* Workaround for ugly border in embedded tweets. */
	border-radius: 13px;
}

.mediaBBCodeContainerLeft {
	display: flex;
	justify-content: start;
}

.mediaBBCodeContainerRight {
	display: flex;
	justify-content: end;
}

.mediaBBCodeContainerCenter {
	display: flex;
	justify-content: center;
}
