.mediaBBCode {
	display: inline-block;
	max-width: 100%;
	
	.mediaBBCodeCaption {
		color: $wcfContentDimmedText;
		display: block;
		margin-top: 5px;
		text-align: center;
		
		@include wcfFontSmall;
	}
}
