.mediaBBCode {
	display: inline-block;
	max-width: 100%;
	
	.mediaBBCodeCaption {
		color: $wcfContentDimmedText;
		display: block;
		margin-top: 5px;
		text-align: center;
		
		@include wcfFontSmall;
	}
}

/* workaround for broken iframes without height on mobile */
iframe.instagram-media {
	min-height: 530px;
}
