.quoteBox {
	background-color: var(--wcfContentBackground);
	border-left: 5px solid var(--wcfContentBorderInner);
	border-radius: 0 var(--wcfBorderRadius) var(--wcfBorderRadius) 0;
	clear: both;
	column-gap: 5px;
	display: grid;
	font-style: normal;
	grid-template-areas:
		"icon title"
		"content content";
	grid-template-columns: 24px auto;
	margin: 1em 0;
	overflow: hidden;
	padding: 15px 10px;
	row-gap: 10px;
}

.quoteBox.collapsed {
	position: relative;

	> .quoteBoxContent {
		overflow: hidden;
		max-height: 100px;
	}

	> .toggleButton {
		bottom: 0;
		box-shadow: 0 -10px 50px 10px rgba(var(--wcfContentBackground-rgb) / 0.9);
		left: 0;
		padding-bottom: 10px;
		position: absolute;
		right: 0;
		z-index: 1;
	}
}

.quoteBox > .toggleButton {
	background-color: rgba(var(--wcfContentBackground-rgb) / 0.9);
	cursor: pointer;
	display: block;
	grid-column: 1 / -1;
	padding: 10px 20px 0 10px;
	text-align: center;

	@include wcfFontSmall;
}

.quoteBoxTitle {
	align-self: center;
	color: var(--wcfContentDimmedText);
	grid-area: title;

	a {
		color: inherit;
	}

	a:hover {
		color: inherit;
		text-decoration: underline;
	}
}

.quoteBoxIcon {
	color: var(--wcfContentDimmedText);
	display: flex;
	grid-area: icon;
}

.quoteBoxContent {
	grid-area: content;

	> :first-child {
		margin-top: 0 !important;
	}

	> :last-child {
		margin-bottom: 0 !important;
	}
}
