.spoilerBox[open] .spoilerContent {
	background-color: var(--wcfContentBackground);
	border: 1px solid var(--wcfContentBorderInner);
	border-radius: var(--wcfBorderRadius);
	margin-top: 5px;
	padding: 10px;
}

.spoilerContent > :first-child {
	margin-top: 0 !important;
}

.spoilerContent > :last-child {
	margin-bottom: 0 !important;
}
