.spoilerBox {
	background-color: var(--wcfContentBackground);
	border: 1px solid var(--wcfContentBorderInner);
	border-radius: var(--wcfBorderRadius);
	margin: 1em 0;
}

.spoilerSummary {
	padding: 10px;
}

.spoilerBox[open] .spoilerContent {
	padding: 0 10px 10px 10px;
}

.spoilerContent > :first-child {
	margin-top: 0 !important;
}

.spoilerContent > :last-child {
	margin-bottom: 0 !important;
}
