.ck.ck-content .mention,
.userMention {
	background-color: var(--wcfSidebarBackground);
	border-radius: 2px;
	padding: 1px 5px;
}

.userMention::before {
	content: "@";
	/* avoids breaks between the '@' and the username, but still allows
		   wrapping inside the username itself */
	display: inline-block;
}
