/* scale embedded videos to maximum width */
.videoContainer {
	display: block;
	overflow: hidden;
	padding-bottom: 56.25%; /* 9 / 16 */
	position: relative;
	
	iframe, video {
		height: 100%;
		position: absolute;
		width: 100%;
	}
}
