/* makes an inline-list */
.inlineList {
	@include inlineList;
}

/* restores the native styling for lists */
.nativeList {
	margin: 1em 0 1em 40px;

	li {
		margin: 7px 0;
	}
}
ul.nativeList {
	list-style-type: disc;
}
ol.nativeList {
	list-style-type: decimal;
}

/* tag cloud list */
.tagList {
	@include inlineList;

	align-items: baseline;
	margin-bottom: -4px;
	margin-right: -8px;

	> li {
		margin-bottom: 4px;
		margin-right: 8px;
	}

	.tag {
		background-color: var(--wcfButtonBackground);
		clip-path: polygon(0 50%, 1em 0%, 100% 0%, 100% 100%, 1em 100%);
		color: var(--wcfButtonText);
		display: inline-block;
		margin-left: 11px;
		padding: 3px 6px 2px 2px;
		padding-left: calc(1em + 2px);
		position: relative;
		text-decoration: none;

		@include wcfFontSmall;
		@include wcfFontBold;

		&:hover {
			background-color: var(--wcfButtonPrimaryBackgroundActive);
			color: var(--wcfButtonPrimaryTextActive);
			text-decoration: none;
		}
	}

	.tagWeight1 {
		font-size: 12px;
	}

	.tagWeight2 {
		font-size: 14px;
	}

	.tagWeight3 {
		font-size: 16px;
	}

	.tagWeight4 {
		font-size: 18px;
	}

	.tagWeight5 {
		font-size: 20px;
	}

	.tagWeight6 {
		font-size: 23px;
	}

	.tagWeight7 {
		font-size: 28px;
	}
}

/* list of smileys */
.smileyList {
	align-items: center;
	row-gap: 5px;
}

/* legacy styling (deprecated) */
ol.dataList,
ul.dataList {
	@include inlineList;
	@include wcfFontSmall;

	> li {
		&:not(:last-child):after {
			content: ",";
			padding-left: 1px;
		}
	}
}
