/* makes an inline-list */
.inlineList {
	display: flex;
	flex-wrap: wrap;
	
	> li {
		flex: 0 auto;
		
		&:not(:last-child) {
			margin-right: 5px;
		}
		
		> a {
			// @todo: still necessary?
			/*display: inline-flex;*/
		}
	}
	
	/* adds a comma after each list item */
	&.commaSeparated {
		> li {
			&:not(:last-child):after {
				content: ",";
				padding-left: 1px;
			}
		}
	}
	
	/* adds a dot after each list item */
	&.dotSeparated {
		> li {
			&:not(:last-child):after {
				content: "\00b7";
				margin-left: 5px;
			}
		}
	}
}

/* restores the native styling for lists */
.nativeList {
	margin: 1em 0 1em 40px;
	
	li {
		margin: 7px 0;
	}
}
ul.nativeList {
	list-style-type: disc;
}
ol.nativeList {
	list-style-type: decimal;
}

/* tag cloud list */
.tagList {
	@extend .inlineList;
	
	align-items: baseline;
}

/* list of smileys */
.smileyList {
	align-items: center;
}

/* legacy styling (deprecated) */
ol.dataList,
ul.dataList {
	@extend .inlineList;
	@extend .wcfFontSmall;
	
	> li {
		&:not(:last-child):after {
			content: ",";
			padding-left: 1px;
		}
	}
}
