/* makes an inline-list */
.inlineList {
	@include inlineList;
}

/* restores the native styling for lists */
.nativeList {
	margin: 1em 0 1em 40px;
	
	li {
		margin: 7px 0;
	}
}
ul.nativeList {
	list-style-type: disc;
}
ol.nativeList {
	list-style-type: decimal;
}

/* tag cloud list */
.tagList {
	@include inlineList;
	
	align-items: baseline;
	
	> li:not(:last-child) {
		margin-right: 8px;
	}
	
	.tag {
		background-color: $wcfButtonBackground;
		color: $wcfButtonText;
		display: inline-block;
		margin-left: 11px;
		padding: 3px 6px 2px 2px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		
		@include wcfFontSmall;
		@include wcfFontBold;
		
		&::before {
			border: 11px solid transparent;
			border-left-width: 0;
			border-right-color: $wcfButtonBackground;
			content: "";
			display: block;
			left: -11px;
			position: absolute;
			top: 0;
		}
		
		&:hover {
			background-color: $wcfButtonPrimaryBackgroundActive;
			color: $wcfButtonPrimaryTextActive;
			text-decoration: none;
			
			&::before {
				border-right-color: $wcfButtonPrimaryBackgroundActive;
			}
		}
	}
	
	.tagWeight1 {
		font-size: 12px;
	}
	
	.tagWeight2 {
		font-size: 14px;
	}
	
	.tagWeight3 {
		font-size: 16px;
	}
	
	.tagWeight4 {
		font-size: 18px;
	}
	
	.tagWeight5 {
		font-size: 20px;
	}
	
	.tagWeight6 {
		font-size: 23px;
	}
	
	.tagWeight7 {
		font-size: 28px;
	}
}

/* list of smileys */
.smileyList {
	align-items: center;
}

/* legacy styling (deprecated) */
ol.dataList,
ul.dataList {
	@include inlineList;
	@include wcfFontSmall;
	
	> li {
		&:not(:last-child):after {
			content: ",";
			padding-left: 1px;
		}
	}
}
