/* ### system notifications ### */
/* default values */
.info,
.error,
.success,
.warning {
	border-width: 1px;
	border-style: solid;
	line-height: 1.5;
	margin-top: @wcfGapMedium;
	padding: @wcfGapSmall+@wcfGapTiny @wcfGapMedium @wcfGapSmall+@wcfGapTiny 48px;
	position: relative;
	
	&::after {
		font-family: FontAwesome;
		font-size: 28px;
		display: block;
		height: 32px;
		left: 13px;
		margin-top: -19px;
		position: absolute;
		top: 50%;
		width: 32px;
	}
	
	a {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 800px) {
	.info,
	.error,
	.success,
	.warning {
		margin-left: @wcfGapSmall;
		margin-right: @wcfGapSmall;
		padding: @wcfGapTiny @wcfGapSmall;
		
		&::after {
			display: none;
		}
	}
}

/* types */
.info {
	background-color: @wcfInfoBackgroundColor;
	border-color: @wcfInfoBorderColor;
	color: @wcfInfoColor;
	
	.textShadow(@wcfInfoBackgroundColor);
	
	&::after {
		content: "\f05a";
	}
	
	a,
	a:hover {
		color: @wcfInfoColor;
	}
	
	.icon {
		color: @wcfInfoColor;
		.textShadow(@wcfInfoBackgroundColor);
	}
}

.success {
	background-color: @wcfSuccessBackgroundColor;
	border-color: @wcfSuccessBorderColor;
	color: @wcfSuccessColor;
	
	.textShadow(@wcfSuccessBackgroundColor);
	
	&::after {
		content: "\f058";
	}
	
	a,
	a:hover {
		color: @wcfSuccessColor;
	}
	
	.icon {
		color: @wcfSuccessColor;
		.textShadow(@wcfSuccessBackgroundColor);
	}
}

.warning {
	background-color: @wcfWarningBackgroundColor;
	border-color: @wcfWarningBorderColor;
	color: @wcfWarningColor;
	
	.textShadow(@wcfWarningBackgroundColor);
	
	&::after {
		content: "\f071";
	}
	
	a,
	a:hover {
		color: @wcfWarningColor;
	}
	
	.icon {
		color: @wcfWarningColor;
		.textShadow(@wcfWarningBackgroundColor);
	}
}

.error {
	background-color: @wcfErrorBackgroundColor;
	border-color: @wcfErrorBorderColor;
	color: @wcfErrorColor;
	
	.textShadow(@wcfErrorBackgroundColor);
	
	&::after {
		content: "\f05e";
	}
	
	a,
	a:hover {
		color: @wcfErrorColor;
	}
	
	.icon {
		color: @wcfErrorColor;
		.textShadow(@wcfErrorBackgroundColor);
	}
}

/* inline errors */
.innerError {
	background-color: @wcfErrorBackgroundColor;
	border: 1px solid @wcfErrorBorderColor;
	color: @wcfErrorColor;
	display: table;
	line-height: 1.5;
	margin-top: 8px;
	padding: 2px 10px;
	position: relative; /* Firefox support (from version 10 on) is buggy */
	
	/* pointer */
	&::after {
		border: 7px solid transparent;
		border-bottom-color: @wcfErrorBorderColor;
		border-top-width: 0;
		content: "";
		display: inline-block;
		left: 9px;
		position: absolute;
		top: -7px;
		z-index: 100;
	}
	
	&::before {
		border: 6px solid transparent;
		border-bottom-color: @wcfErrorBackgroundColor;
		border-top-width: 0;
		content: "";
		display: inline-block;
		left: 10px;
		position: absolute;
		top: -6px;
		z-index: 101;
	}
}
