/* #### Attachments #### */

/* attachment form */
.formAttachmentList {
	border-bottom: 1px solid @wcfContainerBorderColor;
	padding-bottom: @wcfGapSmall;
	
	> li {
		width: 33%;
		float: left;
		//background-color: red;
		//position: relative;

		> .thumbnail {
			width: 48px;
			height: 48px;
			border-radius: 5px;
		}
		
		hgroup {
			float: left;
			margin-right: @wcfGapSmall;
		}
		
		> div {
			padding-top: @wcfGapSmall;
		}
		
		ul {
			
		}
	}
}

.formAttachmentContent {
	dl {
		margin-top: 0;
	}
}