/* ############## Badges ############## */

/* Globals */
// sets default badge shadows depending on background color
.badgeShadow(@backgroundColor) when (lightness(@backgroundColor) >= 50%) {
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
}
.badgeShadow(@backgroundColor) when (lightness(@backgroundColor) < 50%) {
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 1);
}


.badge {
	background-color: @wcfColor;
	border-radius: 13px;
	color: @wcfPageLinkHoverColor;
	display: inline-block;
	font-size: @wcfSmallFontSize;
	padding: 1px 8px 2px;
	position: relative;
	text-shadow: none;
	white-space: nowrap;
	
	.badgeShadow(@wcfContentBackgroundColor);
	
	&.badgeUpdate {
		background-color: #369;
		color: @wcfPageLinkHoverColor;
	}
	
	&.badgeGreen {
		background-color: @successColor;
		color: #fff;
	}
	
	&.badgeRed {
		background-color: @errorColor;
		color: #fff;
	}
	
	&.badgeInverse {
		background-color: @wcfPageLinkHoverColor;
		color: @wcfPageBackgroundColor;
		
		.badgeShadow(@wcfPageBackgroundColor);
	}
}

/* special */
.containerHeadline h1 .badge {
	font-size: 70%;
	top: -1px;
}

.boxHeadline > hgroup h1 .badge {
	font-size: 50%;
	top: -3px;
}

.mainMenu .badge {
	font-size: 70%;
	top: -1px;
}

.mainMenu .active .badge {
	font-size: 65%;
	top: -2px;
}