/* ############## Badges ############## */

/* Globals */
// sets default badge shadows depending on background color
.badgeShadow(@backgroundColor) when (lightness(@backgroundColor) >= 50%) {
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
}
.badgeShadow(@backgroundColor) when (lightness(@backgroundColor) < 50%) {
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 1);
}


.badge {
	background-color: @wcfColor;
	border-radius: 13px;
	color: @wcfPageLinkHoverColor;
	display: inline-block;
	font-size: 11px;
	padding: 2px 8px;
	position: relative;
	text-shadow: none;
	white-space: nowrap;
	
	.badgeShadow(@wcfContentBackgroundColor);
	
	&.badgeUpdate {
		background-color: #336699;
		color: @wcfPageLinkHoverColor;
	}
	
	&.badgeGreen {
		background-color: @successColor;
		color: #fff;
	}
	
	&.badgeRed {
		background-color: @errorColor;
		color: #fff;
	}
	
	&.badgeInverse {
		background-color: @wcfPageLinkHoverColor;
		color: @wcfPageBackgroundColor;
		
		.badgeShadow(@wcfPageBackgroundColor);
	}
}