/* ############## Badges ############## */

// sets default badge shadows depending on background color
.badgeShadow(@backgroundColor) when (lightness(@backgroundColor) >= 50%) {
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
}
.badgeShadow(@backgroundColor) when (lightness(@backgroundColor) < 50%) {
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 1);
}

/* default values */
.badge {
	background-color: @wcfColor;
	border-radius: 13px;
	color: @wcfContentBackgroundColor;
	display: inline-block;
	font-size: @wcfSmallFontSize;
	padding: 1px 8px 2px;
	position: relative;
	text-shadow: none;
	white-space: nowrap;
	
	.badgeShadow(@wcfContentBackgroundColor);
	
	/* colors */
	&.badgeUpdate {
		background-color: @wcfTabularBoxBackgroundColor;
		color: @wcfTabularBoxColor;
	}
	
	&.badgeGreen {
		background-color: @wcfSuccessBackgroundColor;
		color: @wcfSuccessColor;
	}
	
	&.badgeRed {
		background-color: @wcfErrorBackgroundColor;
		color: @wcfErrorColor;
	}
	
	&.badgeInverse {
		background-color: @wcfTabularBoxColor;
		color: @wcfTabularBoxBackgroundColor;
		
		.badgeShadow(@wcfTabularBoxBackgroundColor);
	}
}

/* special */
.containerHeadline h1 .badge {
	font-size: 70%;
	top: -1px;
}

.boxHeadline > hgroup h1 .badge {
	font-size: 50%;
	top: -3px;
}

.mainMenu .badge {
	font-size: 70%;
	top: -1px;
}

.mainMenu .active .badge {
	font-size: 65%;
	top: -2px;
}

.tabularBoxTitle > hgroup > h1 .badge {
	font-size: 70%;
	top: -1px;
}