/* ############## Bread Crumbs ############## */

/* Globals */

.breadcrumbs {
	background-color: @wcfContentBackgroundColor;
	border: 1px solid @wcfContainerBorderColor;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	position: relative;
	text-align: left;
	
	.borderRadius();
	
	> ul {
		> li {
			float: left;
			font-size: @wcfSmallFontSize;
			list-style: none;
			max-width: 30%;
			position: relative;
			
			.transition(max-width, .2s);
			
			&:hover {
				max-width: 100%;
				
				a {
					background-color: @wcfContainerAccentBackgroundColor;
					position: relative;
					z-index: 10;
				}
				
				> .pointer > span {
					border-color: transparent transparent transparent @wcfContainerAccentBackgroundColor;
				}
			}
			
			> .pointer {
				border-color: transparent transparent transparent @wcfContainerBorderColor;
				border-style: solid none solid solid;
				border-width: 15px;
				display: block !important;
				height: 0;
				position: absolute;
				right: -15px;
				top: -4px;
				width: 0;
				z-index: 20;
				
				> span {
					border-color: transparent transparent transparent @wcfContentBackgroundColor;
					border-style: solid none solid solid;
					border-width: 15px;
					display: block;
					height: 0;
					left: -16px;
					overflow: hidden;
					position: absolute;
					text-indent: -9000px;
					top: -15px;
					width: 0;
				}
			}
			
			> a {
				color: @wcfColor;
				display: block;
				margin: 0;
				overflow: hidden;
				padding: 5px 1px 5px 20px;
				text-decoration: none;
				white-space: nowrap;
				
				.textShadow(@wcfContentBackgroundColor);
			}
			
			&:first-child > a {
				background-image: url('../icon/home1.svg');
				background-position: 7px center;
				background-repeat: no-repeat;
				background-size: 16px;
				padding-left: 30px;
				
				.borderRadius(@wcfContainerBorderRadius - 2, 0, 0, @wcfContainerBorderRadius - 2);
			}
		}
	}
}