/* default values */
button,
input[type='reset'],
input[type='submit'],
input[type='button'],
.button {
	border-radius: 30px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	font-weight: bold;
	margin: 0 2px;
	padding: 5px 13px;
}

/* normal state */
.button,
input[type='reset']:not([disabled]),
input[type='submit']:not([disabled]),
input[type='button']:not([disabled]),
button:not([disabled]) {
	border-color: lighten(@wcfButtonBorderColor, 7%) @wcfButtonBorderColor darken(@wcfButtonBorderColor, 7%);
	color: @wcfButtonColor;
	text-decoration: none;
	
	.boxShadow(0, 1px, rgba(0, 0, 0, .1), 3px);
	.linearGradient(lighten(@wcfButtonBackgroundColor, 5%), lighten(@wcfButtonBackgroundColor, 10%), lighten(@wcfButtonBackgroundColor, 5%) 2px, @wcfButtonBackgroundColor);
	.textShadow(@wcfButtonBackgroundColor);
	.transition(~"background-color, background-image, border, box-shadow, color", .1s);
}

/* primary */
.button.buttonPrimary,
input[type='submit']:not([disabled]),
input[type='button']:not([disabled]).buttonPrimary,
button:not([disabled]).buttonPrimary {
	border-color: lighten(@wcfButtonPrimaryBorderColor, 7%) @wcfButtonPrimaryBorderColor darken(@wcfButtonPrimaryBorderColor, 7%);
	color: @wcfButtonPrimaryColor;
	
	.boxShadowNative(~"0 1px 3px rgba(0, 0, 0, .1), 0 0 10px" @wcfButtonPrimaryBorderColor);
	.linearGradient(lighten(@wcfButtonPrimaryBackgroundColor, 5%), lighten(@wcfButtonPrimaryBackgroundColor, 10%), lighten(@wcfButtonPrimaryBackgroundColor, 5%) 2px, @wcfButtonPrimaryBackgroundColor);
	.textShadow(@wcfButtonPrimaryBackgroundColor);
}

/* hover */
.button:hover,
input[type='reset']:not([disabled]):hover,
input[type='submit']:not([disabled]):hover,
input[type='button']:not([disabled]):hover,
button:not([disabled]):hover {
	border-color: lighten(@wcfButtonHoverBorderColor, 7%) @wcfButtonHoverBorderColor darken(@wcfButtonHoverBorderColor, 7%);
	color: @wcfButtonHoverColor;
	text-decoration: none;
	
	.boxShadowNative(~"0 1px 3px rgba(0, 0, 0, .1), 0 0 10px" @wcfButtonHoverBorderColor);
	.linearGradient(lighten(@wcfButtonHoverBackgroundColor, 5%), lighten(@wcfButtonHoverBackgroundColor, 10%), lighten(@wcfButtonHoverBackgroundColor, 5%) 2px, @wcfButtonHoverBackgroundColor);
	.textShadow(@wcfButtonHoverBackgroundColor);
}

/* active (pressed) */
.button:active,
input[type='reset']:not([disabled]):active,
input[type='submit']:not([disabled]):active,
input[type='button']:not([disabled]):active,
button:not([disabled]):active,
.dropdownOpen .dropdownToggle.button {
	border-color: darken(@wcfButtonHoverBorderColor, 7%) @wcfButtonHoverBorderColor lighten(@wcfButtonHoverBorderColor, 7%);
	color: @wcfButtonHoverColor;
		
	.boxShadowNative(~"inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 10px" @wcfButtonHoverBorderColor);
	.linearGradient(lighten(@wcfButtonHoverBackgroundColor, 5%), lighten(@wcfButtonHoverBackgroundColor, 10%), lighten(@wcfButtonHoverBackgroundColor, 5%) 2px, @wcfButtonHoverBackgroundColor, bottom);
	.textShadow(@wcfButtonHoverBackgroundColor);
}

/* disabled state */
input[type='reset']:disabled,
input[type='submit']:disabled,
input[type='button']:disabled,
button:disabled {
	border-color: darken(@wcfButtonBorderColor, 7%) @wcfButtonBorderColor lighten(@wcfButtonBorderColor, 7%);
	cursor: not-allowed;
	color: @wcfButtonColor;
	
	.boxShadow(0, 1px, rgba(0, 0, 0, .1), 3px);
	.linearGradient(lighten(@wcfButtonBackgroundColor, 5%), lighten(@wcfButtonBackgroundColor, 10%), lighten(@wcfButtonBackgroundColor, 5%) 2px, @wcfButtonBackgroundColor, bottom);
	.textShadow(@wcfButtonBackgroundColor);
}

/* active (permanently) */
.button.active,
input[type='button'].active,
button.active,
.button.active:hover,
input[type='button'].active:hover,
button.active:hover {
	border-color: darken(@wcfButtonColor, 5%);
	color: lighten(@wcfButtonBackgroundColor, 5%);
	
	.boxShadow(0, 1px, rgba(0, 0, 0, .1), 3px);	
	.linearGradient(@wcfButtonColor, darken(@wcfButtonColor, 10%), @wcfButtonColor 3px);
	.textShadow(darken(@wcfButtonColor, 10%));
}


/* button list */
.buttonList {
	> li {
		display: inline;
	}
}

/* sidebar buttons */
.sidebar {
	button,
	input[type='reset'],
	input[type='submit'],
	input[type='button'],
	.button {
		font-size: 75% !important;
		padding: 3px 7px;
	}
}

/* button icons */
.button > img {
	margin: -5px 1px -5px -5px;
	vertical-align: middle;
}