/* 

Color Picker Styles 
File: colorPicker.css 
Copyright 2006-2011 by WoltLab GmbH. 

*/

/* ### -- -- -- -- -- Color Picker -- -- -- -- -- ### */

input.colorPicker {
	font-family: "Courier New", Courier, monospace;
	margin-right: 3px;
	width: auto !important;
}

input[class~='colorPicker'] + script + img.colorPicker {
	margin-top: -5px;
}

img.colorPicker:hover {
	cursor: pointer;
}

/* ### -- -- -- -- -- Color Picker Full -- -- -- -- -- ### */

#colorPickerFull {
	border-width: 0 0 1px 1px;
	border-style: solid:
	border-color: #000;
	background-color: #000;
	position: absolute;
	height: 192px;
	width: 304px;
	z-index: 100;
}

#colorPickerFull ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	position: relative;
}

#colorPickerFull ul:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

#colorPickerFull li {
	border-width: 1px 1px 0 0;
	border-style: solid:
	border-color: #000;
	display: block;
	float: left;
	height: 15px;
	width: 15px;
}

#colorPickerFull a {
	border: 1px solid transparent;
	display: block;
	height: 13px;
	width: 13px;
}

#colorPickerFull a:hover {
	border: 1px solid #fff !important;
}

#colorPickerFull .colorColumn {
	width: 96px;
}

#colorPickerFull .greyColumn {
	width: 16px;
}

/* ### -- -- -- -- -- Color Picker Simple -- -- -- -- -- ### */

#colorPickerSimple {
	background-color: #000;
	float: left;
	width: 113px !important;
	position: absolute;
	z-index: 100;
}

#colorPickerSimple ul {
	list-style: none;
	margin: 0;
	padding: 1px 0 0 1px;
	width: auto;
}

#colorPickerSimple ul li {
	font-size: 0 !important;
	margin: 0 1px 1px 0 !important;
	padding: 0 !important;
	float: left !important;
	display: block !important;
	height: 15px !important;
	width: 15px !important;
}

#colorPickerSimple ul li a, #colorPickerSimple ul li a:hover {
	background-image: none;
	background-repeat: no-repeat !important;
	background-position: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	display: block !important;
	height: 15px !important;
	width: 15px !important;
}

#colorPickerSimple ul li a:hover {
	border: 1px solid #fff !important;
	background-repeat: no-repeat !important;
	background-position: -1px -1px !important;
	width: 13px !important;
	height: 13px !important;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
