/* ############## Profile Comments ############## */

.commentList {
	.comment, .commentResponse {
		position: relative;
	}
	
	.commentOptions {
		display: block;
		position: absolute;
		top: @wcfGapMedium;
		right: @wcfGapMedium;
		
		li {
			float: left;
			opacity: 0;
			
			.transition(opacity, .1s);
			
			a {
				padding: 4px;
			}
		}
	}
	
	.commentResponseList .commentOptions {
		top: @wcfGapSmall;
		right: @wcfGapSmall;
	}
	
	.commentContent:hover .commentOptions li {
		opacity: 1;
	}

	.commentAdd small, .commentResponseAdd small {
		color: @wcfDimmedColor;
	}
	
	.commentContent:not(.commentResponseContent) {
		margin-bottom: @wcfGapMedium;
	}
	
	.commentResponseList .commentResponse {
		border-top: 1px solid @wcfContainerBorderColor;
		padding: @wcfGapSmall;
	}
	
	.commentResponseAdd {
		border-top: 1px solid @wcfContainerBorderColor;
		padding: 7px 7px 0;
	}
	
	.commentResponseAdd ~ .commentResponseList .commentResponse:first-child {
		margin-top: 7px;
	}
}

.commentList > li:nth-child(2n) .commentResponseList > li:nth-child(2n+1) {
	background-color: @wcfContainerBackgroundColor;
	
	.transition(background-color, .1s);
}

.commentList > li:nth-child(2n+1) .commentResponseList > li:nth-child(2n+1) {
	background-color: @wcfContainerAccentBackgroundColor;
	
	.transition(background-color, .1s);
}

.commentResponseList > li:hover {
	background-color: @wcfHighlightBackgroundColor !important;
}

.commentList > li:not(.commentAdd):hover {
	background-color: @wcfContainerBackgroundColor;
	
	&:nth-child(2n) {
		background-color: @wcfContainerAccentBackgroundColor;
	}
}

/* like display */
.commentList .likesDisplay {
	display: inline-block;
	margin: -2px 0 -2px @wcfGapTiny;
}

/* Toggle Comments Links */
.commentResponsePrevious,
.commentResponseRecent {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7px;
	
	a {
		border-radius: 3px;
		display: inline-block;
		padding: 3px 13px;
		white-space: nowrap;
	}
}