/* ############## Profile Comments ############## */
.comment,
.commentResponse {
	position: relative;
}

.commentList .buttonGroupNavigation {
	position: absolute;
	top: @wcfGapTiny;
	right: @wcfGapMedium;
	
	> ul {
		> li {
			float: left;
			opacity: 0;
			
			.transition(opacity, .1s);
			
			> a {
				padding: @wcfGapTiny;
			}
		}
	}
}

.commentResponseList .buttonGroupNavigation {
	right: @wcfGapSmall;
}

.commentContent:hover > .buttonGroupNavigation > ul > li {
	opacity: 1;
}

.commentList input[type='text'] {
	+ small {
		color: @wcfDimmedColor;
		opacity: 0;
		
		.transition(opacity, .1s);
	}
	
	&:focus + small {
		opacity: 1;
	}
}

.commentResponse {
	border-top: 1px solid @wcfContainerBorderColor;
	padding: @wcfGapSmall;
}

.commentOptionContainer {
	> ul {
		font-size: 0;
		
		> li {
			&:not(:last-child)::after {
				content: " - ";
			}
			
			display: inline-block;
			font-size: @wcfSmallFontSize;
			padding-right: 3px;
		}
	}
}

.commentOptionContainer.jsAddResponseActive,
.commentResponseList + .commentOptionContainer {
	border-top: 1px solid @wcfContainerBorderColor;
	padding: @wcfGapSmall @wcfGapSmall 0;
}

.commentContent + .commentOptionContainer:not(.jsAddResponseActive) {
	margin-top: @wcfGapTiny;
}

.commentContent + .commentOptionContainer.jsAddResponseActive {
	margin-top: @wcfGapMedium;
}

.commentResponseList .commentResponse:first-child {
	margin-top: @wcfGapMedium;
}

.commentList > li:nth-child(2n) .commentResponseList .commentResponse:nth-child(2n+1) {
	background-color: @wcfContainerBackgroundColor;
	
	.transition(background-color, .1s);
}

.commentList > li:nth-child(2n+1) .commentResponseList .commentResponse:nth-child(2n+1) {
	background-color: @wcfContainerAccentBackgroundColor;
	
	.transition(background-color, .1s);
}

.commentResponseList > li:hover {
	background-color: @wcfContainerHoverBackgroundColor !important;
}

.commentList > li:not(.commentAdd):hover {
	background-color: @wcfContainerBackgroundColor;
	
	&:nth-child(2n) {
		background-color: @wcfContainerAccentBackgroundColor;
	}
}

/* buttons to load comments/responses */
.commentList > .commentLoadNext {
	text-align: center;
	
	> button {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.commentList .userMessage {
	margin-top: 0;
}

.commentResponseContent {
	position: relative;
}

/* like display */
.commentList .likesBadge {
	display: inline-block;
	margin: -2px 0 -2px @wcfGapTiny;
}

@media only screen and (max-width: 800px) {
	.commentList .buttonGroupNavigation {
		top: 1px;
		right: 7px;
	}
	
	.commentResponseList .buttonGroupNavigation {
		right: 0;
	}
	
	.commentList .containerHeadline > h3 {
		padding-right: 35px;
	}
	
	.commentResponseContent > .containerHeadline > h3 {
		padding-right: 28px;
	}
}