.dialogContainer {
	background: rgba(0, 0, 0, .4);
	border: 14px solid transparent;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	min-width: 500px;
	position: fixed;
	
	.boxShadow(0, 1px, rgba(0, 0, 0, .3), 23px);
}

@media only screen and (max-width: 800px) {
	.dialogContainer {
		border: 0;
		border-radius: 0;
		left: 0 !important;
		max-width: none;
		min-width: 0;
		position: absolute;
		top: 0 !important;
		width: 100%;
	}
}

.dialogTitlebar {
	background-color: @wcfTabularBoxBackgroundColor;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	display: block;
	padding: 10px 20px;
	min-height: 27px;
	position: relative;
	
	.dialogTitle {
		color: @wcfTabularBoxColor;
		display: block;
		font-size: @wcfHeadlineFontSize;
		font-weight: bold;
		margin-right: 28px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		
		.textShadow(@wcfTabularBoxBackgroundColor);
	}
	
	.dialogCloseButton {
		color: @wcfTabularBoxColor;
		cursor: pointer;
		display: inline-block;
		font-family: FontAwesome;
		font-size: 28px;
		height: 32px;
		position: absolute;
		right: 10px;
		text-align: center;
		text-decoration: none;
		top: 7px;
		width: 32px;
		
		.textShadow(@wcfTabularBoxBackgroundColor);
		
		&::before {
			content: "\f057";
		}
		
		span {
			display: none;
		}
	}
}

@media only screen and (max-width: 800px) {
	.dialogTitlebar {
		border-radius: 0;
	}
}

.dialogContent {
	background-color: @wcfContainerBackgroundColor;
	color: @wcfColor;
	padding: 10px 20px 20px;
	
	&:not(.dialogForm) {
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
	}
	
	> .icon-spinner {
		left: 50%;
		margin: -21px -21px 0 0;
		padding: 0 21px 0 21px;
		position: absolute;
		top: 50%;
	}
	
	dl:not(.plain) {
		> dt {
			width: 170px;
		}
		
		> dd {
			margin-left: 190px;
		}
	}
	
	.formSubmit {
		background-color: @wcfContainerAccentBackgroundColor;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		border-top: 1px solid @wcfContainerBorderColor;
		bottom: 0;
		left: 0;
		padding: 10px 0;
		position: absolute;
		width: 100%;
	}
}

@media only screen and (max-width: 800px) {
	.dialogContent {
		max-height: none !important;
		max-width: none !important;
		
		&:not(.dialogForm) {
			border-radius: 0;
		}
		
		.formSubmit {
			border-radius: 0;
		}
	}
}

.dialogOverlay {
	background-color: rgba(0, 0, 0, .5);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

/* package (un-)installation */
#packageInstallationDialogContainer > .boxHeadline {
	margin-top: 0;
}

.spinner {
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 6px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #fff;
	left: 50%;
	padding: 7px 0;
	position: fixed;
	text-align: center;
	top: 200px;
	z-index: 401;

	.boxShadow(0, 1px, rgba(0, 0, 0, .5), 7px);
	.linearGradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));

	> .icon {
		color: #fff;
	}
	
	> span:not(.icon) {
		display: block;
		margin-top: @wcfGapSmall;
	}
}

.systemConfirmation p {
	padding-top: @wcfGapSmall;
}

/* notification overlay */
#systemNotification {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 460;
	
	> p {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top-width: 0;
		display: table;
		margin: 0 auto;
		max-width: 80%;
	}
}