/* #### Labels #### */
.badge.label {
	font-size: 90%;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	
	/* default label colors */
	&.black {
		background-color: #333;
	}
	
	&.brown {
		background-color: #c63;
	}
	
	&.red {
		background-color: #c00;
	}
	
	&.orange {
		background-color: #f90;
	}
	
	&.yellow {
		background-color: #ff0;
		color: #333;
		text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
	}
	
	&.green {
		background-color: #0c0;
	}
	
	&.blue {
		background-color: #09f;
	}
	
	&.purple {
		background-color: #c0f;
	}
	
	&.pink {
		background-color: #f0c;
	}
}

/* hover */
a.badge.label:hover {
	text-decoration: none;
	
	&.black {
		background-color: #000;
	}
	
	&.brown {
		background-color: #930;
	}
	
	&.red {
		background-color: #900;
	}
	
	&.orange {
		background-color: #f60;
	}
	
	&.yellow {
		background-color: #cc0;
	}
	
	&.green {
		background-color: #090;
	}
	
	&.blue {
		background-color: #06c;
	}
	
	&.purple {
		background-color: #90c;
	}
	
	&.pink {
		background-color: #c09;
	}
}

/* label list */
.labelList, .labelList > li {
	display: inline-block; 
}