/* #### Labels #### */
/* label list */
.labelList {
	font-size: 0;
}

.labelList, .labelList > li {
	display: inline-block;
}

.labelList > li:not(:last-child) {
	margin-right: 4px;
}

/* ACP label list */
#labelList {
	.clearfix();
	
	li {
		float: left;
		margin-right: 1%;
		width: 30%;
		
		&.labelCustomClass {
			position: relative;
			
			input[type='radio'] {
				left: 0;
				position: absolute;
				top: 0;
			}
			
			span {
				display: block;
				margin-left: 24px;
			}
		}
	}
}

.labelChooser > .dropdownToggle > span {
	cursor: pointer;
}