/* ### layout globals ### */
.layoutFluid {
	padding: 0 @wcfLayoutFluidGap;
}

.layoutFixed {
	margin: 0 auto;
	width: @wcfLayoutFixedWidth;
}

/* ### header ### */
#pageHeader {
	margin-top: 57px;
	z-index: 100;
}

#top {
	display: block;
	height: 1px;
	visibility: hidden;
}

/* user panel */
.userPanel {
	background-color: @wcfUserPanelBackgroundColor;
	height: 40px;
	left: 0;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 200;

	> div {
		> ul.userPanelItems {
			float: left;
			
			.clearfix();
			
			> li {
				float: left;
				
				> a,
				> div:not(.dropdownMenu) {
					color: @wcfUserPanelColor;
					display: block;
					height: 20px;
					padding: 10px 8px;
					position: relative;
					
					.textShadow(@wcfUserPanelBackgroundColor);
					.transition(background-color, .2s);
					
					&:hover {
						background-color: @wcfUserPanelHoverBackgroundColor;
						color: @wcfUserPanelHoverColor;
						text-decoration: none;
					}
					
					> .badge.badgeInverse {
						background-color: @wcfTabularBoxBackgroundColor;
						color: @wcfTabularBoxColor;
						padding: 0 6px 1px;
						position: absolute;
						bottom: 4px;
						left: 24px;
						z-index: 300;
					}
				}
				
				> .framed > img {
					padding: 0px;
					margin-top: -2px;
					margin-bottom: -2px;
				}
			}
		}
	
		> .searchBar {
			float: right;
			padding: 6px 0 7px;
			background-color: @wcfUserPanelHoverBackgroundColor;
			
			> form input[type="search"] {
				background-color: transparent;
				background-image: url("../icon/searchInverse.svg");
				background-repeat: no-repeat;
				background-position: 7px 5px;
				border-width: 0;
				color: @wcfUserPanelColor;
				padding: 6px 12px 5px 26px;
				width: 180px;
				-webkit-appearance: textfield;
				
				.textShadow(@wcfUserPanelHoverBackgroundColor);
				
				&:focus {
					outline: 0;
				}
			}
		}
	}
}

/* header logo */
.logo {
	margin-bottom: @wcfGapLarge;
	
	a {
		display: block;
		
		&:hover {
			text-decoration: none;
		}
		
		h1 {
			color: @wcfPageLinkHoverColor;
			float: right;
			font-size: 160%;
			padding-top: @wcfGapLarge;
			
			.textShadow(@wcfPageBackgroundColor);
		}
	}
}

/* main menu */
.mainMenu {
	> ul {
		background-color: @wcfMainMenuBackgroundColor;
		display: inline-block;
		letter-spacing: -4px;
		
		> li {
			display: inline-block;
			font-size: @wcfTitleFontSize;
			margin-top: -7px;
			letter-spacing: normal;
			vertical-align: bottom;
			
			> a {
				color: @wcfMainMenuColor;
				display: inline-block;
				padding: 9px 21px;
								
				&:hover {
					color: @wcfMainMenuActiveColor;
					text-decoration: none;
				}
				
				> .badge {
					font-size: 60%;
					top: -2px;
				}
			}
			
			&.active {
				font-size: @wcfSubHeadlineFontSize;
				margin-top: -8px;
				
				> a {
					background-color: @wcfNavigationHeaderBackgroundColor;
					color: @wcfMainMenuActiveColor;
					font-weight: bold;
					min-width: 80px;
					padding: 14px 21px 8px;
					text-align: center;
				}
			}
			
			&:not(.active) {
				padding-top: 5px;
			}
			
			&:not(:last-child) {
				border-right: 1px solid @wcfContainerBorderColor;
			}
		}
	}
}

/* navigation */
.navigation {
	padding: 0 7px;
	
	> ul {
		display: inline-block;
		
		&.navigationItems, &.navigationIcons {
			float: right;
			
			> li {
				float: right;
			}
		}
		
		&.navigationIcons {
			> li {
				padding: 0 3px;
				
				> a {
					display: inline-block;
					padding: 3px;
				}
			}
		}
		
		&.navigationItems {
			border-right: 1px dotted @wcfContainerBorderColor;
			
			> li {
				> p {
					color: @wcfLinkColor;
				}
			}
		}
		
		&.navigationItems, &.navigationMenuItems {
			> li {
				margin: 4px 7px 1px;
				
				> a {
					color: @wcfLinkColor;
					padding: 2px 0;
					
					&:hover {
						color: @wcfLinkHoverColor;
						text-decoration: none;
					}
				}
			}
		}
		
		&.navigationMenuItems {
			> li {
				display: inline-block;
				
				> .badge {
					top: -1px;
				}
			}
		}
	}
}

.navigationHeader {
	background-color: @wcfNavigationHeaderBackgroundColor;
	border-bottom: 1px solid @wcfContainerBorderColor;
	border-top: 1px solid @wcfContainerBorderColor;
}
	
.navigationFooter {
	background-color: @wcfNavigationFooterBackgroundColor;
	border-top: 1px solid @wcfContainerBorderColor;
}

/* ### footer ### */
.footer {
	padding-bottom: @wcfGapMedium;
	z-index: 100;
	
	.footerContent {
		text-align: center;
		
		a {
			.textShadow(@wcfPageBackgroundColor);
			.transition(color, .1s);
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}

/* ### content ### */
#main {
	z-index: 110;
	
	> div {
		background-color: @wcfSidebarBackgroundColor;
		
		> .sidebar {
			position: relative;
			width: 300px;
			z-index: 120;
			
			.transition(width, .2s, ease);
			
			> .collapsibleButton {
				background-color: @wcfSidebarBackgroundColor;
				background-image: url('../icon/arrowRightColored.svg');
				background-position: 4px 4px;
				background-repeat: no-repeat;
				background-size: 16px;
				border-radius: 6px 0 0 6px;
				display: block;
				height: 24px;
				left: -20px;
				position: absolute;
				top: 0;
				width: 24px;
				
				.transition(left, .2s, ease);
			}
			
			> div {
				overflow: hidden;
			}
		}
		
		> .content {
			background-color: @wcfContentBackgroundColor;
			min-height: 100px;
			padding: @wcfGapSmall @wcfGapLarge * 2 - @wcfGapTiny @wcfGapLarge;
			z-index: 130;
			
			.transition(margin, .2s, ease);
		}
	}
	
	&:not(.sidebarOrientationLeft):not(.sidebarOrientationRight) {
		.sidebar {
			display: none;
		}
	}
	
	&.sidebarOrientationLeft {
		.content {
			margin-left: 300px;
		}
		
		.sidebar {
			float: left;
		}
	}
	
	&.sidebarOrientationRight {
		&.sidebarCollapsed > div {
			> .content {
				margin-right: 20px;
			}
			
			> .sidebar {
				width: 0;
				
				> .collapsibleButton {
					background-image: url('../icon/arrowLeftColored.svg');
					left: -40px;
				}
			}
		}

		.content {
			margin-right: 300px;
		}
		
		.sidebar {
			float: right;
		}
	}
}

/* basic layout elements */
.boxHeadline {
	margin-top: @wcfGapMedium;
	
	> hgroup {
		> h1 {
			color: @wcfHeadlineColor;
			font-family: @wcfHeadlineFontFamily;
			font-size: @wcfHeadlineFontSize;
			font-weight: bold;
			
			.textShadow(@wcfContentBackgroundColor);
			
			a {
				color: @wcfHeadlineColor;
				text-decoration: none;
			}
		}
		
		> h2,
		> h3 {
			color: @wcfDimmedColor;
			font-size: @wcfSmallFontSize;
		}
	}
	
	&.boxSubHeadline {
		> hgroup {
			> h1 {
				font-size: @wcfSubHeadlineFontSize;
			}
		}
	}
	
	> .dataList,
	> .inlineDataList {
		color: @wcfDimmedColor;
		font-size: @wcfSmallFontSize;
	}
}

.contentNavigation {
	display: table;
	width: 100%;
	
	> * {
		margin-top: @wcfGapMedium;
	}
	
	nav ul {
		text-align: left;
	}
	
	nav > ul {
		float: left;
		
		&:not(.pageNavigation) {
			float: right;
			text-align: right;
		}
		
		li {
			display: inline;
		}
	}
}

.container {
	background-color: @wcfContainerBackgroundColor;
	border: 1px solid @wcfContainerBorderColor;
}

.containerPadding {
	padding: @wcfGapMedium @wcfGapLarge @wcfGapMedium;
}

.containerHeadline {
	margin-bottom: @wcfGapSmall;
	
	> h1 {
		font-size: @wcfTitleFontSize;
		font-weight: bold;
		
		> small {
			color: @wcfDimmedColor;
			font-weight: normal;
			text-shadow: none;
			font-size: 75%;
		}
	}
	
	> h1, > h1 > a {
		.textShadow(@wcfContainerBackgroundColor);
	}
}

.containerList {
	> li {
		padding: @wcfGapMedium @wcfGapLarge;
	
		.transition(background-color, .1s);
	
		&:nth-child(even) {
			background-color: @wcfContainerAccentBackgroundColor;
		}
		
		&:hover {
			background-color: @wcfContainerHoverBackgroundColor;
			
			> div > .details > .buttonList {
				opacity: 1;
			}
		}
		
		> div > .details {
			position: relative;
			
			> .buttonList {
				opacity: 0;
				position: absolute;
				right: 0;
				top: 0;
				
				.transition(opacity, .1s);
			}
		}
	}
	
	> * > li {
		padding: @wcfGapMedium @wcfGapLarge;
	}
	
	&.doubleColumned {
		overflow: hidden;
		
		> li {
			padding: 0;
			float: left;
			width: 50%;
			height: 90px;
			overflow: hidden;
			
			&:nth-child(even) {
				float: right;
			}
			
			&:nth-child(4n), &:nth-child(4n+1) {
				background-color: @wcfContainerBackgroundColor;
			}
			
			&:nth-child(4n+2), &:nth-child(4n+3) {
				background-color: @wcfContainerAccentBackgroundColor;
			}
			
			&:hover {
				background-color: @wcfContainerHoverBackgroundColor;
			}
			
			> div {
				padding: 14px 21px;
			}
		}
		
		&:after {
			content: "";
			display: table;
			clear: left;
		}
	}
	
	&.styleList > li > div.box64 {
		> span {
			text-align: center;
			width: 110px;
		}
		
		> div {
			margin-left: 115px;
		}
	}
}

.nestedCategoryList {
	> li {
		margin-top: 21px;
		overflow: hidden;
		
		&:first-child {
			margin-top: 0;
		}
		
		> div {
			padding: 0 14px;
			
			> hgroup > h1 {
				font-size: @wcfTitleFontSize;
				font-weight: bold;
				
				> .badge {
					font-size: 70%;
					top: -2px;
				}
			}
			
			> ol {
				> li {
					display: inline-block;
					font-size: @wcfSmallFontSize;
				}
			}
		}
	}
	
	&.doubleColumned {
		> li {
			float: left;
			width: 50%;
			
			&:nth-child(odd):not(:first-child) {
				clear: left;
			}
			
			&:nth-child(2) {
				margin-top: 0;
			}
		}
		
		&:after {
			content: "";
			display: table;
			clear: left;
		}
	}
}

/* boxes with an image */
.box(@imageSize, @gapOffset: 0) {
	/* using a min-height prevents us from clearing (which causes a lot of issues) */
	min-height: @imageSize + 4px;
	
	> :first-child {
		float: left;
	}
	
	> *:not(:first-child) {
		margin-left: (@imageSize + @gapOffset);
	}
	
	> .framed ~ * {
		margin-left: (@imageSize + @gapOffset) + 4px;
	}
}

.box16 { .box(16px, 4px); }
.box24 { .box(24px, 4px); }
.box32 { .box(32px, 7px); }
.box48 { .box(48px, 7px); }
.box64 { .box(64px, 7px); }
.box96 { .box(96px, 11px); }
.box128 { .box(128px, 11px); }
.box256 { .box(256px, 21px); }

/* bread crumbs */
.breadcrumbs {
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	text-align: left;
	
	> ul {
		> li {
			float: left;
			font-size: @wcfSmallFontSize;
			list-style: none;
			max-width: 30%;
			padding-right: 10px;
			position: relative;
			
			&:first-child > a {
				background-image: url('../icon/home.svg');
				background-position: 1px center;
				background-repeat: no-repeat;
				background-size: 16px;
				padding-left: 21px;
			}
			
			> a {
				color: @wcfColor;
				display: block;
				overflow: hidden;
				padding: 5px 1px 5px 5px;
				text-decoration: none;
				text-overflow: ellipsis;
				white-space: nowrap;
				
				.textShadow(@wcfContentBackgroundColor);
			}
			
			> .pointer {
				padding: 5px 0;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

.smallBreadcrumbs {
	> li {
		display: inline;
		font-size: @wcfSmallFontSize;
	}
}

/* tab menus */
.tabMenu {
	display: block;
	margin-top: @wcfGapLarge;
	position: relative;
	text-align: left;
	
	> ul {
		background-color: @wcfContainerAccentBackgroundColor;
		border-color: @wcfContainerBorderColor;
		border-style: solid;
		border-width: 1px 1px 0 1px;
		display: inline-block;
		padding: 0 5px 3px 5px;
		position: relative;
		white-space: nowrap;
		
		.textShadow(@wcfContainerBackgroundColor);
		
		> li {
			display: inline-block;
			outline: 0;
			white-space: nowrap;
			
			&.ui-state-active {
				margin-right: -7px;
				margin-left: -6px;
				
				> a {
					background-color: @wcfContainerBackgroundColor;
					border-color: @wcfContainerBorderColor @wcfContainerBorderColor @wcfContainerBackgroundColor;
					border-style: solid;
					border-width: 1px;
					color: @wcfLinkColor;
					font-weight: bold;
					font-size: 130%;
					margin-top: -10px;
					padding: 10px 15px 5px;
					z-index: 30;
				}
			}
			
			> a {
				bottom: -3px;
				color: @wcfDimmedColor;
				display: inline-block;
				font-size: 110%;
				outline: 0;
				padding: 1px 10px 3px;
				position: relative;
				text-decoration: none;
				z-index: 10;
			}
			
			&:not(.ui-state-active) {
				> a:hover {
					color: @wcfLinkColor;
				}
			}
		}
	}
}

.tabMenu > ul > li.ui-state-active > a,
.tabMenu > ul > li.ui-state-disabled > a,
.tabMenu > ul > li.ui-state-processing > a {
	cursor: default;
}

.tabMenuContent {
	display: block;
	margin-top: -1px;
	min-height: @wcfGapLarge;
	position: relative;
	z-index: 20; /* Prevents border overlay during transition */
}

/* sub tabs */
.tabMenuContainer > .menu {
	border-bottom: 1px solid @wcfContainerBorderColor;
	margin: -@wcfGapMedium -@wcfGapLarge @wcfGapMedium -@wcfGapLarge; /* reverse paddings from .containerPadding */
	padding: @wcfGapTiny @wcfGapSmall;
	
	.linearGradient(@wcfContainerBackgroundColor, @wcfContainerBackgroundColor, @wcfContainerAccentBackgroundColor);
	
	ul{
		display: inline-block;
		
		li {
			display: inline-block;
			
			&.ui-state-active a,
			&.ui-state-active a:hover {
				background-color: @wcfButtonPrimaryBackgroundColor;
				border-color: @wcfButtonPrimaryBorderColor;
				color: @wcfButtonPrimaryColor;
				cursor: default;
			}
			
			a {
				background-color: @wcfContainerBackgroundColor;
				border: 1px solid @wcfContainerBorderColor;
				color: @wcfButtonColor;
				display: block;
				font-size: @wcfSmallFontSize;
				margin: @wcfGapTiny 0;
				outline: 0;
				padding: @wcfGapTiny @wcfGapSmall;
				
				.borderRadius(15px);
				
				&:hover {
					background-color: @wcfButtonHoverBackgroundColor;
					border-color: @wcfButtonHoverBorderColor;
					color: @wcfButtonHoverColor;
					text-decoration: none;
				}
			}
		}
	}
}

.containerPadding > .tabMenuContainer:last-child {
	margin-bottom: @wcfGapSmall;
}

/* ToDo: 2x hidden? */
.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}

/* ### tabular boxes ### */
.tabularBox {
	background-color: @wcfTabularBoxBackgroundColor;
	border: 1px solid @wcfContainerBorderColor;
}

.tabularBoxTitle > hgroup {
	color: @wcfTabularBoxColor;
	padding: 5px 7px;

	> h1 {
		font-size: @wcfTitleFontSize;
		font-weight: bold;
		
		.textShadow(@wcfTabularBoxBackgroundColor);

		> a {
			color: @wcfTabularBoxColor;
			
			&:hover {
				color: @wcfTabularBoxHoverColor;
				text-decoration: none;
			}
		}
	}
}

.table {
	border-spacing: 0;
	width: 100%;
	
	/* cells */
	th,
	td {
		padding: @wcfGapSmall;
		text-align: left;
		vertical-align: middle;
		
		> label {
			cursor: pointer;
			display: block;
			margin: -@wcfGapSmall;
			padding: @wcfGapSmall;
			
			> input[type="checkbox"] {
				margin: 0 3px;
			}
		}
	}
	
	/* headline */
	th {
		border-right: 1px solid rgba(0, 0, 0, .2);
		color: @wcfTabularBoxColor;
		font-size: @wcfSmallFontSize;
		font-weight: bold;
		white-space: nowrap;
		
		.textShadow(@wcfTabularBoxBackgroundColor);
		.linearGradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
		
		> a {
			color: @wcfTabularBoxColor;
			display: block;
			margin: -@wcfGapSmall;
			
			&:hover {
				text-decoration: none;
			}
			
			> img {
				margin: -5px 0;
			}
		}
		
		&.active > a {
			background-color: rgba(0, 0, 0, .1);
			color: @wcfTabularBoxHoverColor;
			
			.boxShadowInset(0, 10px, rgba(0, 0, 0, .1), 10px, -10px);
		}
		
		&:hover > a {
			background-color: rgba(0, 0, 0, .2);
			color: @wcfTabularBoxHoverColor;
		}
		
		> * {
			padding: @wcfGapSmall;
		}
	}
	
	/* content */
	td {
		background-color: @wcfContainerBackgroundColor;
		
		.transition(background, .1s);
		
		&.columnMark,
		&.columnStatus {
			text-align: center;
			width: 1px !important;
			white-space: nowrap;
		}
		
		&.columnDigits,
		&.columnID {
			text-align: right;
			width: 1px !important;
			white-space: nowrap;
		}
		
		&.columnIcon {
			text-align: left;
			width: 1px !important;
			white-space: nowrap;
		}
		
		&.columnTitle {
			font-weight: bold;
			text-align: left;
		}
		
		&.columnText {
			font-weight: normal;
			text-align: left;
			max-width: 20%;
		}
		
		&.columnDate,
		&.columnRegistrationDate {
			font-size: @wcfSmallFontSize;
			text-align: right;
			width: 1px !important;
			white-space: nowrap;
		}
		
		&.columnURL, &.columnSmallText {
			font-size: @wcfSmallFontSize;
			text-align: left;
		}
	}
	
	/* striped */
	> tbody {
		> tr:nth-child(even) > td {
			background-color: @wcfContainerAccentBackgroundColor;
		}
	}
	
	/* hover */
	> tbody {
		> tr {
			&:not(:last-child) {
				> td {
					border-bottom: 1px solid rgba(255, 255, 255, .3);
				}
			}
			
			&:hover {
				> td {
					background-color: @wcfContainerHoverBackgroundColor;
				}
			}
			
			> td:not(:last-child) {
				border-right: 1px solid rgba(255, 255, 255, .3);
			}
			
			> td.focus {
				background-color: @wcfContainerHoverBackgroundColor;
			}
			
			> td.left {
				text-align: left;
			}
			
			> td.right {
				text-align: right;
			}
		}
	}
	
	.statusDisplay {
		padding: 1px 0;
		float: right;
		
		.statusIcons {
			float: right;
			margin-left: @wcfGapSmall;
			
			li {
				display: inline-block;
			}
		}
	}
}

/* ### definition lists ### */
dl.statsDataList {
	> dt {
		color: @wcfDimmedColor;
		display: block;
		float: right;
		font-size: @wcfSmallFontSize;
		line-height: 1.5;
		overflow: hidden;
		text-align: left;
		white-space: nowrap;
		width: 62%;
		
		> a {
			color: @wcfDimmedColor;
			text-decoration: none;
		}
	}
	
	> dd {
		color: @wcfColor;
		float: left;
		font-weight: bold;
		margin: 0;
		overflow: hidden;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 35%;
		
		> a {
			color: @wcfColor;
			text-decoration: none;
		}
	}
	
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}

dl.inlineDataList {
	overflow: hidden;
	white-space: nowrap;
	
	> dd {
		display: inline-block;
		margin: 0 4px 0 0;
		padding: 0;
	}
	
	> dt {
		color: @wcfDimmedColor;
		display: inline-block;
		margin: 0;
		text-align: left;
		width: auto;
		
		&:after {
			content: ":";
		}
	}
}

dl.dataList {
	dt {
		float: left;
		overflow: hidden;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 35%;
	}
	
	dd {
		text-align: left;
		margin-left: 38%;
	}
}

ul.inlineDataList, ul.dataList {
	li {
		display: inline-block;
		
		&:not(:last-child):after {
			content: ",";
		}
	}
}

ul.inlineDataList {
	display: inline-block;
}

/* ### page navigation ### */
.contentNavigation .pageNavigation {
	float: left;
	margin: @wcfGapMedium + 5 0 3px;

	ul li {
		margin: 0 2px;
	}
}

.pageNavigation {
	ul {
		li {
			float: left;
			font-weight: bold;
			margin: 0 1px;
			min-width: 19px;
			padding: 0;
			text-align: center;
			
			.borderRadius(3px);
			
			&:not(.active):not(.disabled) {
				cursor: pointer;
			}
			
			&.disabled {
				background-image: none;
				border: 1px solid rgba(0, 0, 0, .1);
				cursor: not-allowed;
			}
			
			&.skip {	
				padding: 1px 0 1px;
			}
			
			&:not(.disabled):hover a {
				color: @wcfButtonHoverColor;
			}
			
			&:not(.skip) a {
				padding: 2px 3px;
			}
			
			&.active {
				padding: 2px 0 1px;
				
				> span {
					padding: 0 3px;
				}
			}
			
			img {
				height: 16px;
				margin: 0;
				width: 16px;
			}
			
			a {
				color: @wcfButtonColor;
				display: block;
				text-decoration: none;
				
				.textShadow(@wcfButtonBackgroundColor);
			}
		}
	}
}

.statusDisplay .pageNavigation {
	font-size: @wcfSmallFontSize;
	float: left;
	margin-top: 2px;
	
	ul {
		li {
			min-width: 13px;
			
			&:not(.skip) a {
				padding: 1px;
			}
		}
	}
}

/* ### sidebar ### */
.sidebar > div > fieldset:not(:last-child), .sidebar > div > div:not(:last-child) {
	border-bottom: 1px solid @wcfContainerBorderColor;
	margin-bottom: @wcfGapMedium;
}

.sidebar.collapsibleMenu > div > fieldset, .sidebar.collapsibleMenu > div > div {
	border-bottom-width: 0;
}

.sidebar {
	padding-top: @wcfGapLarge;
	
	fieldset {
		padding: @wcfGapSmall @wcfGapMedium @wcfGapMedium;
		margin-top: 0;
		
		> legend {
			border-width: 0;
			color: @wcfColor;
			font-family: @wcfBaseFontFamily;
			font-weight: normal;
			font-size: 100%;
			padding: 0;
			text-transform: uppercase;
				
			.textShadow(@wcfSidebarBackgroundColor);
			
			> .badge {
				float: right;
				font-size: 75%;
				top: 3px;
			}
			
			> a {
				color: @wcfColor;
				text-decoration: none;
			}
			
			&.invisible + div {
				margin-top: -@wcfGapSmall;
			}
		}
		
		&:after {
			content: "";
			height: 0;
			display: block;
			clear: both;
		}
		
		.button.more {
			margin: 5px 0 0;
			float: right;
		}
		
		> nav {
			margin: 0 -@wcfGapMedium 0;
			
			ul {
				> li {
					&.active {
						background-color: @wcfContentBackgroundColor;
						
						> a {
							font-weight: bold;
						}
					}
					
					&:hover:not(.active) {
						> a {
							color: @wcfLinkHoverColor;
						}
					}
					
					> a {
						color: @wcfLinkColor;
						display: block;
						padding: @wcfGapTiny @wcfGapMedium @wcfGapSmall @wcfGapLarge;
						
						.textShadow(@wcfSidebarBackgroundColor);
						
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
		
		> div,
		> ul,
		> dl {
			width: 300px - @wcfGapMedium * 2;
		}
	}
	
	.sidebarBoxList > li:not(:last-child) {
		margin-bottom: 7px;
	}
	
	.sidebarBoxHeadline {
		> h1 {
			margin-bottom: 1px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			
			.textShadow(@wcfSidebarBackgroundColor);
			
			a {
				.textShadow(@wcfSidebarBackgroundColor);
			}
			
			small {
				text-shadow: none;
			}
		}
	}
	
	.formSubmit {
		margin-bottom: @wcfGapMedium;
		margin-top: 0;
		width: 300px;
	}
	
	&.collapsibleMenu {
		legend {
			background-image: url(../icon/arrowRightColored.svg);
			background-position: 15px center;
			background-repeat: no-repeat;
			background-size: 16px;
			color: @wcfLinkColor;
			cursor: pointer;
			font-weight: bold;
			font-size: 130%;
			padding-left: (@wcfGapLarge + 16px + @wcfGapTiny);
			margin-left: -@wcfGapMedium;
			text-transform: none;
			
			&.active {
				background-image: url(../icon/arrowDownColored.svg);
			}
		}
		
		nav {
			ul {
				> li {
					> a {
						padding-left: (@wcfGapLarge + 16px + @wcfGapTiny);
					}
				}
			}
		}
	}
	
	dl.inlineDataList {
		font-size: @wcfSmallFontSize;
		
		> dt {
			float: left;
		}
		
		> dd {
			display: block;
			padding-right: @wcfGapMedium;
			text-align: right;
		}
	}
}
