
/* ### -- -- -- -- -- Message Layout Styles -- -- -- -- -- ### */

/* 

File: messages.css 
Copyright 2006-2010 by WoltLab GmbH. 

*/

/* ### -- -- -- -- -- Message -- -- -- -- -- ### */

.message {
	margin-bottom: 7px;
	padding: 0;
	clear: both;
}

.message h3, .message h4  {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding-top: 7px;
	overflow: hidden;
	text-decoration: none;
	min-height: 0 !important;
}

.message h3 a, .message h3 a:hover, .message h4 a, .message h4 a:hover {
	text-decoration: none;
}

.message:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

/* ### -- -- -- -- -- Message Inner -- -- -- -- -- ### */

.messageInner {
	border-width: 1px;
	border-style: solid;
	margin: 0 !important;
	padding: 0;
	display: block;
}

.messageInner:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

/* Minimized Post Views */

.messageMinimized .messageInner {
	padding: 5px 15px !important;
	clear: both;
}

.messageMinimized .messageInner p {
	padding: 0 35px;
	display: block;
}

.messageMinimized .messageInner img {
	float: left;
}

.messageMinimized .messageInner h3 {
	padding: 0 11px;
	display: block;
}

.messageMinimized.quickReply .messageInner h3 {
	min-height: 25px !important;
}

/* ### -- -- -- -- -- Message Sidebar -- -- -- -- -- ### */

/* Both Views: Left & Right */
.message .messageLeft .messageSidebar, .message .messageFramedLeft .messageSidebar, .message .messageRight .messageSidebar, .message .messageFramedRight .messageSidebar {
	line-height: 1.3;
	margin: 0 0 -2.3em 0;
	padding: 0;
	width: 180px;
	overflow: hidden;
}

/* Both Views: Top */
.message .messageTop .messageSidebar, .message .messageFramedTop .messageSidebar {
	line-height: 1.3;
	text-align: left;
	margin: 0 !important;
	padding: 10px 0 0 0;
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	overflow: hidden;
}

/* All Views: Guest Posts */
.message .guestPost .messageSidebar {
	min-height: 20px !important;
}

/* Both Views: Left */
.message .messageLeft .messageSidebar, .message .messageFramedLeft .messageSidebar {
	float: left;
}

/* Both Views: Right */
.message .messageRight .messageSidebar, .message .messageFramedRight .messageSidebar {
	float: right;
}

.message .messageSidebar:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

/* + + + Message Sidebar: Message Author + + + */

/* Both Views: Top */
.message .messageTop .messageAuthor, .message .messageFramedTop .messageAuthor {
	border-width: 0 !important;
	margin: 0 0 7px 95px;
	padding: 0 15px 1px 15px;
	float: left;
}

/* Both Views: Left & Right */
.message .messageLeft .messageAuthor, .message .messageRight .messageAuthor, .message .messageFramedLeft .messageAuthor, .message .messageFramedRight .messageAuthor {
	border-width: 0;
	margin: 0;
	padding: 10px 15px 7px 15px;
	display: block;
}

/* Framed View: Left & Right - Dividers */
.message .dividers .messageAuthor {
	border-width: 0 0 1px 0;
	border-style: solid;
	margin-bottom: -1px;
}

/* All Views: Guest Posts */
.message .guestPost .messageAuthor {
	margin-left: 0 !important;
}

/* + + + Message Sidebar: User Name + + + */

.message .messageSidebar .userName {
	margin: 0;
	padding: 0;
}

.message .messageSidebar .userName a {
	text-decoration: none;
}

.message .messageSidebar .userName a span {
	font-weight: bold;
}

/* + + + Message Sidebar: User Avatar + + + */

/* All Views: Standard Avatar */
.message .userAvatar {
	margin: 0;
	padding: 7px 15px;
	display: block;
}

.message .dividers .userAvatar {
	border-width: 1px 0 0 0 !important;
	border-style: solid;
}

.message .userAvatar a {
	margin: 0;
	padding: 0;
}

/* Both Views: Left & Right - Framed Avatar */
.message .messageLeft .userAvatarFramed, .message .messageRight .userAvatarFramed, .message .messageFramedLeft .userAvatarFramed, .message .messageFramedRight .userAvatarFramed {
	text-align: left;
	border-width: 1px;
	border-style: solid;
	margin: 7px 13px;
	padding: 0;
	width: 152px;
	height: 152px;
	position: relative;
}

.message .messageLeft .userAvatarFramed a, .message .messageRight .userAvatarFramed a, .message .messageFramedLeft .userAvatarFramed a, .message .messageFramedRight .userAvatarFramed a {
	border-width: 1px;
	border-style: solid;
	margin: 0;
	padding: 0;
	width: 150px;
	height: 150px;
	position: absolute;
}

/* All Views: Framed Avatar */
.message .userAvatarFramed a img {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* Both Views: Top */
.message .messageTop .userAvatar, .message .messageFramedTop .userAvatar {
	margin: 10px 15px;
	padding: 0;
	width: 76px;
	height: 76px;
	position: relative;
}

/* Top View: Avatar */
.message .messageTop .userAvatar, .message .messageFramedTop .userAvatar {
	position: absolute;
	top: 2px;
	left: 2px;
}

/* Top View: Framed Avatar */
.message .messageTop .userAvatarFramed, .message .messageFramedTop .userAvatarFramed {
	position: absolute;
	top: 0;
	left: 0;
}

/* Both Views: Top - Framed Avatar */
.message .messageTop .userAvatarFramed, .message .messageFramedTop .userAvatarFramed {
	border-width: 1px;
	border-style: solid;
	margin: 10px 15px;
	padding: 0;
	width: 78px;
	height: 78px;
	display: block;
}

.message .messageTop .userAvatarFramed a, .message .messageFramedTop .userAvatarFramed a {
	border-width: 1px;
	border-style: solid;
	margin: 0;
	padding: 0;
	display: block;
	width: 76px;
	height: 76px;
}

/* + + + Message Sidebar: User Symbols + + + */
/* ToDo: The whole declaration block is not yet ready! */

/* Both Views: Top */
.message .messageTop .userSymbols, .message .messageFramedTop .userSymbols {
	border-width: 0 !important;
	margin: 0 0 7px 0;
	padding: 0 15px;
	float: right;
}

/* Both Views: Left & Right - Dividers */
.message .dividers .userSymbols {
	border-width: 1px 0 0 0;
	border-style: solid;
}

/* Both Views: Left & Right */
.message .messageLeft .userSymbols, .message .messageRight .userSymbols, .message .messageFramedLeft .userSymbols, .message .messageFramedRight .userSymbols {
	margin: 0;
	padding: 7px 15px;
}

/* Both Views & Dividers: Left & Right */
.message .messageLeft.dividers .userSymbols, .message .messageRight.dividers .userSymbols, .message .messageFramedLeft.dividers .userSymbols, .message .messageFramedRight.dividers .userSymbols {
	border-width: 1px 0 0 0;
	border-style: solid;
}

/* All Views */
.message .userSymbols ul {
	list-style: none;
	margin: 0;
	padding: 2px 0;
}

/* Top View Filter */
.message .messageTop .userSymbols ul, .message .messageFramedTop .userSymbols ul {
	padding: 0;
}

/* All Views */
.message .userSymbols ul li {
	display: inline;
}

/* + + + Message Sidebar: User Credits + + + */

/* Both Views: Top */
.message .messageTop .userCredits, .message .messageFramedTop .userCredits {
	border-width: 0 !important;
	margin: 0 0 7px 0;
	padding: 0;
	float: right;
	clear: right;
}

/* Both Views: Left & Right */
.message .messageLeft .userCredits, .message .messageRight .userCredits, .message .messageFramedLeft .userCredits, .message .messageFramedRight .userCredits {
	margin: 0;
	padding: 7px 15px;
}

/* Both Views: Left & Right - Dividers */
.message .dividers .userCredits {
	border-width: 1px 0 0 0;
	border-style: solid;
}

/* All Views */
.message .userCredits .userPosts a {
	padding: 0 0 3px 0;
	display: block;
}

/* Both Views: Top */
.message .messageTop .userCredits p, .message .messageFramedTop .userCredits p {
	margin: 0;
	padding: 0 15px;
}

/* + + + Message Sidebar: User Messenger + + + */

/* Both Views: Top */
.message .messageTop .userMessenger, .message .messageFramedTop .userMessenger {
	text-align: left;
	border-width: 0 !important;
	margin: 0 0 7px 95px;
	padding: 0 15px;
	clear: left;
}

/* All Views: Guest Posts */
.message .messageTop.guestPost .userMessenger, .message .messageFramedTop.guestPost .userMessenger {
	border-width: 0 !important;
	margin: 0;
	padding: 10px 15px;
	position: absolute;
	top: 0;
	right: 0;
}

/* Both Views: Left & Right - Dividers */
.message .dividers .userMessenger {
	border-width: 1px 0 0 0;
	border-style: solid;
}

/* Both Views: Left & Right */
.message .messageLeft .userMessenger, .message .messageRight .userMessenger, .message .messageFramedLeft .userMessenger, .message .messageFramedRight .userMessenger {
	margin: 0;
	padding: 7px 15px 0 15px;
}

/* Both Views & Dividers: Left & Right */
.message .messageLeft.dividers .userMessenger, .message .messageRight.dividers .userMessenger, .message .messageFramedLeft.dividers .userMessenger, .message .messageFramedRight.dividers .userMessenger {
	border-width: 1px 0 0 0;
	border-style: solid;
}

/* All Views */
.message .userMessenger ul {
	list-style: none;
	margin: 0;
	padding: 2px 0;
}

/* Top View Filter */
.message .messageTop .userMessenger ul, .message .messageFramedTop .userMessenger ul {
	padding: 0;
}

/* All Views */
.message .userMessenger ul li {
	display: inline;
}

/* ### -- -- -- -- -- Message Content -- -- -- -- -- ### */

/* All Views */
.message .messageContent {
	border-style: solid;
	padding: 0;
}

/* Standard View: Left */
.message .messageLeft .messageContent {
	border-width: 0 0 0 1px;
	margin: 0 0 0 180px; 
}

/* Framed View: Left */
.message .messageFramedLeft .messageContent {
	border-width: 1px;
	margin: 10px 15px 10px 180px; 
}

/* Standard View: Right */
.message .messageRight .messageContent {
	border-width: 0 1px 0 0;
	margin: 0 180px 0 0; 
}

/* Framed View: Right */
.message .messageFramedRight .messageContent {
	border-width: 1px;
	margin: 10px 180px 10px 15px; 
}

/* Standard View: Top */
.message .messageTop .messageContent {
	border-width: 1px 0 0 0;
	margin: 0; 
}

/* Framed View: Top */
.message .messageFramedTop .messageContent {
	border-width: 1px;
	margin: 0 15px 10px 15px;
}

/* All Views */
.message .messageContent:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

/* ### -- -- -- -- -- Message Content Inner -- -- -- -- -- ### */

.message .messageContentInner {
	border-width: 0;
	border-style: solid;
	margin: 0;
	padding: 10px 15px;
}

/* Standard View: Left & Right */
.message .messageLeft .messageContentInner, .message .messageRight .messageContentInner {
	border-width: 0; 
}

/* Framed View: Top, Left & Right */
.message .messageFramedLeft .messageContentInner, .message .messageFramedRight .messageContentInner, .message .messageFramedTop .messageContentInner {
	border-width: 1px;
}

/* All Views */
.message .messageContentInner:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

/* ### -- -- -- -- -- Message Header -- -- -- -- -- ### */

.message .messageHeader {
	border-style: solid;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	margin: 0;
	padding: 0;
	min-height: 30px;
}

.message .messageHeader .containerIcon {
	text-align: left;
	margin: 0;
	padding: 0 0 3px 0;
	width: 25px;
}

.message .messageHeader .containerContent {
	padding-bottom: 7px;
}

.message .messageHeader .containerContent p {
	padding: 3px 0 0 0;
}

.message .messageHeader .messageMarkCheckBox {
	margin: 0;
	padding: 0;
}

.message .messageHeader .messageCount {
	float: right;
}

.message .messageHeader .messageNumber {
	text-decoration: none;
	margin: 0 0 0 4px;
	padding: 0 4px;
}

/* ### -- -- -- -- -- Message Body -- -- -- -- -- ### */

.message .messageBody {
	margin: 0;
	padding: 7px 0 0 0;
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.message input {
	margin-right: 6px;
}

/* ### -- -- -- -- -- Poll -- -- -- -- -- ### */

.message .poll {
	margin: 0 15px 7px 0;
	float: left;
	width: 47%;
}

.poll .container-1, .poll .container-2, .poll .container-3 {
	padding: 4px;
}

.poll .containerContent label {
	display: block;
	overflow: hidden;
}

.poll h4 {
	font-style: italic;
	font-weight: bold;
	padding-top: 0;
}

.poll .pollResults {
	font-size: .95em;
	text-align: right;
}

.pollOptionBar {
	margin-right: 4px;
	float: left;
	height: 6px;
}

.pollBarColor1 { /* Blue */
	background-color: #93befe;
	border-bottom: 6px solid #468ffc;
}

.pollBarColor2 { /* Light Blue */
	background-color: #6be8ff;
	border-bottom: 6px solid #02c4e7;
}

.pollBarColor3 { /* Light Green */
	background-color: #b8fb82;
	border-bottom: 6px solid #30ff00;
}

.pollBarColor4 { /* Yellow */
	background-color: #f6ff00;
	border-bottom: 6px solid #ede502;
}

.pollBarColor5 { /* Orange */
	background-color: #ffc676;
	border-bottom: 6px solid #ff9600;
}

.pollBarColor6 { /* Red */
	background-color: #fe9595;
	border-bottom: 7px solid #fe4747;
}

.pollBarColor7 { /* Pink */
	background-color: #f9f;
	border-bottom: 6px solid #f6f;
}

.pollBarColor8 { /* Violet */
	background-color: #c7a2e7;
	border-bottom: 7px solid #a56dd5;
}

.pollBarColor9 { /* Brown */
	background-color: #e1bb84;
	border-bottom: 6px solid #ca8a2f;
}

.pollBarColor10 { /* Charcoal */
	background-color: #c3bbbb;
	border-bottom: 6px solid #967e7e;
}

/* ### -- -- -- -- -- Signature -- -- -- -- -- ### */

.message .signature {
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	margin: 7px 0 0 0;
	padding: 7px 0 0 0;
	overflow: hidden;
	position: relative;
}

/* ### -- -- -- -- -- Edit Note -- -- -- -- -- ### */

.message .editNote, .message .deleteNote {
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	margin: 7px 0 0 0;
	padding: 7px 0 0 0;
	position: relative;
}

/* ### -- -- -- -- -- Message Footer -- -- -- -- -- ### */

/* All Views */
.message .messageFooter, .message .messageFooterLeft, .message .messageFooterRight {
	text-align: left;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	margin: 7px 0 0 0;
	padding: 0;
	clear: both;
	display: block;
	position: relative;
}

.message .messageFooter:after, .message .messageFooterLeft:after, .message .messageFooterRight:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

/* Standard View */
.message .messageFooter .breadCrumbs {
	margin-top: 10px;
}

/* Standard View - Small Buttons */
.message .messageFooter .smallButtons li {
	float: right;
}

.message .messageFooter .smallButtons .extraButton {
	margin-left: 10px;
	margin-right: 0;
}

/* Left & Right */

/* Left */
.message .messageFooterLeft {
	text-align: right;
}

.message .messageFooterLeft .smallButtons li {
	float: left;
}

.message .messageFooterLeft .smallButtons .extraButton {
	margin-left: 0;
	margin-right: 10px;
}

/* Right */
.message .messageFooterRight {
	text-align: left;
}

.message .messageFooterRight .smallButtons li {
	float: right;
}

.message .messageFooterRight .smallButtons .extraButton {
	margin-left: 10px;
	margin-right: 0;
}

/* ### -- -- -- -- -- Attachment Preview -- -- -- -- -- ### */

/* Holds attachments with thumbnail-previews */

.attachmentPreview {
	margin-bottom: 0;
}

.attachmentPreview ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.attachmentPreview ul li {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 7px;
	text-align: center;
}

.attachmentPreview ul li a {
	border-style: solid;
	border-width: 1px;
	display: block;
}

.attachmentPreview ul li img {
	display: inline;
	position: relative;
	top: 50%;
}

.attachmentPreview ul li a span {
	background-image: url("../icon/zoomInS.png");
	background-repeat: no-repeat;
	background-position: right top;
	margin: 5px 3px 0 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 95%;
	height: 95%;
	visibility: hidden;
}

.attachmentPreview ul li a:hover span {
	visibility: visible;
}

/* ### -- -- -- -- -- Attachment File -- -- -- -- -- ### */

/* holds attachment file-type-icons and descriptions (no previews) */

.attachmentFile:after {
	clear: none;
}

.attachmentFile input, .attachmentFile button {
	float: right;
}

.attachmentFile ul {
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;	
}

.attachmentFile ul li {
	border-width: 1px 0 0 0;
	border-style: solid;
	margin: 0;
	padding: 5px 0;
	min-height: 22px;
}

.attachmentFile ul li:first-child {
	border: none;
}

.attachmentFile ul li div {
	padding: 3px 0 0 30px;
}

.attachmentFile ul li a img {
	float: left;
}

/* ### -- -- -- -- -- Attachment Inputs -- -- -- -- -- ### */

.attachmentsInput {
	padding: 1px 0 3px 0;
}

.attachmentsInput input {
	margin-top: 2px;
	width: 100%;
}

.attachmentsInputSubmit {
	float: right;
}

/* ### -- -- -- -- -- Quote Box -- -- -- -- -- ### */

.quoteBox {
	border-width: 1px;
	border-style: solid;
	margin: 0 0 7px 0;
	display: block;
	clear: both;
	position: relative;
}

.quoteBox .quoteHeader {
	margin: 1px 1px 0 1px;
	padding: 7px 15px 7px 15px;
}

.quoteBox .quoteBody {
	margin: 0 1px 1px 1px;
	padding: 0 15px 5px 15px;
}

.quoteBox .quoteHeader h3 {
	font-style: italic;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.quoteBox .quoteHeader h3 img {
	margin-top: -2px;
	padding-right: 3px;
	vertical-align: middle;
}

/* ### -- -- -- -- -- Code Box -- -- -- -- -- ### */

.codeBox {
	border-width: 1px;
	border-style: solid;
	margin: 0;
	padding: 1px;
	clear: both;
	position: relative;
	/* avoid inheritance */
	font-style: normal;
	text-align: left;
	font-weight: normal;
}

.codeBox h3 {
	font-style: italic;
	font-weight: bold;
	margin: 0;
	padding: 5px;
}

.codeBox table {
	border-spacing: 0;
	width: 100%;
}

.codeBox pre {
	margin: 0;
	padding: 0 5px;
	font-family: monospace;
}

.codeBox .codeLines, .codeBox .codeLineNumbers {
	vertical-align: top;
}

.codeBox .codeLineNumbers img {
	padding: 5px;
}

.codeBox .codeLineNumbers {
	text-align: right;
}

.codeBox .codeLines {
	width: 100%;	
}

.codeBox div {
	overflow: auto;
}

/* ### -- -- -- -- -- Smileys -- -- -- -- -- ### */

.smileys {
	margin: 0;
	padding: 0;
	list-style: none;
}

.smileys li {
	margin-right: 5px;
	display: inline;
}

/* ### -- -- -- -- -- Extra -- -- -- -- -- ### */

/* Post- & PM-Preview need this to get rid of the standard container-x settings */
.messagePreview .message {
	margin: -1px 0 0 -1px;
	padding: 0;
	border: 0;
}

/* Breadcrumbs inside Message Footer */
.message .breadCrumbs {
	float: left;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
