/* ### message groups ### */
.messageGroupList {
	.columnSubject {
		> .labelList {
			float: right;
			padding-left: 7px;
		}
		
		> h3 {
			> .messageGroupLink {
				font-size: @wcfTitleFontSize;
			}
			
			> .badge.label {
				top: -2px;
			}
		}
		
		> small {
			display: block;
		}
		
		> nav {
			font-size: @wcfSmallFontSize;
			
			> ul > li {
				display: inline;
			}
		}
	}
	
	tr {
		&.new .columnSubject > h3 > .messageGroupLink {
			font-weight: bold;
		}
		
		&.new .columnAvatar div > p > img,
		&:hover .columnAvatar div > p > img {
			opacity: 1;
		}
		
		&.messageDisabled {
			color: @wcfDisabledColor;
			
			> td {
				background-color: @wcfDisabledBackgroundColor !important;
			}
			
			a:not(.badge) {
				color: @wcfDisabledColor;
			}
		}
		
		&.messageDeleted {
			color: @wcfDeletedColor;
			
			> td {
				background-color: @wcfDeletedBackgroundColor !important;
			}
			
			a:not(.badge) {
				color: @wcfDeletedColor;
			}
		}
		
		.columnSubject .statusDisplay .pageNavigation {
			opacity: 0;
			
			.transition(opacity, .2s);
		}
		
		&:hover .columnSubject .statusDisplay .pageNavigation {
			opacity: 1;
		}
		
		&.new .columnAvatar > div {
			&::after {
				color: @wcfLinkColor;
				content: "\f069";
				font-family: FontAwesome;
				font-weight: normal !important;
				font-style: normal !important;
				font-size: 14px;
				position: absolute;
				text-decoration: none !important;
				top: -4px;
				right: -2px;
				
				.textShadow(@wcfContainerBackgroundColor);
			}
		}
	}
	
	.columnAvatar {
		div {
			position: relative;
			width: 40px;
			height: 38px;
			
			> p > img {
				opacity: .6;
				
				.transition(opacity, .2s);
			}
		}
		
		.myAvatar {
			position: absolute;
			width: 16px;
			height: 16px;
			bottom: -2px;
			left: 24px;
			opacity: 1;
			
			.boxShadow(0, 0, rgba(0, 0, 0, .3), 3px);
		}
	}
	
	.columnLastPost {
		white-space: nowrap;
		word-wrap: normal;
		
		> div > div > small {
			color: @wcfDimmedColor;
		}
	}
	
	.messageGroupInfo {
		font-size: @wcfSmallFontSize;
		
		> li {
			display: inline-block;
			
			&:not(:first-child)::before {
				content: " - ";
			}
		}
		
		&.mobileOptimization {
			> li {
				&.messageGroupLastPoster,
				&.messageGroupLastPostTime {
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.messageGroupList {
		.messageGroupInfo.mobileOptimization {
			> li {
				&.messageGroupAuthor,
				&.messageGroupTime {
					display: none;
				}
				
				&.messageGroupLastPoster,
				&.messageGroupLastPostTime {
					display: inline-block;
				}
				
				&.messageGroupLastPoster::before {
					display: none;
				}
			}
		}
	}
}

/* ### messages ### */
@media only screen and (min-width: 801px) {
	.messageList {
		.messageGroupStarter {
			position: relative;
			
			> .message::after {
				content: "\f005";
				font-family: FontAwesome;
				font-size: 14px;
				display: block;
				left: 4px;
				position: absolute;
				top: 2px;
				
				.textShadow(@wcfSidebarBackgroundColor);
			}
			
			> .message.messageSidebarOrientationRight::after {
				left: auto;
				right: 4px;
			}
		}
	}
}

.message {
	background-color: @wcfContainerHoverBackgroundColor;
	border: 1px solid @wcfContainerBorderColor;
	//overflow: hidden; /* todo: fixes floating issues when using message on pages with a sidebar */
	position: relative;
	
	&:hover {
		.messageHeader .messageQuickOptions > li {
			opacity: 1;
		}
		
		.messageOptions nav {
			opacity: 1;
		}
	}
	
	&.messageDisabled:not(.messageReduced) {
		background-color: @wcfDisabledBackgroundColor;
		
		.messageSidebar {
			color: @wcfDisabledColor;
			
			a {
				color: @wcfDisabledColor;
			}
		}
	}
	
	&.messageDeleted:not(.messageReduced) {
		background-color: @wcfDeletedBackgroundColor;
		
		.messageSidebar {
			color: @wcfDeletedColor;
			
			a {
				color: @wcfDeletedColor;
			}
		}
	}
	
	&.jsMarked:not(.messageReduced) {
		background-color: @wcfSelectedBackgroundColor;
		
		.messageSidebar {
			color: @wcfSelectedColor;
			
			a {
				color: @wcfSelectedColor;
			}
		}
	}
	
	.messageOptions {
		font-size: @wcfSmallFontSize;
		position: relative;
		
		&.forceHidden nav {
			display: none !important;
		}
		
		&.forceOpen nav {
			opacity: 1;
		}
		
		nav {
			bottom: -2px;
			opacity: 0;
			position: absolute;
			right: -22px;
			text-align: right;
			
			.transition(opacity, .1s);
			
			ul.smallButtons {
				> li {
					a.button {
						border-radius: 0;
					}
				}
			}
		}
	}
	
	.messageHeader {
		.messageQuickOptions {
			float: right;
			
			> li {
				display: inline-block;
				opacity: .6;
				
				.transition(opacity, .2s);
				
				span.icon {
					color: @wcfDimmedColor;
					
					.transition(color, .2s);
				}
				
				> a:hover > span.icon {
					color: @wcfLinkColor;
				}
				
				> .badge {
					top: -2px;
				}
			}
			
			input[type=checkbox] {
				position: relative;
				top: 1px;
			}
		}
		
		.permalink {
			color: @wcfDimmedColor;
		}
	}
	
	&.dividers {
		.userCredits {
			border-top: 1px solid @wcfContainerBorderColor;
		}
	}
}

.touch .message .messageOptions nav {
	opacity: 1;
}

@media only screen and (max-width: 800px) {
	.message {
		border-width: 1px 0;
	}
}

/* sidebars orientations */
.message.messageSidebarOrientationLeft {
	.messageContent {
		border-left: 1px solid @wcfContainerBorderColor;
		margin: 0 0 0 211px;
	}
	
	.messageSidebar {
		float: left;
	}
}

.message.messageSidebarOrientationRight {
	.messageContent {
		border-right: 1px solid @wcfContainerBorderColor;
		margin: 0 211px 0 0;
	}
	
	.messageSidebar {
		float: right;
	}
}

/* pointer */
.message.messageSidebarOrientationLeft,
.message.messageSidebarOrientationRight {
	.messageHeader {
		&::before,
		&::after {
			border-width: 20px;
			content: "";
			display: block;
			height: 0;
			position: absolute;
			top: 35px;
			width: 0;
		}
		
		&::before {
			z-index: 100;
		}
		
		&::after {
			z-index: 101;
		}
	}
}

.message.messageSidebarOrientationLeft {
	.messageHeader {
		&::before,
		&::after {
			border-style: inset solid inset none;
		}
		
		&::before {
			border-color: transparent @wcfContainerBorderColor transparent transparent;
			left: -20px;
		}
		
		&::after {
			border-color: transparent @wcfContainerBackgroundColor transparent transparent;
			left: -19px;
		}
	}
}

.message.messageSidebarOrientationRight {
	.messageHeader {
		&::before,
		&::after {
			border-style: inset none inset solid;
		}
		
		&::before {
			border-color: transparent transparent transparent @wcfContainerBorderColor;
			right: -20px;
		}
		
		&::after {
			border-color: transparent transparent transparent @wcfContainerBackgroundColor;
			right: -19px;
		}
	}
}

/* new message badge */
.message .newMessageBadge {
	color: @wcfTabularBoxColor;
	display: block;
	font-size: @wcfSmallFontSize;
	font-weight: bold;
	padding: 6px 10px;
	position: absolute;
	text-transform: uppercase;
	top: 24px;
	
	.boxShadow(1px, 1px, rgba(0, 0, 0, .2), 3px);
	.linearGradient(darken(@wcfTabularBoxBackgroundColor, 10%), @wcfTabularBoxBackgroundColor, darken(@wcfTabularBoxBackgroundColor, 10%));
	.textShadow(darken(@wcfTabularBoxBackgroundColor, 10%));
	
	&::before {
		border-bottom: 4px solid darken(@wcfTabularBoxBackgroundColor, 20%);
		content: "";
		display: block;
		position: absolute;
		top: -4px;
	}
}

.message.messageSidebarOrientationLeft .newMessageBadge {
	border-radius: 0 5px 5px 0;
	left: -219px;
	
	&::before {
		border-left: 6px solid transparent;
		left: 0;
	}
}

.message.messageSidebarOrientationRight	.newMessageBadge {
	right: -219px;
}

.message.messageReduced .newMessageBadge {
	right: -7px;
	top: 21px;
}

.message.messageSidebarOrientationRight,
.message.messageReduced {
	.newMessageBadge {
		border-radius: 5px 0 0 5px;
		
		&::before {
			border-right: 6px solid transparent;
			right: 0;
		}
	}
}
 
.messageBody {
	color: @wcfColor;
	display: block;
	line-height: 1.5;
	
	> div:not(.messageFooter):not(.redactor-box):not(.messageTabMenu) {
		overflow: hidden;
		padding-bottom: @wcfGapMedium;
		
		> div.messageText {
			img {
				max-width: 100%;
			}
			
			table img {
				max-width: none;
			}
		}
	}
	
	> footer {
		padding-bottom: @wcfGapMedium;
	}
	
	> .messageSignature {
		color: @wcfDimmedColor;
		
		img {
			max-height: ~"@{wcf_option_signature_max_image_height}px";
		}
	}
	
	.messageFooter {
		> *:not(:first-child) {
			margin-top: @wcfGapSmall;
		}
	}
}

.messageTextPreview {
	img {
		max-width: 100%;
	}
	
	table img {
		max-width: none;
	}
}

@messageFooterNoteGradientColor: fade(@wcfContainerBorderColor, 20%);
@messageFooterNoteGradientColor2: fade(@messageFooterNoteGradientColor, 0%);
.messageFooterNote {
	border-left: 2px solid @wcfContainerBorderColor;
	color: @wcfDimmedColor;
	font-size: @wcfSmallFontSize;
	padding: @wcfGapTiny @wcfGapSmall;
	
	.linearGradientNative(~"90deg, @{messageFooterNoteGradientColor} 0%, @{messageFooterNoteGradientColor2} 40%");
}

// rtl fix
html[dir='rtl'] {
	.messageFooterNote {
		.linearGradientNative(~"270deg, @{messageFooterNoteGradientColor} 0%, @{messageFooterNoteGradientColor2} 40%");
	}
}

.messageHeader + .messageBody > div:first-child:not(.redactor-box),
.messageBody > div:not(.messageFooter):not(.messageTabMenu):not(.redactor-box):not(:first-child) {
	border-top: 1px dotted @wcfContainerBorderColor;
	padding: @wcfGapMedium 0;
}

.message .messageBody {
	padding: @wcfGapMedium @wcfGapLarge 1px;
}

.message .messageContent {
	background-color: @wcfContainerBackgroundColor;
	
	.messageHeader {
		padding: @wcfGapMedium @wcfGapLarge 0;
		position: relative;
		
		.messageHeadline {
			> h1 {
				color: @wcfColor;
				font-size: @wcfSubHeadlineFontSize;
				font-weight: bold;
				overflow: hidden;
				padding-right: 21px; // reserved space for new badge
				text-overflow: ellipsis;
				
				.textShadow(@wcfContainerBackgroundColor);
				
				+ p {
					margin-top: 2px;
				}
			}
			
			> p {
				font-size: @wcfSmallFontSize;
				
				> .likesBadge {
					margin: -2px 0 -1px 4px;
				}
				
				> .username::after {
					content: " - ";
				}
			}
		}
		
		.box32 > .messageHeadline > p:first-child {
			font-size: 1rem;
			
			> .username {
				font-size: @wcfTitleFontSize;
				font-weight: bold;
				
				.textShadow(@wcfContainerBackgroundColor);
			}
			
			> .username {
				display: block;
			}
			
			> .username::after {
				content: "";
			}
			
			> .likesBadge {
				font-size: @wcfSmallFontSize;
				top: -1px;
			}
		}
	}
}

.message .messageSidebar {
	line-height: 1.3;
	margin-bottom: -1px;
	padding: @wcfGapMedium @wcfGapLarge @wcfGapLarge;
	position: relative;
	text-align: center;
	width: 170px; /* Width toggle */
	
	&::after {
		clear: both;
		content: '';
		display: block;
	}
	
	header .username {
		color: @wcfLinkColor;
		font-size: @wcfTitleFontSize;
		font-weight: bold;
		padding: 0 3px 1px;
		
		.textShadow(@wcfContainerHoverBackgroundColor);
		
		a {
			text-decoration: none;
		}
	}
	
	.userTitle {
		margin: 7px 0 0;
	}
	
	.userRank {
		margin: 2px 0 0;
	}
	
	.userAvatar {
		display: inline-block;
		margin: @wcfGapSmall 0 0;
		position: relative;
		text-align: left;
		
		> .badgeOnline {
			border-radius: 0 5px 5px 0;
			color: rgba(238, 255, 238, 1);
			bottom: 7px;
			left: -5px;
			position: absolute;
			text-transform: uppercase;
			
			.boxShadow(1px, 1px, rgba(0, 0, 0, .2), 3px);
			.linearGradient(darken(rgba(0, 153, 0, 1), 10%), rgba(0, 153, 0, 1), darken(rgba(0, 153, 0, 1), 10%));
			.textShadow(darken(rgba(0, 153, 0, 1), 10%));
			
			&::before {
				border-bottom: 4px solid darken(rgba(0, 153, 0, 1), 20%);
				border-left: 6px solid transparent;
				content: "";
				display: block;
				left: 0;
				position: absolute;
				top: -4px;
			}
		}
	}
	
	.userCredits {
		font-size: @wcfSmallFontSize;
		margin: @wcfGapSmall 0 0;
		overflow: hidden;
		padding: @wcfGapSmall 0 0;
	}
}

.message:not(.messageReduced) .messageOptions {
	.clearfix();
}

.message:not(.messageReduced) .messageBody {
	.clearfix();
}

li:nth-child(2n+1) .message {
	&.messageSidebarOrientationLeft .messageHeader::after {
		border-right-color: @wcfContainerAccentBackgroundColor;
	}
	
	&.messageSidebarOrientationRight .messageHeader::after {
		border-left-color: @wcfContainerAccentBackgroundColor;
	}
	
	.messageContent {
		background-color: @wcfContainerAccentBackgroundColor;
	}
}

.messageReduced {
	.messageOptions > .breadcrumbs {
		bottom: 10px;
		left: 0;
		opacity: 1;
		position: relative;
	}
	
	&.messageDisabled {
		border-color: @wcfDisabledColor;
		
		.messageContent {
			@wcfDisabledBackgroundGradientColor: fade(@wcfDisabledBackgroundColor, 0%);
			.linearGradientNative(~"180deg, @{wcfDisabledBackgroundColor}, @{wcfDisabledBackgroundGradientColor} 90px");
		}
	}
	
	&.messageDeleted {
		border-color: @wcfDeletedColor;
		
		.messageContent {
			@wcfDeletedBackgroundGradientColor: fade(@wcfDeletedBackgroundColor, 0%);
			.linearGradientNative(~"180deg, @{wcfDeletedBackgroundColor}, @{wcfDeletedBackgroundGradientColor} 90px");
		}
	}
	
	&.jsMarked {
		border-color: @wcfSelectedColor;
		
		.messageContent {
			@wcfSelectedBackgroundGradientColor: fade(@wcfSelectedBackgroundColor, 0%);
			.linearGradientNative(~"180deg, @{wcfSelectedBackgroundColor}, @{wcfSelectedBackgroundGradientColor} 90px");
		}
	}
}

.messageCollapsed {
	color: @wcfDimmedColor;
	opacity: .8;
	padding: @wcfGapMedium @wcfGapLarge;
	
	.transition(opacity, .1s);
	
	&:hover {
		opacity: 1;
	}
	
	&.messageCollapsedExpandable {
		cursor: pointer;
	}
	
	h1 {
		font-size: @wcfSmallFontSize;
	}
	
	.messageCounter {
		padding-top: 3px;
	}
	
	&.jsMarked {
		background-color: @wcfSelectedBackgroundColor !important;
		color: @wcfColor;
		
		a {
			color: @wcfColor;
		}
	}
}

@media only screen and (max-width: 800px) {
	.messageCollapsed {
		padding: @wcfGapSmall;
	}
}

@media only screen and (min-width: 641px) and (max-width: 800px) {
	.messageCollapsed {
		padding: @wcfGapSmall @wcfGapMedium;
	}
}

/* quick reply and inline editor */
.messageBody > span.icon-spinner {
	left: 50%;
	margin: -21px -21px 0 0;
	position: absolute;
	top: 50%;
}

#messageQuickReply {
	.formSubmit {
		padding-bottom: @wcfGapMedium;
	}
}

/* message quotes */
#showQuotes {
	bottom: @wcfGapLarge + @wcfGapTiny;
	cursor: pointer;
	opacity: .7;
	position: fixed;
	right: @wcfGapLarge + @wcfGapTiny;
	
	.transition(opacity, .2s);
	
	&:hover {
		opacity: 1;
	}
}

#messageQuoteList {
	max-width: 800px !important;
	
	li {
		&:not(:first-child) {
			margin-top: @wcfGapSmall;
		}
		
		> span {
			float: left;
			
			> input {
				vertical-align: bottom;
			}
			
			> span {
				cursor: pointer;
				vertical-align: middle;
			}
		}
		
		div.jsQuote {
			margin-left: 60px;
		}
		
		div.jsFullQuote {
			display: none;
		}
	}
}

#quoteManagerCopy {
	> span:not(.pointer) {
		cursor: pointer;
	}
	
	> .jsQuoteManagerQuoteAndInsert {
		border-left: 1px solid @wcfTooltipColor;
		margin-left: 4px;
		padding-left: 4px;
	}
	
	> .pointer {
		border-width: 5px 5px 0;
		bottom: -5px;
		margin-left: -5px;
		top: auto;
	}
}

/* share buttons */
.messageShareButtons {
	> ul > li {
		display: inline-block;
		
		> a {
			text-decoration: none;
			
			> .icon {
				height: 28px;
			}
		}
		
		> .badge {
			background-color: @wcfContainerBackgroundColor;
			border: 1px solid @wcfContainerBorderColor;
			border-radius: 3px;
			color: @wcfColor;
			line-height: 23px;
			padding: 0 7px;
			position: relative;
			vertical-align: 1px;
			
			&::before {
				border: 6px solid @wcfContainerBorderColor;
				border-color: transparent @wcfContainerBorderColor transparent transparent;
				content: "";
				display: block;
				height: 0;
				margin-top: -6px;
				position: absolute;
				right: 100%;
				top: 50%;
				width: 0;
			}
			
			&::after {
				border: 6px solid @wcfContainerBackgroundColor;
				border-color: transparent @wcfContainerBackgroundColor transparent transparent;
				content: "";
				display: block;
				height: 0;
				margin-right: -1px;
				margin-top: -6px;
				position: absolute;
				right: 100%;
				top: 50%;
				width: 0;
			}
		}
	}
	
	.jsShareFacebook:not(.disabled) {
		> a > .icon {
			color: rgb(59, 89, 152);
		}
	}
	
	.jsShareTwitter:not(.disabled) {
		> a > .icon {
			color: rgb(64, 153, 255);
		}
	}
	
	.jsShareGoogle:not(.disabled) {
		> a > .icon {
			color: rgb(211, 72, 54);
		}
	}
	
	.jsShareReddit:not(.disabled) {
		> a > .icon {
			color: rgb(95, 153, 207);
		}
	}
}

.contentNavigation > .messageShareButtons {
	float: right;
	margin-right: @wcfGapMedium;
	margin-top: 0;
}

.messageSearchResultList {
	> li > .box48 > div > .containerHeadline > h3 {
		padding-right: 100px;
	}
}

.likeButton.active, /* deprecated */
.wcfLikeButton.active {
	.icon {
		color: rgba(0, 153, 0, 1);
	}
}

.dislikeButton.active, /* deprecated */
.wcfDislikeButton.active {
	.icon {
		color: rgba(204, 0, 0, 1);
	}
}

@media screen and (max-width: 800px), print {
	.message.messageSidebarOrientationLeft,
	.message.messageSidebarOrientationRight {
		.messageContent {
			border: 0;
			margin: 0;
		}
		
		.messageSidebar {
			float: none;
			min-height: 37px;
		}
		
		.messageHeader {
			&::before,
			&::after {
				display: none;
			}
		}
	}
	
	.message .messageHeader .messageQuickOptions,
	.message .messageBody .messageSignature,
	.message .messageSidebar .userCredits {
		display: none;
	}
	
	.message .messageSidebar {
		padding: 7px;
		text-align: left;
		width: auto;
		
		> div {
			margin-left: 40px;
		}
		
		.userAvatar {
			left: 7px;
			position: absolute;
			top: 0;
			
			img {
				height: 32px !important;
				width: 32px !important;
			}
			
			> .badgeOnline {
				display: none;
			}
		}
		
		.userTitle {
			margin-top: -2px;
		}
	}
	
	/* reduce paddings */
	.message .messageContent .messageHeader {
		padding: @wcfGapSmall @wcfGapSmall 0;
	}
	
	.message .messageBody {
		padding: @wcfGapSmall;
	}
	
	.message .messageBody > div:not(.messageFooter):not(.messageTabMenu):not(.redactor-box) {
		padding: @wcfGapSmall 0;
	}
	
	.message .messageBody > footer {
		padding: 0;
		position: absolute;
		right: @wcfGapSmall;
		top: @wcfGapSmall;
	}
	
	.message .messageOptions nav {
		opacity: 1;
		position: static;
		text-align: left;
	}
	
	.message .newMessageBadge {
		display: none;
	}
}

@media screen and (min-width: 641px) and (max-width: 800px), print {
	.message .messageSidebar,
	.message .messageContent .messageHeader,
	.message .messageBody {
		padding-left: @wcfGapMedium;
		padding-right: @wcfGapMedium;
	}
	
	.message .messageSidebar {
		.userAvatar {
			left: @wcfGapMedium;
		}
	}
	
	.message .messageBody > footer {
		right: @wcfGapMedium;
	}
}

@media only screen and (max-width: 800px) {
	.moderationList {
		thead {
			display: none;
		}
		
		tbody {
			.columnAssignedUserID,
			.columnLastChangeTime {
				display: none;
			}
		}
	}
}

/* edit history */
.editHistoryDiff {
	> .sideBySide:first-child {
		margin-bottom: @wcfGapLarge;
		text-align: center;
	}
	
	.sideBySide {
		> div:first-child {
			padding-right: @wcfGapMedium;
		}
		
		> div:last-child {
			padding-left: @wcfGapMedium;
		}
	}
}

@media only screen and (max-width: 800px) {
	.editHistoryVersionList {
		.columnUser,
		.columnEditReason {
			display: none;
		}
	}
}

.messageFloatObjectLeft {
	float: left;
	margin: 0 @wcfGapMedium @wcfGapSmall 0;
}

.messageFloatObjectRight {
	float: right;
	margin: 0 0 @wcfGapSmall @wcfGapMedium;
}
