.message {
	background-color: @wcfContainerHoverBackgroundColor;
	border: 1px solid @wcfContainerBorderColor;
	position: relative;
	
	.borderRadius();
	
	&:after {
		clear: both;
		content: '';
		display: block;
	}
	
	&:hover .contentOptions nav {
			opacity: 1;
	}
	
	&.deleted {
		opacity: .5;
	}
}
	
.message.messageSidebarOrientationLeft {
	.messageContent {
		border-left: 1px solid @wcfContainerBorderColor;
		margin: 0 0 0 211px;
	}
	
	.messageSidebar {
		float: left;
	}
	
	.messageHeader > .pointer {
		border-color: transparent @wcfContainerBorderColor transparent transparent;
		border-style: solid solid solid none;
		left: -20px;
		
		> span {
			border-color: transparent @wcfContainerBackgroundColor transparent transparent;
			border-style: solid solid solid none;
			left: 1px;
		}
	}
}

.message.messageSidebarOrientationRight {
	.messageContent {
		border-right: 1px solid @wcfContainerBorderColor;
		margin: 0 211px 0 0;
	}
	
	.messageSidebar {
		float: right;
	}
	
	.messageHeader > .pointer {
		border-color: transparent transparent transparent @wcfContainerBorderColor;
		border-style: solid none solid solid;
		right: -20px;
		
		> span {
			border-color: transparent transparent transparent @wcfContainerBorderColor;
			border-style: solid none solid solid;
			right: 1px;
		}			
	}
}

.message.dividers {
	.userAvatar,
	.userRank,
	.userCredits,
	.userStatus {
		border-bottom: 1px dotted darken(@wcfContainerBorderColor, 10%);
	}
	
	.messageSidebar div:last-child {
		border: 0;
	}
	
	.messageSidebar > div {
		> div,
		> .messageHeader {
			vertical-align: top;
		}
	}
}

.message .messageHeader {
	> .pointer {
		border-width: 20px;
		display: block !important;
		height: 0;
		position: absolute;
		top: 35px;
		width: 0;
		z-index: 100;
		
		> span {
			border-width: 20px;
			display: block;
			height: 0;
			position: absolute;
			top: -20px;
			width: 0;
		}
	}
	
	.messageCounter {
		float: right;
		font-size: @wcfSmallFontSize;
		font-weight: bold;
		margin-left: @wcfGapSmall;
		
		a {
			padding: 1px 5px;
		}
	}
}

.message .messageBody {
	color: @wcfColor;
	display: block;
	line-height: 1.5;
	padding: @wcfGapMedium @wcfGapLarge 1px;
	position: relative;
	
	&:after {
		clear: both;
		content: '';
		display: block;
	}
	
	> div {
		border-top: 1px dotted @wcfContainerBorderColor;
		display: block;
		overflow: hidden;
		padding: @wcfGapMedium 0;
	}
	
	> *:last-child {
		//padding-bottom: @wcfGapMedium;
	}
}

.message .messageContent {
	background-color: @wcfContainerBackgroundColor;
	
	.borderRadius();
	
	.messageHeader {
		padding: @wcfGapMedium @wcfGapLarge 0;
		position: relative;
		
		time {
			color: @wcfDimmedColor;
			font-size: @wcfSmallFontSize;
		}
		
		.likesDisplay {
			display: inline-block;
			margin: -2px 0 -2px 4px;
		}
		
		.messageTitle {
			color: @wcfColor;
			font-size: @wcfSubHeadlineFontSize;
			font-weight: bold;
			padding: @wcfGapSmall 0 0;
			
			.textShadow(@wcfContainerBackgroundColor);
		}
	}
}

.message .messageSidebar {
	//font-size: 90%;
	line-height: 1.3;
	margin-bottom: -1px;
	padding: @wcfGapMedium @wcfGapLarge @wcfGapLarge;
	position: relative;
	text-align: center;
	width: 170px; /* Width toggle */
	
	&:after {
		clear: both;
		content: '';
		display: block;
	}
	
	header .username {
		color: @wcfLinkColor;
		font-size: @wcfTitleFontSize;
		font-weight: bold;
		padding: 0 3px 1px;
		
		.textShadow(@wcfContainerHoverBackgroundColor);
		
		a {
			text-decoration: none;
		}
	}
	
	.userTitle {
		/* todo */
	}
	
	.userRank {
		/* todo */
		margin: 2px 0 0;
	}
	
	.userAvatar {
		display: block;
		margin: @wcfGapSmall 0 0;
		padding: 0 0 @wcfGapSmall;
	}
	
	.userCredits {
		color: @wcfLinkColor;
		display: block;
		margin: @wcfGapSmall 0 0;
		padding: 0 0 @wcfGapSmall;
	}
	
	.userStatus,
	.userContacts {
		color: @wcfLinkColor;
		font-size: @wcfSmallFontSize;
		display: block;
		margin: @wcfGapSmall 0 0;
		padding: 0 0 @wcfGapSmall;
	}
	
	.userStatus ul,
	.userContact ul {
		list-style-type: none;
		
		li {
			display: inline;
			
			a {
				display: inline-block;
				margin: 0 -3px;
				padding: 1px 3px 0;
				text-align: left;
				text-decoration: none;
				
				.transition(background-color, .2s);
				
				&:hover {
					background-color: @wcfContainerBorderColor;
					
					.borderRadius(7px);
					.boxShadow(0, 1px, #eee, 7px);
				}
				
				span {
					display: block;
					left: -9000px;
					position: absolute;
					top: -9000px;
				}
			}
		}
	}
}

.message {
	.signature {
		color: lighten(@wcfColor, 10%);
	}
}

li:nth-child(2n+1) .message {
	&.messageSidebarOrientationLeft .messageHeader > .pointer > span {
		border-right-color: @wcfContainerAccentBackgroundColor;
	}
	
	&.messageSidebarOrientationRight .messageHeader > .pointer > span {
		border-left-color: @wcfContainerAccentBackgroundColor;
	}
	
	.messageContent {
		background-color: @wcfContainerAccentBackgroundColor;
	}
}

.messageReduced {
	.contentOptions > .breadcrumbs {
		bottom: 10px;
		left: 0;
		opacity: 1;
		position: relative;
	}
}

/*todo: move*/
.highlight {
	background-color: rgba(255, 200, 0, 1);
}