#pollOptionContainer .sortableList {
	padding: @wcfGapSmall 0;
	
	.sortableNode {
		margin-top: @wcfGapSmall;
		
		.sortableButtonContainer > img {
			cursor: pointer;
			margin-right: @wcfGapMedium;
		}
	}
}

.pollContainer {
	float: left;
	margin: 0 @wcfGapMedium @wcfGapSmall 0;
	max-width: 50%;
	min-width: 300px;
}

.pollResultList > li {
	> meter {
		width: 79%;
	}
	
	> span {
		text-align: right;
		width: 20%;
	}
}