.popover {
	background-color: rgba(0, 0, 0, .4);
	background-image: url(../icon/spinner.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 32px;
	max-width: 450px;
	min-height: 32px;
	min-width: 150px;
	padding: @wcfGapSmall;
	position: absolute;
	vertical-align: middle;
	z-index: 320;
	
	.borderRadius();
	.boxShadow(0, 1px, rgba(0, 0, 0, .3), 7px);
	
	&:after {
		border: 10px solid transparent;
		content: "";
		display: inline-block;
		position: absolute;
		z-index: 100;
	}
	
	&.top:after {
		border-bottom-width: 0;
		border-top-color: rgba(0, 0, 0, .4);
		bottom: -10px;
	}
	
	&.bottom:after {
		border-bottom-color: rgba(0, 0, 0, .4);
		border-top-width: 0;
		top: -10px;
	}
	
	&.right:after {
		left: 10px;
	}
	
	&.left:after {
		right: 10px;
	}
}

.popoverContent {
	background-color: @wcfContainerBackgroundColor;
	color: @wcfColor;
	opacity: 0;
	padding: @wcfGapSmall @wcfGapMedium;
	
	.borderRadius();
}