.sortableListContainer .sortablePlaceholder {
	/* todo */
	background-color: @wcfWarningBackgroundColor;
	border: 1px solid @wcfWarningBackgroundColor2;
	color: @wcfWarningColor;
	margin: 3px 0;
	padding: 4px;
	
	.borderRadius();
}

.sortablePlaceholder.sortableInvalidTarget {
	/* todo */
	background-color: @wcfErrorBackgroundColor;
	border: 1px solid @wcfErrorBackgroundColor2;
	color: @wcfErrorColor;
}

.sortableList {
	list-style-position: outside;
	list-style-type: decimal;
	margin-left: 21px;
}

.sortableNode {
	cursor: move;
}

.sortableNodeLabel {
	border-bottom: 1px solid rgba(216, 231, 245, 1); /* todo */
	padding: 7px 7px 11px 0;
	display: block;
}