html {
	--wcfAcpMenuWidth: 110px;
	--wcfAcpSubMenuWidth: 300px;
}

html[data-color-scheme="light"] {
	--wcfFooterCopyrightLink: #737373;
	--wcfFooterCopyrightLinkActive: #737373;
	--wcfFooterCopyrightText: #737373;

	--wcfAcpPageMenu: #1a3042;
	--wcfAcpSubMenuCategory: rgb(209 213 223);
	--wcfAcpSubMenuLink: var(--wcfHeaderMenuDropdownLink);
	--wcfAcpSubMenuLinkActive: var(--wcfContentText);
}

html[data-color-scheme="dark"] {
	--wcfFooterCopyrightLink: #858585;
	--wcfFooterCopyrightLinkActive: #858585;
	--wcfFooterCopyrightText: #858585;

	--wcfAcpPageMenu: #11202c;
	--wcfAcpSubMenuCategory: rgb(5 166 148);
	--wcfAcpSubMenuLink: rgb(255 255 255 / 67%);
	--wcfAcpSubMenuLinkActive: rgb(255 255 255 / 89%);
	--wcfHeaderMenuLinkActive: rgb(255 255 255 / 89%);
}

.layoutBoundary {
	margin: 0;
	max-width: none;
	min-width: 0;
}

/* page header */
.pageHeaderContainer {
	background-color: transparent;

	@include screen-lg {
		.pageHeader .layoutBoundary {
			background-color: var(--wcfHeaderMenuBackground);
			height: 50px;
			padding: 0;
		}

		.pageHeaderLogo {
			background-color: var(--wcfAcpPageMenu);
			flex: 0 0 var(--wcfAcpMenuWidth);
			height: 50px;
			margin: 0;
			order: 1;
			position: relative;

			&:last-child {
				flex: 1 1 auto;
			}

			.pageHeaderLogoLarge {
				display: none;
			}

			.pageHeaderLogoSmall {
				display: inline;
				max-height: 30px;
			}

			> a {
				align-items: center;
				bottom: 0;
				display: flex;
				justify-content: center;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}

			&.pageHeaderLogo--debug {
				img {
					opacity: 0.34;
				}

				> a::before {
					color: #ffa500;
					content: "DEBUG MODE";
					font-weight: 600;
					font-size: 12px;
					position: absolute;
					text-shadow: 1px 1px 5px #000;
					z-index: 1;
				}

				&.pageHeaderLogo--dev > a::before {
					content: "DEV MODE";
				}
			}
		}

		.mainMenu {
			flex: 0 0 auto;
			margin-right: 0;
			order: 2;
		}

		.pageHeaderSearch {
			align-items: center;
			display: flex;
			flex: 0 0 auto;
			margin-bottom: 0;
			order: 3;
			position: static;

			.pageHeaderSearchType > .button {
				background-color: rgba(0, 0, 0, 0.2);
				color: var(--wcfHeaderSearchBoxPlaceholderActive);
				align-items: center;
				border-radius: var(--wcfBorderRadius) 0 0 var(--wcfBorderRadius);
				display: flex;
				font-size: 12px;
				height: 36px;
				padding: 6px 10px;

				&:hover {
					background-color: rgba(0, 0, 0, 0.4);
				}
			}

			.pageHeaderSearchInputContainer {
				background-color: var(--wcfHeaderMenuLinkBackground);
				border-radius: var(--wcfBorderRadius);
				box-shadow: none;
				margin-left: 20px;
				padding: 0;
				position: relative;
			}

			.pageHeaderSearchInput {
				font-size: 12px;
				height: 36px;
				width: 300px !important;

				background-color: transparent;
				color: var(--wcfHeaderMenuLinkActive);
				padding: 6px 8px;

				&:hover,
				&:focus {
					background-color: rgba(0, 0, 0, 0.1);
				}
			}

			.pageHeaderSearchShortcut {
				align-items: center;
				border-radius: 4px;
				border: 1px solid var(--wcfHeaderSearchBoxPlaceholder);
				color: var(--wcfHeaderSearchBoxPlaceholder);
				display: none;
				font-size: 10px;
				padding: 2px 6px;
				pointer-events: none;
				position: absolute;
				right: 8px;
				top: 50%;
				transform: translateY(-50%);
			}

			.pageHeaderSearchInput:placeholder-shown + .pageHeaderSearchShortcut,
			.dropdown:has(.pageHeaderSearchInput:placeholder-shown) + .pageHeaderSearchShortcut {
				display: flex;
			}

			.pageHeaderSearchInputButton {
				display: none;
			}
		}

		.userPanel {
			flex: 1 1 auto;
			margin-right: 20px;
			order: 4;
		}

		.userPanel > ul {
			align-content: center;
			column-gap: 1px;
			height: 50px;
		}

		.userPanel > ul > li:first-child > a {
			border-radius: var(--wcfBorderRadius) 0 0 var(--wcfBorderRadius);
		}

		.userPanel > ul > li:last-child > a {
			border-radius: 0 var(--wcfBorderRadius) var(--wcfBorderRadius) 0;
		}

		.userPanel > ul > li > a {
			height: 36px;
			padding: 0 10px;
		}

		.userPanel .boxFlag {
			font-size: 12px;
		}

		.pageHeaderPanel fa-icon[size="32"] {
			display: none;
		}

		#outstandingUpdatesNotification .badgeUpdate {
			left: 29px;
			top: -4px;
			padding: 0 4px;
		}
	}

	@include screen-md-down {
		max-width: 100vw;

		.pageHeaderPanel fa-icon[size="16"]:not([name="magnifying-glass"]) {
			display: none;
		}

		.pageHeaderSearchShortcut {
			display: none;
		}

		#userMenu .userAvatarImage {
			height: 32px;
			width: 32px;
		}
	}
}

@include screen-lg {
	html[data-color-scheme="light"] {
		--wcfHeaderMenuLinkBackground: rgb(0 0 0 / 23%);
		--wcfHeaderMenuLinkBackgroundActive: rgb(0 0 0 / 34%);
	}

	html[data-color-scheme="dark"] {
		--wcfHeaderMenuLinkBackground: rgb(0 0 0 / 34%);
		--wcfHeaderMenuLinkBackgroundActive: rgb(0 0 0 / 56%);

		--wcfHeaderMenuDropdownBackground: #242e3d;
		--wcfHeaderMenuBackground: #2b384a;

		.pageContainer:not(.acpPageSubMenuActive) .pageHeaderLogo,
		.pageContainer:not(.acpPageSubMenuActive) .acpPageMenu {
			/* Avoid layout jumps by adding the border. */
			--wcfAcpMenuWidth: 111px;

			border-right: 1px solid var(--wcfHeaderMenuBackground);
		}
	}
}

.acpSearchDropdown {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-width: 0;
	position: fixed;
	top: 50px !important;
	width: 500px;

	@include screen-xs {
		width: 100%;
	}

	&::before,
	&::after {
		display: none;
	}

	> .dropdownText {
		color: var(--wcfContentDimmedText);
	}

	li > a,
	li > span {
		max-width: none;
	}
}

.acpPageContentContainer {
	flex: 1 0 auto;

	#content {
		// required by IE 11 for proper width calculation
		flex: 1;
	}
}

@include screen-lg {
	.acpPageMenu .icon,
	.acpPageSubMenu .icon {
		color: inherit;
	}

	.acpPageMenu {
		background-color: var(--wcfAcpPageMenu);
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: fixed;
		top: 50px;
		width: var(--wcfAcpMenuWidth);

		.acpPageMenuLink {
			align-items: center;
			color: rgb(255 255 255 / 67%);
			display: flex;
			flex-direction: column;
			padding: 15px 5px;
			width: 100%;

			&:not(.active):hover {
				color: var(--wcfHeaderMenuLinkActive);
			}

			&.active {
				background-color: var(--wcfHeaderMenuDropdownBackground);
				color: var(--wcfHeaderMenuLinkActive);
			}
		}

		.acpPageMenuItemLabel {
			display: block;
			font-size: 12px;
			margin-top: 5px;
		}
	}

	.acpPageSubMenu {
		background-color: var(--wcfHeaderMenuDropdownBackground);
		bottom: 0;
		left: var(--wcfAcpMenuWidth);
		overflow: hidden;
		position: fixed;
		top: 0;
		z-index: 100;
	}

	.acpPageSubMenuCategoryList {
		overflow: hidden;
		width: var(--wcfAcpSubMenuWidth);

		&:not(.active) {
			display: none;
		}

		> .acpPageSubMenuCategory {
			margin-top: 20px;
			padding: 0 20px;

			> span {
				align-items: center;
				color: var(--wcfAcpSubMenuCategory);
				column-gap: 10px;
				display: flex;
				font-size: 12px;
				margin-bottom: 2px;
				white-space: nowrap;

				&::after {
					content: "";
					border-top: 1px solid currentColor;
					display: block;
					width: 100%;
					opacity: 0.34;
				}
			}

			&:last-child {
				margin-bottom: 20px;
			}
		}

		.acpPageSubMenuLink,
		.acpPageSubMenuIcon {
			color: var(--wcfAcpSubMenuLink);
			display: block;
			overflow: hidden;
			padding: 5px 10px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.acpPageSubMenuItemList {
			display: flex;
			flex-direction: column;
			row-gap: 1px;
		}

		.acpPageSubMenuLinkWrapper {
			column-gap: 1px;
			display: flex;

			> .acpPageSubMenuLink {
				flex: 1 1 auto;
			}

			> .acpPageSubMenuIcon {
				flex: 0 0 auto;
			}
		}

		.acpPageSubMenuItemList > .active > a,
		.acpPageSubMenuLink:hover,
		.acpPageSubMenuLink.active,
		.acpPageSubMenuIcon:hover,
		.acpPageSubMenuIcon.active {
			background-color: var(--wcfContentBackground);
			border-radius: var(--wcfBorderRadius);
			color: var(--wcfAcpSubMenuLinkActive);
		}
	}

	.pageContainer:not(.acpPageHiddenMenu) {
		.acpPageContentContainer {
			padding-left: var(--wcfAcpMenuWidth);
		}

		.pageFooter {
			padding-left: var(--wcfAcpMenuWidth);
		}
	}

	.pageContainer.acpPageSubMenuActive {
		.acpPageContentContainer,
		.pageFooter {
			padding-left: calc(var(--wcfAcpMenuWidth) + var(--wcfAcpSubMenuWidth));
		}

		.pageHeaderSearch {
			margin-left: var(--wcfAcpSubMenuWidth);
		}
	}
}

@include screen-md-down {
	.pageHeader {
		grid-template-areas: "logo woltlab jumpToPage search user menu";
		grid-template-columns: auto repeat(5, max-content);
	}

	.pageHeaderContainerIsLogin .pageHeader {
		grid-template-areas: "logo";
		grid-template-columns: auto;
	}

	.pageHeaderPanel > .layoutBoundary {
		justify-content: normal;
	}

	.pageHeaderContainer.pageHeaderContainerIsLogin .pageHeaderLogo {
		flex: 1 auto;
		text-align: center;
	}

	.userPanel {
		display: contents;

		.userPanelItems {
			display: contents;

			li {
				display: contents;

				&:not(#userMenu):not(#jumpToPage):not(#woltlab) {
					display: none;
				}
			}
		}
	}

	#userMenu,
	#jumpToPage,
	#woltlab {
		a {
			background-color: transparent;
			height: 40px;
			justify-content: center;
			padding: 0;
			width: 40px;
		}
	}

	#userMenu a {
		grid-area: user;
	}

	#jumpToPage a {
		grid-area: jumpToPage;
	}

	#woltlab a {
		grid-area: woltlab;
	}

	.acpPageMenu,
	.acpPageSubMenu {
		display: none;
	}

	.dropdownMenuUserPanel {
		position: fixed;
		top: 50px !important;
	}
}

.main {
	flex: 1 1 auto;

	@include screen-lg {
		padding: 40px 0;
	}

	@include screen-md-down {
		padding: 20px 0;
	}
}

.pageFooterCopyright {
	background-color: transparent;
	font-size: 12px;
	padding-bottom: 10px;

	a:hover {
		text-decoration: underline;
	}
}

.codemirrorToolbar {
	background-color: var(--wcfEditorButtonBackground);
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	padding: 2px;

	li {
		display: flex;
		flex: 0 0 auto;
	}

	:is(a, button) {
		border-radius: var(--wcfBorderRadius);
		color: var(--wcfEditorButtonText);
		display: block;
		font-size: 12px;
		outline: none;
		padding: 8px;
		text-align: center;
		font-weight: 400;

		&:hover {
			background-color: var(--wcfEditorButtonBackgroundActive);
			color: var(--wcfEditorButtonTextActive);
		}
	}
}

.CodeMirror {
	word-wrap: normal;
	height: auto !important;
}

.CodeMirror-scroll {
	min-height: 300px;
	max-height: 1000px;
}

#styleLogo,
#styleLogoMobile {
	background-color: #fff;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX////MzMw46qqDAAAAD0lEQVQI12P4z4Ad4ZAAAH6/D/Hgw85/AAAAAElFTkSuQmCC);
	border: 1px solid #ccc;
	min-height: 20px;
	min-width: 20px;
}

.selectedImagePreview,
.selectedFaviconPreview {
	img {
		margin-bottom: 5px;
	}
}

#coverPhotoPreview {
	background: no-repeat center center;
	background-size: cover;
	height: 200px;
	margin-bottom: 5px;

	@include screen-xs {
		height: 150px;
	}
}

#uploadCoverPhoto > .button {
	vertical-align: top;
}

@include screen-md-down {
	.pageHeaderSearch {
		display: block;
		top: 50px;
	}
}

@include screen-sm-md {
	.searchBarOpen .pageHeaderSearch {
		text-align: right;
	}

	.pageHeaderSearch .pageHeaderSearchInputContainer {
		display: inline-flex;
	}

	.pageHeaderSearch .pageHeaderSearchInputContainer .pageHeaderSearchType {
		flex: 0 auto;
	}
}

@include screen-xs {
	.pageHeaderSearchInputContainer > .dropdown {
		flex: 1 auto;
	}

	.pageHeaderSearchInput {
		width: 100% !important;
	}
}

/* Owner Group */
#wscMissingOwnerGroup {
	background-color: rgb(248, 215, 218);
	border-top: 5px solid red;
	bottom: 0;
	color: rgb(114, 28, 36);
	left: 0;
	padding: 10px;
	position: fixed;
	text-align: center;
	right: 0;
	z-index: 9999;

	@include screen-md-up {
		padding: 20px;
	}

	> a {
		color: inherit;
		text-decoration: underline;
	}
}

/* Search for Packages */
.packageSearchResultRow {
	.columnText {
		padding: 15px 10px;
	}

	td.columnIcon {
		position: relative;
		width: 44px;

		a {
			align-items: center;
			bottom: 5px;
			display: flex;
			justify-content: center;
			left: 0;
			position: absolute;
			right: 0;
			top: 5px;
		}
	}
}

.packageSearchName {
	@include wcfFontHeadline;
	@include wcfFontBold;
}

.packageSearchVersion {
	color: var(--wcfContentDimmedText);
	font-weight: 400;
}

.packageSearchDescription {
	margin-top: 3px;
}

.packageSearchPackage {
	color: var(--wcfContentDimmedText);
	font-family: var(--wcfFontFamilyMonospace);
}

.packageSearchAuthor,
.packageSearchLicense {
	white-space: nowrap;
}

.packageSearchAuthorWoltlab::before {
	background-image: url(../../acp/images/woltlabLogo-tiny.png);
	background-size: contain;
	content: "";
	display: inline-block;
	height: 12px;
	margin-right: 2px;
	position: relative;
	top: 1px;
	width: 22px;
}

#packageSearchResultContainer {
	&:not([data-status="idle"]) .packageSearchStatusIdle {
		display: none;
	}

	&:not([data-status="loading"]) .packageSearchStatusLoading {
		display: none;
	}

	&:not([data-status="noResults"]) .packageSearchStatusNoResults {
		display: none;
	}

	&:not([data-status="refreshDatabase"]) .packageSearchStatusRefreshDatabase {
		display: none;
	}

	&:not([data-status="showResults"]) {
		#packageSearchResultCounter,
		#packageSearchResultList {
			display: none;
		}
	}
}

.packageSearchStatus {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 120px;
}

.packageSearchStatusLabel {
	margin-top: 10px;

	@include wcfFontHeadline;
}

.exceptionContainer {
	&.collapsed .exceptionDetails {
		display: none;
	}
}

.contentItemList.packageUpdateList {
	--minimum-column-width: 400px;

	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(var(--minimum-column-width), 1fr));
	margin: 0;

	.contentItem {
		justify-content: space-between;
		margin: 0;
	}

	.contentItemDescription {
		margin-top: 0;
	}

	@include screen-sm {
		--minimum-column-width: 45%;
	}

	@include screen-xs {
		--minimum-column-width: 100%;
	}
}

.packageUpdateAvailable {
	font-size: 18px;
	margin-top: 10px;
}

.packageUpdateNewVersion {
	color: var(--wcfContentText);
	font-weight: 600;
}

@keyframes hightlightOptionLabel {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.hightlightOptionLabel {
	animation: hightlightOptionLabel 0.48s ease-in-out;
	display: inline-block;
}

@include screen-md-down {
	.dropdownMenuUserPanel {
		left: auto !important;
		right: 0 !important;
	}
}

/* First Time Setup */

.firstTimeSetup__section {
	margin: 60px auto !important;
	max-width: 600px;
}

.firstTimeSetup__title {
	text-align: center;
}

.firstTimeSetup__nextSteps {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.firstTimeSetup__nextStep {
	column-gap: 20px;
	display: grid;
	grid-template-columns: 64px auto;
}

.firstTimeSetup__nextStep__icon {
	align-items: center;
	display: flex;
	justify-content: center;
}

.firstTimeSetup__nextStep__title {
	font-size: 18px;
	font-weight: 600;
}

@include screen-xs {
	.firstTimeSetup__section {
		margin: 20px auto !important;
	}

	.firstTimeSetup__nextStep {
		display: contents;
	}

	.firstTimeSetup__nextStep__icon {
		display: none;
	}

	.firstTimeSetup__nextStep__content {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
	}
}

.woltlabNewsfeed {
	border: 1px solid var(--wcfContentBorderInner);
	border-radius: var(--wcfBorderRadius);
	height: 70vh;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	width: 600px;
}

.woltlabNewsfeed .loading-indicator {
	margin-top: 40px;
}

.woltlabNewsfeed:not(.woltlabNewsfeed--loading) .loading-indicator {
	display: none;
}

.woltlabNewsfeed__iframe {
	border-radius: var(--wcfBorderRadius);
	height: 100%;
	max-width: 100%;
	width: 600px;
}

.woltlabNewsfeed--loading .woltlabNewsfeed__iframe {
	visibility: hidden;
}

.acpAuthFlow {
	.content {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.contentHeader {
		text-align: center;
	}

	input[type="submit"] {
		width: 100%;
	}
}

.acpDashboard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	grid-auto-rows: minmax(300px, auto);
	margin-top: 40px;
}

.acpDashboardBox {
	background-color: var(--wcfContentContainerBackground);
	border: 1px solid var(--wcfContentContainerBorder);
	border-radius: var(--wcfBorderRadius);
	box-shadow: var(--wcfBoxShadowCard);
	display: flex;
	flex-direction: column;
	padding: 20px;
	row-gap: 20px;
}

.acpDashboardBox__title {
	@include wcfFontHeadline;
	@include wcfFontBold;
}

.acpDashboardBox__keyValueGroup {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.acpDashboardBox__keyValueGroup:not(:first-child) {
	margin-top: 40px;
}

.acpDashboardBox__keyValue__title {
	@include wcfFontDefault;

	align-items: center;
	column-gap: 10px;
	display: grid;
	font-weight: 600;
}

.acpDashboardBox__keyValue {
	align-items: center;
	column-gap: 15px;
	display: grid;
	grid-template-areas: "dt spacer dd";
	grid-template-columns: max-content auto max-content;

	&::before {
		border-bottom: 5px dotted currentColor;
		content: "";
		display: block;
		grid-area: spacer;
		opacity: 0.12;
	}
}

.acpDashboardBox__keyValue__key {
	color: var(--wcfInputLabel);
}
