$wcfAcpMenuWidth: 150px;

.layoutBoundary {
	margin: 0;
	max-width: none;
	min-width: 0;
}

.pageContainer {
	/* required for sticky page header */
	padding-top: 50px;
}

/* page header */
.pageHeaderContainer {
	box-shadow: 0 0 10px rgba(0, 0, 0, .6);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 300;
	
	@include screen-lg {
		.pageHeader .layoutBoundary {
			background-color: rgb(44, 62, 80);
			height: 50px;
			padding: 10px 10px 10px 0;
		}
		
		.pageHeaderLogo {
			align-items: center;
			background-color: rgb(52, 73, 94);
			display: flex;
			flex: 0 0 $wcfAcpMenuWidth;
			height: 50px;
			justify-content: center;
			margin: 0;
			order: 1;
			
			.pageHeaderLogoLarge {
				display: none;
			}
			
			.pageHeaderLogoSmall {
				display: inline;
			}
		}
		
		.mainMenu {
			flex: 0 0 auto;
			order: 2;
		}
		
		.pageHeaderSearch {
			flex: 0 0 auto;
			margin-bottom: 0;
			order: 3;
			
			// force to take up the full available height
			/*position: relative;
			top: -10px;*/
			
			.pageHeaderSearchType > .button {
				background-color: rgba(0, 0, 0, .2);
				color: $wcfHeaderSearchBoxPlaceholderActive;
				align-items: center;
				border-radius: 0;
				display: flex;
				height: 50px;
				padding: 6px 28px 6px 10px;
				
				&::after {
					right: 10px;
				}
				
				&:hover {
					background-color: rgba(0, 0, 0, .4);
				}
			}
			
			.pageHeaderSearchInputContainer {
				background-color: $wcfHeaderMenuLinkBackground;
				border-radius: 0;
				box-shadow: none;
				padding: 0;
			}
			
			.pageHeaderSearchInput {
				height: 50px;
				width: 300px !important;
				
				background-color: transparent;
				color: $wcfHeaderMenuLinkActive;
				padding: 6px 8px;
				
				&:hover,
				&:focus {
					background-color: rgba(0, 0, 0, .1);
				}
			}
			
			.pageHeaderSearchInputButton {
				display: none;
			}
		}
		
		.userPanel {
			flex: 1 1 auto;
			order: 4;
		}
	}
	
	@include screen-md-down {
		max-width: 100vw;
	}
}

.acpSearchDropdown {
	border-width: 0;
	top: 50px !important;
	width: 300px;
	
	&::before,
	&::after {
		display: none;
	}
}


.acpPageContentContainer {
	display: flex;
	flex: 1 0 auto;
}

@include screen-lg {
	.acpPageMenu .icon, .acpPageSubMenu .icon {
		color: inherit;
	}
	
	.acpPageMenu {
		background-color: rgb(44, 62, 80);
		flex: 0 0 $wcfAcpMenuWidth;
		text-align: center;
		overflow: hidden;
		
		.acpPageMenuLink {
			color: rgb(192, 192, 192);
			display: block;
			padding: 20px 10px;
			
			&.active {
				background-color: rgb(34, 49, 63);
				color: rgb(255, 255, 255);
				
				> .icon {
					transform: scale(1);
				}
			}
			
			> .icon {
				transform: scale(.8);
				transition: transform .12s linear;
			}
		}
		
		.acpPageMenuItemLabel {
			display: block;
			margin-top: 5px;
		}
	}
	
	.acpPageSubMenu {
		background-color: rgb(34, 49, 63);
		flex: 0 0 auto;
	}
	
	.acpPageSubMenuCategoryList {
		flex: 0 0 300px;
		overflow: hidden;
		width: 300px;
		
		&:not(.active) {
			display: none;
		}
		
		> .acpPageSubMenuCategory {
			margin-top: 20px;
			padding-left: 20px;
			
			> span {
				color: rgb(169, 169, 169);
				display: block;
				padding: 5px 20px;
				text-transform: uppercase;
			}
		}
		
		.acpPageSubMenuLink,
		.acpPageSubMenuIcon {
			color: rgb(255, 255, 255);
			display: block;
			overflow: hidden;
			padding: 5px 20px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		
		.acpPageSubMenuLink:hover,
		.acpPageSubMenuLink:hover ~ .acpPageSubMenuIcon:not(.active),
		.acpPageSubMenuIcon:hover {
			background-color: rgb(52, 73, 94);
		}
		
		.acpPageSubMenuLinkWrapper {
			display: flex;
			
			> .acpPageSubMenuLink {
				flex: 1 1 auto;
			}
			
			> .acpPageSubMenuIcon {
				flex: 0 0 auto;
			}
		}
		
		.acpPageSubMenuItemList > .active > a,
		.acpPageSubMenuLink.active,
		.acpPageSubMenuLink.active ~ .acpPageSubMenuIcon,
		.acpPageSubMenuIcon.active {
			background-color: rgb(255, 255, 255) !important;
			color: rgb(44, 62, 80) !important;
		}
	}
}

@include screen-md-down {
	.acpPageMenu,
	.acpPageSubMenu {
		display: none;
	}
}

.main {
	flex: 1 1 auto;
	
	@include screen-lg {
		padding: 40px 0;
	}
	
	@include screen-md-down {
		padding: 20px 0;
	}
}

.pageFooter {
	box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
