/**
 * ACP Testing Styles  
 *
 * @author		Harald Szekely, Alexander Ebert, Marcel Werk 
 * @copyright	2011 WoltLab GmbH 
 */



/* -- -- -- -- -- Globals -- -- -- -- -- */

* {
	text-overflow: ellipsis;
}

body {
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size: 80%;
	background-color: #29374a;
}

img {
	vertical-align: middle !important;
}

p {
	color: #666;
}

a {
	color: #369;
	text-decoration: none;
	
	-webkit-transition: color .1s linear;
	-moz-transition: color .1s linear;
	-ms-transition: color .1s linear;
	-o-transition: color .1s linear;
	transition: color .1s linear;
}

a:hover {
	color: #036;
	text-decoration: underline;
}

.invisible {
	position: absolute;
	left: -9000px;
	top: -9000px;
}

hr {
	display: none;
}



/* -- -- -- -- -- Header -- -- -- -- -- */

header.pageHeader {
	/* Disabled, because the WoltLab header image is not LGPL 
	Activate it if you want to test your header image */
	/* background-image: url("../images/header.png"); */
	background-position: left top;
	background-repeat: repeat-x;
	min-width: 800px;
	width: 100%;
}

/* Top Menu */

header.pageHeader nav.topMenu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	min-height: 25px;
	z-index: 10;
	background-color: rgba(0, 0, 0, .4);
	
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
}

header.pageHeader nav.topMenu > div {
	padding: 5px 23px 3px;
	
}

header.pageHeader nav.topMenu ul li, header.pageHeader nav.topMenu ul li a {
	color: #69c;
	text-shadow: 0 -1px 0 #000;
}

header.pageHeader nav.topMenu ul li a:hover {
	color: #fff;
}

/* Logo */

header.pageHeader div#logo {
	position: relative;
	z-index: 1;
	margin: 0 23px 0;
}

header.pageHeader div#logo h1 {
	color: #d8e7f5;
	text-shadow: 0 -1px 0 #000;
	font-size: 150%;
	position: relative;
	top: 70px;
}

header.pageHeader div#logo a:hover {
	color: #d8e7f5;
	text-decoration: none !important;
}

header.pageHeader div#logo img {
	position: absolute;
	left: 0;
	bottom: 10px;
}

header.pageHeader div#logo a {
	display: block;
	height: 110px;
	text-align: right;
}

/* Main Menu  */

nav.mainMenu {
	margin: 0 30px;
	background-color: rgba(0, 0, 0, .4);
	border-radius: 5px 5px 0 0;
	display: table;
	position: relative;
	bottom: -5px;
}

nav.mainMenu:after {
	content: "";
	display: block;
	clear: both;
}

nav.mainMenu ul {
	display: table-row;
}

nav.mainMenu ul li {
	font-size: 123%;
	font-weight: normal;
	color: #69c;
	text-shadow: 0 -1px 0 #000;
	cursor: pointer;
	display: table-cell;
	margin: 5px -5px 0;
	padding: 13px 20px;
	position: relative;
	top: -3px;
	z-index: 1;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

nav.mainMenu ul li:only-child {
	cursor: resize !important;
}

nav.mainMenu ul li:hover {
	color: #fff;
}

nav.mainMenu ul li.activeMenuItem {
	font-weight: bold;
	color: #369;
	text-shadow: 0 1px 0 #fff;
	z-index: 10;
	
	background-color: #e7f2fd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e7f2fd));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fff, #e7f2fd);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e7f2fd));
	background-image: -o-linear-gradient(#fff, #e7f2fd);
	background-image: linear-gradient(#fff, #e7f2fd);
}

/* Header Navigation  */

nav.headerNavigation {
	display: block;
	background-color: #e7f2fd;
	border-bottom: 1px solid #bcd;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0 23px;
	padding: 3px 7px;
	position: relative;
}

nav.headerNavigation:after {
	content: "";
	display: block;
	clear: both;
}

nav.headerNavigation ul {
	display: block;
}

nav.headerNavigation ul li {
	float: right;
}



/* -- -- -- -- -- Main -- -- -- -- -- */

div.main {
	margin: 0 23px 0;
	border-collapse: collapse;
	display: table;
	table-layout: fixed;
}

div.main > div {
	display: table-row;
}



/* -- -- -- -- -- Content -- -- -- -- -- */

section.content {
	background-color: #fff;
	display: table-cell;
	padding: 25px;
	width: 100%;
	position: relative;
	z-index: 100;
}

div.main > div section:only-child {
	display: block !important;
}

/* -- -- -- -- -- Sidebar -- -- -- -- -- */

aside.sidebar {
	display: table-cell;
	background-color: #d8e7f5;
	margin: 0 !important;
	padding: 0 !important;
	
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
	-ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
	-o-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}

/* Sidebar Menu */

nav.sidebarMenu {
	white-space: nowrap;
	padding-bottom: 20px;
}

nav.sidebarMenu > div {
	position: relative;
	color: #69c;
	text-shadow: 0 1px 0 #fff;
}

nav.sidebarMenu > div a:hover {
	color: #369;
	text-decoration: none !important;
}

nav.sidebarMenu > div h1 {
	background-image: url("../../icon/arrowRightS.png");
	background-position: 15px center;
	background-repeat: no-repeat;
	color: #369;
	cursor: pointer;
	font-size: 130%;
	font-weight: bold;
	margin-top: 5px;
	padding: 7px 25px 7px 35px;
	position: relative;
}

nav.sidebarMenu > div h1.activeMenuItem {
	background-image: url("../../icon/arrowDownS.png");
}

nav.sidebarMenu > div ul li {
	font-size: 110%;
}

nav.sidebarMenu > div ul li a {
	color: #69c;
	text-shadow: 0 1px 0 #fff;
	display: block;
	padding: 5px 25px 7px 35px;
}

nav.sidebarMenu > div ul li.activeMenuItem {
	background-color: #fff;
	overflow: hidden;
	
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	-ms-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

nav.sidebarMenu > div ul li.activeMenuItem a {
	color: #369;
	font-weight: bold;
}



/* -- -- -- -- -- Footer -- -- -- -- --  */

footer {
	clear: both;
	padding: 0 23px;
	position: relative;
	text-align: center;
	position: relative;
}

footer:after {
	content: "";
	display: block;
	clear: both;
}

footer > div {
	background-color: #e7f2fd;
	border-top: 1px solid #bcd;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	clear: both;
	padding: 3px 7px;
}

footer > div:after {
	content: "";
	display: block;
	clear: both;
}

footer .copyright {
	padding-top: 20px;
	min-height: 40px;
	display: inline-block;
}

footer .copyright a {
	text-shadow: 0 -1px 0 #000;
}

footer .copyright a:hover {
	color: #69c;
	text-decoration: none;
}

/* Footer Navigation */

footer nav.footerNavigation ul li {
	display: inline-block;
	float: right;
}



/* -- -- -- -- -- Headings -- -- -- -- -- */

/* Main Heading */

.mainHeading {
	margin: 0 0 15px;
	position: relative;
}

.mainHeading img {
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
}

.mainHeading > hgroup {
	height: 48px;
	padding-left: 60px;
	margin-bottom: 30px;
}

.mainHeading > hgroup h1 {
	border-bottom: 1px solid #ccc;
	color: #999;
	text-shadow: 0 1px 0 #fff;
	font-size: 175%;
	font-weight: bold;
	padding-bottom: 10px;
}

.mainHeading > hgroup h2 {
	color: #999;
	font-size: 100%;
	font-weight: normal;
	padding-top: 5px;
}

.mainHeading > hgroup p {
	padding-top: 3px;
} 

/* Sub Heading */

.subHeading h1 {
	color: #999;
	border-bottom: 1px solid #ccc;
	font-size: 150%;
	text-shadow: 0 1px 0 #fff;
	margin: 10px 0;
	padding: 10px 0;
}



/* -- -- -- -- -- Fieldsets -- -- -- -- -- */

fieldset {
	border: 1px solid #ccc;
	border-radius: 7px;
	background-color: rgba(230, 230, 230, .1);
	margin: 15px 0;
	padding: 15px;
}

fieldset legend {
	color: #999;
	padding: 0 7px 0;
}

fieldset legend ~ p {
	margin-bottom: 14px;
}

fieldset p.description {
	color: #369;
	font-size: 90%;
}

fieldset > ul {
	margin: 7px 0 21px 21px;
}

fieldset > ul li {
	list-style-type: circle;
}



/* -- -- -- -- -- Tabbed Content -- -- -- -- -- */

dl {
	clear: both;
	margin-bottom: 7px;
}

dl small {
	color: #999;
	font-size: 85%;
	margin: 3px 0 7px;
	display: block;
}

dl.disabled dt {
	color: #777;
}

dl dt {
	float: left;
	text-align: right;
	width: 230px;
	margin-top: 5px; /* not so nice */
}

dl dd {
	margin-left: 250px;
}



/* -- -- -- -- -- Forms -- -- -- -- -- */

/* Globals */

label {
	color: #69c;
}

/* Structure (deprecated?) */

div.formElement {
	clear: both;
	margin-bottom: 14px;
}

div.formGroupLabel label {
	display: none;
}

div.formGroupField div.formField label {
	display: block;
}

.formSubmit {
	text-align: center;
	margin-top: 15px;
}

/* Form Elements */

input[type='reset'],
input[type='submit'],
input[type='checkbox'],
input[type='radio'],
select {
	cursor: pointer;
}

input[type='text'],
input[type="search"],
input[type="email"],
input[type='password'] {
	padding: 5px 3px;
}

/* inputs normal */
input[type='text'],
input[type="search"],
input[type="email"],
input[type='password'],
textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #999 #ccc #eee;
	border-radius: 3px;
	background-color: #fff;
	
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
	-ms-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
	-o-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
}

/* inputs hover */
input[type='text']:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type='password']:hover,
textarea:hover {
	background-color: #fffff6;
	border: 1px solid #69c;
}

/* inputs active */
input[type='text']:active,
input[type="search"]:active,
input[type="email"]:active,
input[type='password']:active,
textarea:active,
input[type='text']:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type='password']:focus,
textarea:focus {
	background-color: #fffff6;
	border: 1px solid #69c;
	
	-webkit-box-shadow: 0 0 5px rgba(102, 153, 204, 1), inset 0 0 5px rgba(102, 153, 204, .7);
	-moz-box-shadow: 0 0 5px rgba(102, 153, 204, 1), inset 0 0 5px rgba(102, 153, 204, .7);
	-ms-box-shadow: 0 0 5px rgba(102, 153, 204, 1), inset 0 0 5px rgba(102, 153, 204, .7);
	-o-box-shadow: 0 0 5px rgba(102, 153, 204, 1), inset 0 0 5px rgba(102, 153, 204, .7);
	box-shadow: 0 0 5px rgba(102, 153, 204, 1), inset 0 0 5px rgba(102, 153, 204, .7);
}

select {
	width: 100%;
}

.tiny {
	width: 100px;
}

.small {
	width: 10%;
}

.medium {
	width: 50%;
}

.long {
	width: 95%;
}

.auto {
	width: auto;
}


/* -- -- -- -- -- Large Buttons -- -- -- -- -- */

.largeButtons {
	text-align: right;
}

.largeButtons ul li {
	display: inline;
}

.largeButtons ul li img {
	/* Button Icons disabled for now, maybe we get rid oft them */
	display: none;
}

/* buttons normal */
input[type='reset'],
input[type='submit'],
.largeButtons ul li a {
	font-size: 100%;
	border: 1px solid #ccc;
	border-radius: 30px;
	color: #999;
	font-weight: bold;
	display: inline-block;
	padding: 5px 13px;
	text-shadow: 0 1px 0 #fff;
	
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fefefe, #eee);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -o-linear-gradient(#fefefe, #eee);
	background-image: linear-gradient(#fefefe, #eee);
	
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

/* buttons hover */
input[type='reset']:hover,
input[type='submit']:hover,
.largeButtons ul li a:hover {
	border: 1px solid #999;
	color: #666;
	text-decoration: none;
}

/* buttons active */
input[type='reset']:focus,
input[type='submit']:focus,
.largeButtons ul li a:focus,
input[type='reset']:active,
input[type='submit']:active,
.largeButtons ul li a:active{
	color: #333;
	text-decoration: none;
	
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -moz-linear-gradient(0% 0% 270deg, #eee, #fefefe);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -o-linear-gradient(#eee, #fefefe);
	background-image: linear-gradient(#eee, #fefefe);
}

/* default buttons glow */
@-webkit-keyframes glowLargeButtons {
    0% {
        -webkit-box-shadow: 0 0 13px rgba(102, 153, 204, .3);
    }
    100% {
        -webkit-box-shadow: 0 0 13px rgba(102, 153, 204, .05);
    }
}
@-moz-keyframes glowLargeButtons {
    0% {
        -moz-box-shadow: 0 0 13px rgba(102, 153, 204, .3);
    }
    100% {
        -moz-box-shadow: 0 0 13px rgba(102, 153, 204, .05);
    }
}

/* default buttons normal */
input[type='submit'],
.largeButtons ul li.default a {
	border: 1px solid #bcd;
	color: #69c;
	
	background-color: #69c;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#d8e7f5));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fff, #d8e7f5);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#d8e7f5));
	background-image: -o-linear-gradient(#fff, #d8e7f5);
	background-image: linear-gradient(#fff, #d8e7f5);
	
	-webkit-box-shadow: 0 0 10px #369;
	-moz-box-shadow: 0 0 10px #369;
	-ms-box-shadow: 0 0 10px #369;
	-o-box-shadow: 0 0 10px #369;
	box-shadow: 0 0 10px #369;
	
	-webkit-animation-name: glowLargeButtons;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out; 
	
	-moz-animation-name: glowLargeButtons;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: ease-in-out;
	
	-ms-animation-name: glowLargeButtons;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: alternate;
	-ms-animation-timing-function: ease-in-out; 
	
	-o-animation-name: glowLargeButtons;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
	-o-animation-timing-function: ease-in-out;
	
	animation-name: glowLargeButtons;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

/* default buttons hover */
input[type='submit']:hover,
.largeButtons ul li.default a:hover {
	border: 1px solid #69c;
	color: #369;
}

/* default buttons active */
input[type='submit']:focus,
.largeButtons ul li.default a:focus,
input[type='submit']:active,
.largeButtons ul li.default a:active{
	color: #036;
	text-decoration: none;
	
	background-color: #69c;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d8e7f5), to(#fff));
	background-image: -moz-linear-gradient(0% 0% 270deg, #d8e7f5, #fff);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#d8e7f5), to(#fff));
	background-image: -o-linear-gradient(#d8e7f5, #fff);
	background-image: linear-gradient(#d8e7f5, #fff);
}

/* ToDo: depracated? */
.largeButtons ul li a img {
	vertical-align: middle;
	margin: 0;
	height: 24px;
	width: 24px;
}



/* -- -- -- -- -- Border -- -- -- -- -- */

.border {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 15px 0 15px;
}

/* -- -- -- -- -- Box Title -- -- -- -- -- */

.boxTitle {
	background-color: #29374a;
	/* Disabled, because the WoltLab header image is not LGPL 
	Activate it if you want to test your header image */
	/* background-image: url("../images/header.png"); */
	background-position: left top;
	background-repeat: repeat-x;

	border-radius: 7px;
	
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	-ms-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.boxTitle > hgroup {
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	padding: 7px;
}

.boxTitle > hgroup a, .boxTitle > a {
	color: #fff;
	text-decoration: none;
}

.boxTitle > hgroup h1 {
	display: inline-block;
}

.boxTitle img.handle {
	float: right !important;
	height: 16px;
	width: 16px;
	cursor: pointer;
	margin-top: -1px;
}



/* -- -- -- -- -- Menu -- -- -- -- -- */

.menu {
	color: #fff;
	padding: 6px 7px;
}

.menu ul {
	text-align: center;
}

.menu ul li {
	display: inline;
}

.menu ul li a {
	color: #eee !important;
	font-size: 85%;
	text-decoration: none;
	text-shadow: 0 -1px 0 #000;
	border: 1px solid rgba(0, 0, 0, .3);
	background-color: rgba(0, 0, 0, .1);
	padding: 2px 10px;
	border-radius: 13px;
	
	-webkit-transition: color .1s linear;
	-moz-transition: color .1s linear;
	-ms-transition: color .1s linear;
	-o-transition: color .1s linear;
	transition: color .1s linear;
}

.menu ul li a:hover {
	color: #fff !important;
	border: 1px solid rgba(0, 0, 0, .3);
	background-color: rgba(0, 0, 0, .2);
}

.menu ul li a:active, .menu ul li a:focus, .menu ul li a.active {
	border: 1px solid rgba(0, 0, 0, .5);
	
	-webkit-box-shadow: inset 0 2px 15px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 0 2px 15px rgba(0, 0, 0, .5);
	-ms-box-shadow: inset 0 2px 15px rgba(0, 0, 0, .5);
	-o-box-shadow: inset 0 2px 15px rgba(0, 0, 0, .5);
	box-shadow: inset 0 2px 15px rgba(0, 0, 0, .5);
}



/* -- -- -- -- -- ToDo: Tables -- -- -- -- -- */

/* Table */

table {
	width: 100% !important;
}

/* Table Header */

thead th {
	font-size: 87%;
	white-space: nowrap;
}

thead th:first-child {
	border-top-left-radius: 5px;	
}

thead th:last-child {
	border-top-right-radius: 5px;	
}

thead th p a, thead th p.emptyHead {
	color: #69c !important;
	text-shadow: 0 -1px 0 #000;
	display: block;
	text-decoration: none !important;
	padding: 7px;
	background-color: rgba(0, 0, 0, .4);
	/*
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#000));/* ToDo: Transparency missing *//*
	background-image: -moz-linear-gradient(0% 0% 270deg, #444, #000);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#000));
	background-image: -o-linear-gradient(#444, #000);
	background-image: linear-gradient(#444, #000);
	*/
}

thead th p a {
	border-right: 1px solid rgba(0, 0, 0, .4);
}

thead th:last-child p a {
	border-right-width: 0;
}

thead th:hover p a {
	color: #fff !important;
	background-color: rgba(0, 0, 0, .5);
}

thead th.active p a {
	background-color: rgba(0, 0, 0, .5);
	font-weight: bold;
	color: #fff !important;
	
	-webkit-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .5);
	-ms-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .5);
	-o-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: inset 0 5px 15px rgba(0, 0, 0, .5);
}

thead th.active:hover p a {
	background-color: rgba(0, 0, 0, .5);
}

thead th.columnMark p.emptyHead {
	background-color: transparent;
	padding: 0 !important;
	display: block;
	width: 30px;
}

thead th p a img {
	margin-top: -5px !important;
	margin-bottom: -3px !important;
}

/* Table Body */

tbody tr {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}

tbody tr:last-child {
	/* no border for the last tables row */
	border-bottom-width: 0;
}

tbody tr:last-child td:first-child {
	/* rounded corners for the last table cell to the left */
	border-bottom-left-radius: 5px;	
}

tbody tr:last-child td:last-child {
	/* rounded corners for the last table cell to the right */
	border-bottom-right-radius: 5px;	
}

tbody td {
	background-color: #fcfdfe;
	border-right: 1px solid rgba(255, 255, 255, .3);
	padding: 5px;
}

tbody td:last-child {
	border-right-width: 0;
}

tbody tr:nth-child(2n+1) td {
	/* auto-colorer for every 2nd row */
	background-color: #f2f6fa;
}

tbody tr:hover td {
	background-color: #d8e7f5;
}

tbody tr .columnIcon img {
	height: 16px;
	width: 16px;
}

/* Table Specials */

/*
.menu ~ .border {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
*/

.menu ~ .border thead th:first-child {
	border-top-left-radius: 0 !important;
}

.menu ~ .border thead th:last-child {
	border-top-right-radius: 0 !important;	
}

.menu ~ .border thead th:first-child,
.boxTitle > table thead th:first-child {
	border-top-left-radius: 0 !important;
}

.menu ~ .border thead th:last-child,
.boxTitle > table thead th:last-child {
	border-top-right-radius: 0 !important;	
}



/* -- -- -- -- -- ToDo: Page Navigation -- -- -- -- -- */

.pageNavigation ul li {
	display: inline-block;
	border-radius: 3px;
}

.pageNavigation ul li:not(.skip) {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 3px;
}

.pageNavigation ul li.active,
.pageNavigation ul li:not(.skip):hover {
	background-color: #faebd7;
	border-color: #f80;
	color: #f80;
}

.pageNavigation ul li a {
	text-decoration: none;
}

.pageNavigation ul li:not(.skip):hover a {
	color: #f80;
}

.pageNavigation ul li.skip {
	vertical-align: middle;
}



/* -- -- -- -- -- System Notifications -- -- -- -- -- */

p.info,
p.error,
p.success,
p.warning {
	border-radius: 7px;
	margin-bottom: 14px;
	padding: 7px 14px;
}

p.info {
	background-color: #def;
	border: 1px solid #06f;
}

p.success {
	background-color: #efe;
	border: 1px solid #090;
}

p.error {
	background-color: #fee;
	border: 1px solid #c00;
}

p.warning {
	background-color: #ffd;
	border: 1px solid #660;
}







/* ToDo: Installation */

div#packageInstallationDialogContainer {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fefefe, #eee);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -o-linear-gradient(#fefefe, #eee);
	background-image: linear-gradient(#fefefe, #eee);
	
	height: 100%;
	max-width: 600px;
	padding: 21px;
}

div#ajaxExceptionStacktrace {
	overflow: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

div#packageInstallationInnerContentContainer {
	border-top: 2px solid #999 !important;
	border-radius: 0 !important;
	margin-top: 21px;
	padding-top: 14px;
}

div#packageInstallationInnerContent p.error {
	background-color: #fdd;
	border: 3px solid #ed1c24;
	border-radius: 5px;
	margin-bottom: 14px;
	padding: 7px;
}

div#ajaxExceptionStacktrace {
	border: 1px solid #ccc;
	font-family: monospace;
	font-size: 90%;
	line-height: 1.2em;
	padding: 3px;
}





/* ToDo */

#actionProxyLoading {
	background-color: #faebd7;
	border: 1px solid #f80;
	border-top-width: 0;
	border-radius: 0 0 5px 5px;
	left: 43%;
	padding: 7px 21px 7px;
	position: fixed;
	top: 0;
}

div.wcfDimensions {
	display: inline-block;
}

div.overlayLoading {
	background-color: #fff;
	background-image: url("../../images/spinner.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

div.ui-dialog {
	border: 10px solid rgba(0,0,0,.2);
	border-radius: 15px;
	display: inline-block !important;
	width: auto !important;
	min-width: 80px;
}

div.ui-dialog-content p {
	background-color: #fff;
	padding: 7px;
}

div.ui-dialog-titlebar {
	background-color: #ccc;
	border-bottom: 5px solid rgba(0,0,0,.6);
	padding: 7px;
	position: relative;
}

span.ui-dialog-title {
	color: #fff;
	text-shadow: 5px 0 0 #000;
}

a.ui-dialog-titlebar-close {
	background-image: url("../../icon/deleteM.png");
	background-position: top left;
	background-repeat: no-repeat;
	height: 24px;
	position: absolute !important;
	right: -16px;
	top: -16px;
	width: 24px;
}

a.ui-dialog-titlebar-close span {
	display: none;
	visibility: hidden;
}

div.ui-widget-overlay {
	background-color: #000;
	left: 0;
	opacity: .6;
	position: fixed;
	top: 0;
}



/* -- -- -- -- -- Tab Menu -- -- -- -- -- */
/* -- -- -- -- -- Parts taken from jQuery UI @ themes/base/jquery.ui.tabs.css -- -- -- -- -- */

/* Tab Menu */

.tabMenu {
	text-shadow: 0 1px 0 #fff;
	background-color: none;
	white-space: nowrap;
	position: relative;
	display: block;
	text-align: center;
	padding: 0 5px;
}

.tabMenu:after {
	content: "";
	display: block;
	clear: both;
}

.tabMenu li {
	list-style: none;
	display: inline-block;
	white-space: nowrap;
	z-index: 90; /* Prevents border overlay during transition */
}

.tabMenu li a {
	color: #999;
	font-size: 110%;
	padding: 10px 15px 7px;
	text-decoration: none;
	border: 1px solid #ccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	display: inline-block;
	/*
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fefefe, #eee);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -o-linear-gradient(#fefefe, #eee);
	background-image: linear-gradient(#fefefe, #eee);
	*/
}

.tabMenu li a:hover {
	color: #666;
}

.tabMenu li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 1px;
}

.tabMenu li.ui-state-active a {
	color: #333 !important;
	font-weight: bold;
	background-color: rgba(230, 230, 230, .15);
}

.tabMenu li.ui-tabs-selected a {
	background-color: #fefefe;	
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 1)), to(rgba(230, 230, 230, .15)));
	background-image: -moz-linear-gradient(0% 0% 270deg, rgba(255, 255, 255, 1), rgba(230, 230, 230, .15));
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 1)), to(rgba(230, 230, 230, .15)));
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, .15));
	background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, .15));
	
	border-bottom: 1px solid rgba(230, 230, 230, .15);
}

.tabMenu li.ui-tabs-selected a,
.tabMenu li.ui-state-disabled a,
.tabMenu li.ui-state-processing a {
	cursor: default;
}

.tabMenu li a,
.ui-tabs .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}

/* Tab Menu Content */

.tabMenuContent {
	background-color: rgba(230, 230, 230, .15);
	border: 1px solid #ccc !important;
	z-index: 89; /* Prevents border overlay during transition */
	display: block;
	margin: -2px 0 0;
	padding: 15px 23px;
}

.content {
	border-width: 0 !important;
}

/* ToDo: 2x hidden? */

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}

.ui-helper-clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}



/* ToDo: Is all that really necessary? We wanted to support good browser only */

.ui-helper-clearfix {
	display: inline-block;
}

/* Required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
	height: 1%;
}

.ui-helper-clearfix {
	display: block;
}

/* end clearfix */
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
}



/* Badges */

.badge {
	color: #369;
	font-size: 85%;
	text-shadow: none;
	border-radius: 10px;
	background-color: #fff;
	margin-right: -3px;
	margin-left: 3px;
	padding: 1px 5px 2px;
	display: inline-block;
	position: relative;
	top: -1px;
}



/* Collapsible */

.collapsible {
	float: left;
	margin: 5px 5px 0 5px;
}

.collapsible img {
	width: 16px;
	height: 16px;
}



/* -- -- -- -- -- EOF -- -- -- -- -- */
