/**
 * Footer Styles
 *
 * @author		Alexander Ebert, Harald Szekely
 * @copyright	2011 WoltLab GmbH
 */

/* -- -- -- -- -- Miscellaneous -- -- -- -- -- */

* {
	text-overflow: ellipsis;
}

body {
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size: .8em;
	
	background-color: #29374a;
}

img {
	vertical-align: middle !important;
}

a {
	color: #369;
	text-decoration: none;
}

a:hover {
	color: #036;
	text-decoration: underline;
}

.invisible {
	position: absolute;
	left: -9000px;
	top: -9000px;
}

/* -- -- -- -- -- Header -- -- -- -- -- */

header {
	margin: 0 23px 0;
}

header div#logo h1 {
	color: #d8e7f5;
	text-shadow: 0 -1px 0 #000;
	font-size: 160%;
	position: relative;
	top: 45px;
}

header div#logo a:hover {
	color: #d8e7f5;
	text-decoration: none !important;
}

header div#logo img {
	float: left;
}

header div#logo a {
	display: block;
	height: 100px;
	margin-bottom: 21px;
	text-align: right;
}

/* -- -- -- -- -- Main Menu -- -- -- -- --  */

menu.mainMenu {
	margin: 0 7px -7px;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 5px 5px 0 0;
	display: inline-block;
}

menu.mainMenu:after {
	content: "";
	display: block;
	clear: both;
}

menu.mainMenu li {
	font-size: 105%;
	font-weight: normal;
	color: #ccc;
	text-shadow: 0 -1px 0 #000;
	cursor: pointer;
	display: inline-block;
	margin: 5px -5px 0;
	padding: 3px 20px 11px;
	float: left;
	position: relative;
	z-index: 1;
}

menu.mainMenu li:after {
	content: "";
	display: block;
	clear: both;
}

menu.mainMenu li:hover {
	color: #fff;
}

menu.mainMenu li.activeMenuItem {
	font-size: 110%;
	font-weight: bold;
	color: #369;
	text-shadow: 0 1px 0 #fff;
	background-color: #e7f2fd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e7f2fd));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fff, #e7f2fd);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e7f2fd));
	background-image: -o-linear-gradient(#fff, #e7f2fd);
	background-image: linear-gradient(#fff, #e7f2fd);
	
	border-radius: 5px 5px 0 0;
	margin: 0;
	padding: 10px 20px 13px;
	position: relative;
	top: -3px;
	z-index: 10;
}

/* -- -- -- -- -- Header Navigation -- -- -- -- --  */

nav.headerNavigation {
	display: block;
	background-color: #e7f2fd;
	border-bottom: 1px solid #bcd;
	border-radius: 3px 3px 0 0;
	padding: 3px 7px;
	position: relative;
}

nav.headerNavigation:after {
	content: "";
	display: block;
	clear: both;
}

nav.headerNavigation ul {
	display: block;
}

nav.headerNavigation ul li {
	float: right;
}

/* -- -- -- -- -- Main -- -- -- -- -- */

div.main {
	margin: 0 23px 0;
	border-collapse: collapse;
	display: table;
	table-layout: fixed;
}

div.main > div {
	display: table-row;
}

/* -- -- -- -- -- Content -- -- -- -- -- */

div#content {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -moz-linear-gradient(0% 0% 270deg, #eee, #fefefe);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -o-linear-gradient(#eee, #fefefe);
	background-image: linear-gradient(#eee, #fefefe);
	
	display: table-cell;
	padding: 21px;
	width: 100%;
}

/* -- -- -- -- -- Sidebar -- -- -- -- -- */

aside.sidebar {
	width: 275px;
	display: table-cell;
	background-color: #d8e7f5;
}

/* -- -- -- -- -- Sidebar Menu -- -- -- -- -- */

nav.sidebarMenu {
	white-space: nowrap;
}

nav.sidebarMenu div.menuContainer {
	background-color: #d8e7f5;
	position: relative;
	color: #69c;
	text-shadow: 0 1px 0 #fff;
}

nav.sidebarMenu div.menuContainer a {
	color: #69c;
	text-shadow: 0 1px 0 #fff;
}

nav.sidebarMenu div.menuContainer a:hover {
	color: #369;
	text-decoration: none !important;
}

nav.sidebarMenu div.menuContainer h1 {
	background-image: url("../../icon/arrowRightS.png");
	background-position: 15px center;
	background-repeat: no-repeat;
	color: #369;
	cursor: pointer;
	font-size: 130%;
	font-weight: bold;
	margin-top: 5px;
	padding: 7px 7px 7px 35px;
	position: relative;
}

nav.sidebarMenu div.menuContainer h1.activeMenuItem {
	background-image: url("../../icon/arrowDownS.png");
}

nav.sidebarMenu div.menuContainer ul li {
	font-size: 110%;
	padding: 7px 15px 7px 35px;
}

nav.sidebarMenu div.menuContainer ul li.activeMenuItem {
	background-color: #fff;
}

nav.sidebarMenu div.menuContainer ul li.activeMenuItem a {
	color: #036;
	font-weight: bold;
}

/* -- -- -- -- -- Footer -- -- -- -- --  */

footer {
	clear: both;
	padding: 0 23px;
	position: relative;
	text-align: center;
}

footer:after {
	content: "";
	display: block;
	clear: both;
}

footer > div {
	background-color: #e7f2fd;
	border-top: 1px solid #bcd;
	border-radius: 0 0 3px 3px;
	clear: both;
	padding: 3px 7px;
}

footer > div:after {
	content: "";
	display: block;
	clear: both;
}

footer p.copyright {
	padding-top: 20px;
	min-height: 40px;
}

footer p.copyright a:hover {
	color: #69c;
	text-decoration: none;
}






footer nav#navigationFooter {
	float: right;
}

footer nav#navigationFooter a span {
	display: none;
}

footer nav#navigationFooter ul li {
	display: inline-block;
}

footer .toTopLink {
	float: right;
}



div.wcfDimensions {
	display: inline-block;
}

div.overlayLoading {
	background-color: #fff;
	background-image: url("../../images/spinner.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

div.ui-dialog {
	border: 10px solid rgba(0,0,0,.2);
	border-radius: 15px;
	display: inline-block !important;
	width: auto !important;
	min-width: 80px;
}

div.ui-dialog-content p {
	background-color: #fff;
	padding: 7px;
}

div.ui-dialog-titlebar {
	background-color: #ccc;
	border-bottom: 5px solid rgba(0,0,0,.6);
	padding: 7px;
	position: relative;
}

span.ui-dialog-title {
	color: #fff;
	text-shadow: 5px 0 0 #000;
}

a.ui-dialog-titlebar-close {
	background-image: url("../../icon/deleteM.png");
	background-position: top left;
	background-repeat: no-repeat;
	height: 24px;
	position: absolute !important;
	right: -16px;
	top: -16px;
	width: 24px;
}

a.ui-dialog-titlebar-close span {
	display: none;
	visibility: hidden;
}

div.ui-widget-overlay {
	background-color: #000;
	left: 0;
	opacity: .6;
	position: fixed;
	top: 0;
}

/* -- -- -- -- -- Headlines -- -- -- -- -- */

div.mainHeadline {
	height: 48px;
	margin-bottom: 7px;
	position: relative;
}

div.mainHeadline img {
	position: absolute;
	top: -4px;
	left: 0;
}

div.mainHeadline div.headlineContainer {
	height: 48px;
	padding-left: 60px;
	vertical-align: middle;
}

div.mainHeadline div.headlineContainer h2 {
	border-bottom: 1px solid #ccc;
	font-size: 140%;
	padding-bottom: 3px;
}

div.mainHeadline div.headlineContainer p {
	padding-top: 3px;
} 

h3.subHeadline {
	border-bottom: 2px solid #000;
	font-size: 120%;
	margin: 14px 0 14px;
	padding: 7px;
}

/* -- -- -- -- -- Fieldsets -- -- -- -- -- */

fieldset {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 7px 0 7px;
	padding: 14px;
}

fieldset legend {
	padding: 0 7px 0;
}

fieldset p.description {
	color: #777;
	font-size: 90%;
}

fieldset > ul {
	margin: 7px 0 21px 21px;
}

fieldset > ul li {
	list-style-type: circle;
}

/* -- -- -- -- -- Forms -- -- -- -- -- */

div.formElement {
	clear: both;
	margin-bottom: 14px;
}

div.formFieldLabel {
	float: left;
	text-align: right;
	width: 230px;
}

div.formField {
	margin-left: 250px;
}

div.formFieldDesc {
	color: #777;
	font-size: 90%;
	margin: 3px 0 7px 250px;
}

div.formGroupLabel label {
	display: none;
}

div.formGroupField div.formField label {
	display: block;
}




.border {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 14px 0 14px;
}

.borderMarginRemove {
	border-radius: 0 0 5px 5px;
	margin-top: 0;
}

.titleBarPanel {
	background-color: #eee;
	border-radius: 5px 5px 0 0;
	border-bottom-width: 0;
	margin-bottom: 0;
	padding: 7px;
}

.tabMenuContent,
.content {
	border-width: 0 !important;
}

/* -- -- -- -- -- Tables -- -- -- -- -- */

table {
	border-radius: 0 0 5px 5px;
	width: 100% !important;
}

th {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fefefe, #eee);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -o-linear-gradient(#fefefe, #eee);
	background-image: linear-gradient(#fefefe, #eee);
	
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 7px;
}

th.active {
	background-color: #faebd7;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#faebd7), to(#fa0));
	background-image: -moz-linear-gradient(0% 0% 270deg, #faebd7, #fa0);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#faebd7), to(#fa0));
	background-image: -o-linear-gradient(#faebd7, #fa0);
	background-image: linear-gradient(#faebd7, #fa0);
}

th.active:hover {
	background-color: #fa0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fa0), to(#faebd7));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fa0, #faebd7);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fa0), to(#faebd7));
	background-image: -o-linear-gradient(#fa0, #faebd7);
	background-image: linear-gradient(#fa0, #faebd7);
}

th:hover {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -moz-linear-gradient(0% 0% 270deg, #eee, #fefefe);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -o-linear-gradient(#eee, #fefefe);
	background-image: linear-gradient(#eee, #fefefe);
}

th:last-child {
	border-right-width: 0;
}

th a {
	display: block;
	text-decoration: none;
}

th a:hover {
	color: #00c !important;
	text-decoration: none !important;
}

td {
	border-right: 1px solid #fff;
	padding: 5px;
}

td:last-child {
	border-right-width: 0;
}

tbody tr {
	border-bottom: 1px solid #fff;
}

tbody tr:last-child {
	border-bottom-width: 0;
}

tr.container-1:hover td,
tr.container-2:hover td {
	background-color: #ddd;
}

tr.container-1 td {
	background-color: #fefefe;
}

tr.container-2 td {
	background-color: #eee;
}

/* -- -- -- -- -- Page Navigation -- -- -- -- -- */

.pageNavigation ul li {
	display: inline-block;
}

.pageNavigation ul li:not(.skip) {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 3px;
}

.pageNavigation ul li.active,
.pageNavigation ul li:not(.skip):hover {
	background-color: #faebd7;
	border-color: #ff8800;
	color: #ff8800;
}

.pageNavigation ul li a {
	text-decoration: none;
}

.pageNavigation ul li:not(.skip):hover a {
	color: #ff8800;
}

.pageNavigation ul li.skip {
	vertical-align: middle;
}

/* -- -- -- -- -- Large Buttons -- -- -- -- -- */

div.largeButtons {
	text-align: right;
}

div.largeButtons ul li {
	display: inline;
}

input[type='reset'],
input[type='submit'],
div.largeButtons ul li a {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fefefe, #eee);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -o-linear-gradient(#fefefe, #eee);
	background-image: linear-gradient(#fefefe, #eee);
	
	border: 1px solid #ccc;
	border-radius: 10px;
	display: inline-block;
	padding: 7px;
}

input[type='reset']:hover,
input[type='submit']:hover,
div.largeButtons ul li a:hover {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -moz-linear-gradient(0% 0% 270deg, #eee, #fefefe);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -o-linear-gradient(#eee, #fefefe);
	background-image: linear-gradient(#eee, #fefefe);
	
	text-decoration: none;
}

div.largeButtons ul li a img {
	vertical-align: middle;
}

div.formSubmit {
	text-align: center;
}

input[type='reset'],
input[type='submit'] {
	cursor: pointer;
}





div#packageInstallationDialogContainer {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fefefe, #eee);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -o-linear-gradient(#fefefe, #eee);
	background-image: linear-gradient(#fefefe, #eee);
	
	height: 100%;
	max-width: 600px;
	padding: 21px;
}

div#ajaxExceptionStacktrace {
	overflow: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

div#packageInstallationInnerContentContainer {
	border-top: 2px solid #999 !important;
	border-radius: 0 !important;
	margin-top: 21px;
	padding-top: 14px;
}

div#packageInstallationInnerContent p.error {
	background-color: #fdd;
	border: 3px solid #ed1c24;
	border-radius: 5px;
	margin-bottom: 14px;
	padding: 7px;
}

div#ajaxExceptionStacktrace {
	border: 1px solid #ccc;
	font-family: monospace;
	font-size: 90%;
	line-height: 1.2em;
	padding: 3px;
}

p.success {
	background-color: #b5e61d;
	border: 1px solid #22b14c;
	border-radius: 5px;
	margin-bottom: 14px;
	padding: 7px;
}

hr {
	display: none;
}

#actionProxyLoading {
	background-color: #faebd7;
	border: 1px solid #f80;
	border-top-width: 0;
	border-radius: 0 0 5px 5px;
	left: 43%;
	padding: 7px 21px 7px;
	position: fixed;
	top: 0;
}

fieldset legend ~ p {
	margin-bottom: 14px;
}

/* -- -- -- -- -- Tabbed Content -- -- -- -- -- */

dl {
	clear: both;
	margin-bottom: 7px;
}

dt { /* is op */
	float: left;
	text-align: right;
	width: 230px;
}

dd {
	margin-left: 250px;
}

dl dd ~ p {
	color: #777;
	font-size: 90%;
	margin: 3px 0 7px 250px;
}

dl.disabled dt {
	color: #777;
}




/* -- -- -- -- -- Taken from jQuery UI @ themes/base/jquery.ui.tabs.css -- -- -- -- -- */

.ui-tabs {
	position: relative; /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: 3px;
	zoom: 1;
}

.ui-tabs .ui-tabs-nav {
	height: 18px !important; /* Fixes a clearing problem */
	margin: 0 0 0 14px;
	background-color: none;
	padding: 3px 3px 0;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0 3px 1px 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
	z-index: 90; /* Prevents border overlay during transition */
}

.ui-tabs .ui-tabs-nav li a {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -moz-linear-gradient(0% 0% 270deg, #fefefe, #eee);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eee));
	background-image: -o-linear-gradient(#fefefe, #eee);
	background-image: linear-gradient(#fefefe, #eee);
	
	border: 1px solid #ccc;
	border-bottom-width: 0;
	border-radius: 10px 10px 0 0;
	float: left;
	padding: 7px 14px;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	background-color: #fefefe;	
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -moz-linear-gradient(0% 0% 270deg, #eee, #fefefe);
	background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fefefe));
	background-image: -o-linear-gradient(#eee, #fefefe);
	background-image: linear-gradient(#eee, #fefefe);
	
	border-bottom: 1px solid #fefefe;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
	background-color: #fefefe;
	border: 1px solid #ccc !important;
	z-index: 89; /* Prevents border overlay during transition */
	display: block;
	padding: 14px 21px;
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.ui-helper-clearfix {
	display: inline-block;
}

/* Required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
	height: 1%;
}

.ui-helper-clearfix {
	display: block;
}

/* end clearfix */
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(opacity=0);}

/* -- -- -- -- -- EOF -- -- -- -- -- */
