.containerList > li {
	padding: 20px 0;
	
	&:not(:last-child) {
		border-bottom: 1px solid $wcfContentBorderInner;
	}
	
	&:first-child {
		border-top: 1px solid $wcfContentBorder;
	}
	
	&:last-child {
		border-bottom: 1px solid $wcfContentBorder;
	}
	
	&.showMore {
		text-align: center;
	}
	
	.containerHeadline {
		position: relative;
		
		> .containerContentType {
			color: $wcfContentDimmedText;
			position: absolute;
			top: 5px;
			right: 0;
		}
		
		+ * {
			margin-top: 10px;
		}
	}
}

.containerBoxList {
	&.doubleColumned,
	&.tripleColumned {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -10px;
		
		> li {
			margin-bottom: 10px;
		}
	}
	
	&.doubleColumned > li {
		flex: 0 0 50%;
	}
	
	&.tripleColumned > li {
		flex: 0 0 auto;
		/* work-around for IE10 */
		width: calc(unquote("100% / 3"));
	}
}

.likeList > .likeTypeSelection {
	text-align: right;
	
	> .buttonGroup {
		display: inline-flex;
	}
}

.userList .userInformation {
	position: relative;
	
	&:hover > .buttonGroupNavigation {
		opacity: 1;
	}
	
	> .buttonGroupNavigation {
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity .2s linear;
	}
}