/* style for content area */
/* content header */
.contentHeader,
.boxHeadline { // deprecated
	color: $wcfContentHeadlineText; // todo: rename variable
	margin-bottom: 40px;
	
	.contentTitle,
	> h1 { // deprecated
		@extend .wcfFontTitle;
		
		.badge {
			top: -2px;
		}
	}
	
	a {
		color: $wcfContentHeadlineLink; // todo: rename variable
		
		&:hover {
			color: $wcfContentHeadlineLinkActive; // todo: rename variable
		}
	}
	
	.contentHeaderDescription {
		color: $wcfContentDimmedText;
	}
	
	.contentHeaderMetaData {
		color: $wcfContentDimmedText;
		
		&.inlineList {
			> li:not(:last-child) {
				margin-right: 10px;
			}
		}
		
		> li {
			a,
			a:hover,
			.icon {
				color: $wcfContentDimmedText;
			}
		}
	}
}

/* legacy styling for sub headlines (deprecated; use .section > .sectionTitle instead) */
.boxHeadline.boxSubHeadline {
	margin-top: 40px;
	margin-bottom: 20px;
	
	> h2 {
		color: $wcfContentHeadlineText; // todo: rename variable
		
		@extend .wcfFontSection;
		
		a {
			color: $wcfContentHeadlineLink; // todo: rename variable
			
			&:hover {
				color: $wcfContentHeadlineLinkActive; // todo: rename variable
			}
		}
		
		.badge {
			top: -2px;
		}
	}
}

/* content sections */
.section {
	margin-top: 40px;	
	
	.sectionHeader {
		position: relative;
		
		.buttonGroupNavigation {
			position: absolute;
			right: 0;
			top: 4px;
		}
	}
	
	.sectionTitle {
		color: $wcfContentHeadlineText; // todo: rename variable
		
		@extend .wcfFontSection;
		
		a {
			color: $wcfContentHeadlineLink; // todo: rename variable
			
			&:hover {
				color: $wcfContentHeadlineLinkActive; // todo: rename variable
			}
		}
		
		.badge {
			top: -2px;
		}
	}
	
	.sectionDescription {
		color: $wcfContentDimmedText;
	}
	
	> .sectionHeader,
	> .sectionTitle {
		margin-bottom: 20px;
	}
	
	&:not(.sectionContainerList) {
		> .sectionHeader,
		> .sectionTitle {
			border-bottom: 1px solid $wcfContentBorderInner;
			padding-bottom: 10px;
		}
	}
	
	&.tabularBox {
		> .sectionHeader,
		> .sectionTitle {
			border-color: $wcfTabularBoxHeadline;
			margin-bottom: 0;
		}
	}
	
	.section {
		margin-top: 20px;
		
		.sectionTitle {
			@extend .wcfFontHeadline;
		}
		
		> .sectionHeader,
		> .sectionTitle {
			margin-bottom: 15px;
		}
	}
}

/* fieldset styling (old sections / deprecated) */
fieldset {
	margin-top: 40px;
	
	> legend {
		border-bottom: 1px solid $wcfContentBorderInner;
		color: $wcfContentHeadlineText; // todo: rename variable
		float: left;
		margin-bottom: 20px;
		padding-bottom: 10px;
		width: 100%;
		
		@extend .wcfFontSection;
		
		a {
			color: $wcfContentHeadlineLink; // todo: rename variable
			
			&:hover {
				color: $wcfContentHeadlineLinkActive; // todo: rename variable
			}
		}
		
		.badge {
			top: -2px;
		}
		
		&+ * {
			clear: left;
		}
		
		+ small {
			color: $wcfContentDimmedText;
			position: relative;
			top: -12px;
		}
	}
}
.section {
	fieldset {
		margin-top: 20px;
		
		> legend {
			margin-bottom: 15px;
			
			@extend .wcfFontHeadline;
		}
	}	
}

/* styling for container headlines */
.containerHeadline {
	> h3 {
		@extend .wcfFontHeadline;
		
		> .badge {
			top: -2px;
		}
	}
	
	~ .containerContent {
		margin-top: 10px;
	}
}

/* styling for content navigation area (containing pagination / page buttons) */
.contentNavigation {
	align-items: center;
	display: flex;
	
	// align <nav> to the right side
	justify-content: flex-end;
	
	&:not(:first-child) {
		margin-top: 40px;
	}
	
	&:not(:last-child) {
		margin-bottom: 40px;
	}
	
	> nav {
		flex: 0 0 auto;
		order: 3;
		
		&.pagination {
			order: 1;
			
			// use up maximum space, causing it to stick to the left while all other
			// <nav> elements will still be aligned to the right side
			flex: 1 1 auto;
		}
		
		&.jsClipboardEditor {
			margin-right: 5px;
			order: 2;
		}
		
		& + nav {
			flex: 0 0 auto;
		}
		
		&:not(.pagination) {
			text-align: right;
		}
	}
	
	ul {
		display: inline-flex;
		
		> li {
			flex: 0 0 auto;
			
			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}
