.content {
	fieldset > legend {
		float: left;
		width: 100%;
		
		&+ * {
			clear: left;
		}
	}
	
	fieldset > legend,
	section > h1.subHeadline {
		@extend .wcfFontHeadline;
		
		border-left: 5px solid $wcfContentBorderInner;
		color: $wcfContentHeadlineText;
		font-weight: 400;
		margin-bottom: 20px;
		padding-left: 10px;
		
		a {
			color: $wcfContentHeadlineLink;
			
			&:hover {
				color: $wcfContentHeadlineLinkActive;
			}
		}
	}
	
	.container {
		fieldset {
			&:not(:first-child) {
				margin-top: 20px;
			}
			
			> legend {
				// TODO: border-bottom: 1px solid $wcfContentBorder;
				padding-bottom: 5px;
			}
		}
		
		section {
			&:not(:first-child) {
				margin-top: 20px;
			}
			
			> h1 {
				// TODO: border-bottom: 1px solid $wcfContentBorder;
				padding-bottom: 5px;
			}
		}
	}
	
	label {
		display: block;
		
		&.selectDropdown {
			display: inline;
		}
		
		&:not(:first-child) {
			margin-top: 5px;
		}
	}
}
