/* style for content area */
.content {
	/* content header */
	.contentHeader,
	.boxHeadline { // deprecated
		color: $wcfContentHeadlineText; // todo: rename variable
		margin-bottom: 30px;
		
		.contentTitle,
		> h1 { // deprecated
			@extend .wcfFontTitle;
		}
		
		a {
			color: $wcfContentHeadlineLink; // todo: rename variable
			
			&:hover {
				color: $wcfContentHeadlineLinkActive; // todo: rename variable
			}
		}
	}
	
	/* todo
	.boxHeadline {
		&.labeledHeadline {
			font-size: 0;
			
			> h1,
			> h2 {
				display: inline-block;
				margin-right: 10px;
			}
			
			> ul {
				display: inline-block;
				font-size: 1rem;
				
				&:not(:empty) {
					margin-right: 10px;
				}
			}
		}
	}*/
	
	/* content sections */
	.section {
		margin-top: 30px;
		
		> .sectionTitle {
			border-bottom: 1px solid $wcfContentBorderInner;
			color: $wcfContentHeadlineText; // todo: rename variable
			margin-bottom: 20px;
			padding-bottom: 10px;
			
			@extend .wcfFontHeadline;
			
			a {
				color: $wcfContentHeadlineLink; // todo: rename variable
				
				&:hover {
					color: $wcfContentHeadlineLinkActive; // todo: rename variable
				}
			}
		}
	}
	
	/* fieldset styling (old sections / deprecated) */
	fieldset {
		margin-top: 30px;
		
		> legend {
			border-bottom: 1px solid $wcfContentBorderInner;
			color: $wcfContentHeadlineText; // todo: rename variable
			float: left;
			margin-bottom: 20px;
			padding-bottom: 10px;
			width: 100%;
			
			@extend .wcfFontHeadline;
			
			a {
				color: $wcfContentHeadlineLink; // todo: rename variable
				
				&:hover {
					color: $wcfContentHeadlineLinkActive; // todo: rename variable
				}
			}
			
			&+ * {
				clear: left;
			}
		}
	}
}
