.layoutBoundary {
	margin: 0 auto;

	@include screen-md-down {
		padding: 0 10px;
		width: 100%;
	}

	@include screen-lg {
		padding: 0 20px;

		@if $useFluidLayout == 1 {
			min-width: var(--wcfLayoutMinWidth);
			max-width: var(--wcfLayoutMaxWidth);
		} @else {
			width: var(--wcfLayoutFixedWidth);
		}
	}
}

.invisible {
	display: none;
}

.grayscale {
	-webkit-filter: grayscale(1);
	filter: gray;
}

.monospace {
	font-family: var(--wcfFontFamilyMonospace) !important;
	font-size: 14px;
}

/* boxes with an image */
.box16 {
	@include box(16px, 5px);
}
.box24 {
	@include box(24px, 8px);
}
.box32 {
	@include box(32px, 10px);
}
.box48 {
	@include box(48px, 12px);
}
.box64 {
	@include box(64px, 15px);
}
.box96 {
	@include box(96px, 15px);
}
.box128 {
	@include box(128px, 20px);
}
.box256 {
	@include box(256px, 30px);
}

small,
.small {
	@include wcfFontSmall;
}

strong {
	@include wcfFontBold;
}

img {
	vertical-align: middle;
}

.elementPointer {
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translateY(-100%);

	&.center {
		left: 50%;
		transform: translateX(-50%) translateY(-100%);
	}

	&.left {
		left: 4px;
	}

	&.right {
		right: 4px;
	}

	&.flipVertical {
		bottom: 0;
		top: auto;
		transform: translateY(100%);

		&.center {
			transform: translateX(-50%) translateY(100%);
		}
	}
}

.nativeList {
	@include nativeList;
}

ul.nativeList {
	list-style-type: disc;
}
ol.nativeList {
	list-style-type: decimal;
}

/* simulate native HTML styles for certain elements */
.htmlContent {
	@include clearfix;

	img {
		height: auto;
		max-width: 100%;
	}

	> :first-child {
		margin-top: 0 !important;

		&:is(.messageFloatObjectLeft, .image-style-side-left, .messageFloatObjectRight, .image-style-side) {
			+ :is(p, ul, ol, h1, h2, h3, h4, h4, h6) {
				margin-top: 0 !important;
			}
		}
	}

	> :last-child {
		margin-bottom: 0 !important;
	}

	p {
		margin: 1em 0;
	}

	li > :first-child {
		margin-top: 0 !important;
	}

	li > :last-child {
		margin-bottom: 0 !important;
	}

	h1 {
		@include wcfFontTitle;
	}

	h2 {
		@include wcfFontSection;
	}

	h3 {
		@include wcfFontHeadline;

		font-weight: 600;
	}

	h4 {
		font-weight: 600;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 1.5em 0 1em 0;
	}

	ul,
	ol {
		@include nativeList;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	td,
	th {
		> :first-child {
			margin-top: 0 !important;
		}

		> :last-child {
			margin-bottom: 0 !important;
		}
	}

	figure.image {
		clear: both;
		display: block;
		margin: 1em auto;
		min-width: 50px;
		text-align: center;

		&.image-style-side-left {
			float: left;
			margin: 0 20px 20px 0;
		}

		&.image-style-side {
			float: right;
			margin: 0 0 20px 20px;
		}
	}
}

.containerContent,
.htmlContent {
	hr {
		border: 0;
		border-top: 1px solid var(--wcfContentBorderInner);
		height: 0;
	}
}

.separatorLeft::before {
	color: var(--wcfContentText);
	content: "\00b7";
	margin-right: 0.25em;
}

.separatorRight::after {
	color: var(--wcfContentText);
	content: "\00b7";
	margin-left: 0.25em;
}

.pointer {
	cursor: pointer;
}

a.externalURL::after {
	// 2197 = NORTH EAST ARROW
	content: "\00a0\2197";
	font-weight: normal !important;
	font-style: normal !important;
}

.visuallyHidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
	width: 1px !important;
}

/* Hide the focus ring for mouse interactions, but support them for keyboard navigation.
   See https://github.com/WICG/focus-visible and https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
:focus:not(:focus-visible) {
	outline: none;
}

summary {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}
