.layoutBoundary {
	margin: 0 auto;
	
	@if $useFluidLayout {
		min-width: $wcfLayoutMinWidth;
		max-width: $wcfLayoutMaxWidth;
	}
	@else {
		width: $wcfLayoutFixedWidth;
	}
}

.marginTop {
	margin-top: 20px;
}

.framed {
	> canvas,
	> img,
	> .icon {
		//background-color: @wcfContentBackgroundColor;
		//border: 1px solid @wcfContainerBorderColor;
		padding: 1px;
	}
}

.invisible {
	display: none;
}

.grayscale {
	filter: gray;
	-webkit-filter: grayscale(1);
}

/* boxes with an image */
@mixin box($imageSize, $margin: 0) {
	display: flex !important;
	
	&:not(:last-child) {
		margin-bottom: ($margin + 3px);
	}
	
	> :first-child:not(:last-child) {
		flex: 0 auto !important;
		margin-right: $margin;
	}
	
	> :last-child {
		flex: 1 !important;
	}
}

.box16 { @include box(16px, 4px); }
.box24 { @include box(24px, 4px); }
.box32 { @include box(32px, 7px); }
.box48 { @include box(48px, 7px); }
.box64 { @include box(64px, 7px); }
.box96 { @include box(96px, 11px); }
.box128 { @include box(128px, 11px); }
.box256 { @include box(256px, 21px); }

.wcfFontDefault {
	font-size: $wcfFontSizeDefault;
	font-weight: 400;
}

.wcfFontSmall {
	font-size: $wcfFontSizeSmall;
	font-weight: 400;
}

.wcfFontBold {
	font-weight: 600;
}

.wcfFontHeadline {
	font-size: $wcfFontSizeHeadline;
	font-weight: 300;
}

.wcfFontTitle {
	font-size: $wcfFontSizeTitle;
	font-weight: 300;
}

.wcfLineHeight {
	line-height: 1.61803399;
}

small {
	@extend .wcfFontSmall;
}

strong {
	@extend .wcfFontBold;
}

img {
	vertical-align: middle;
}

.elementPointer {
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translateY(-100%);
	
	&.center {
		left: 50%;
		transform: translateX(-50%) translateY(-100%);
	}
	
	&.left {
		left: 4px;
	}
	
	&.right {
		right: 4px;
	}
	
	&.flipVertical {
		bottom: 0;
		top: auto;
		transform: translateY(100%);
		
		&.center {
			transform: translateX(-50%) translateY(100%);
		}
	}
}

.nativeList {
	margin: 1em 0 1em 40px;
	
	ul,
	ol {
		margin-bottom: 0;
		margin-top: 0;
	}
	
	li {
		margin: 5px 0;
	}
}

ul.nativeList {
	list-style-type: disc;
}
ol.nativeList {
	list-style-type: decimal;
}

/* simulate native HTML styles for certain elements */
.htmlContent {
	p {
		margin: 1.5em 0;
	}
	
	h1 {
		@extend .wcfFontTitle;
	}
	
	h2 {
		@extend .wcfFontHeadline;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin: 1em 0;
	}
	
	ul, ol {
		@extend .nativeList;
	}
	
	ul {
		list-style-type: disc;
	}
	
	ol {
		list-style-type: decimal;
	}
}
