.gridList {
	display: grid;
	grid-auto-flow: row;
	row-gap: 20px;
}

.gridListItem {
	border-radius: 5px;
	display: grid;
	position: relative;

	&:not(:last-child) {
		padding-bottom: 20px;
		border-bottom: 1px solid var(--wcfContentBorderInner);
	}
}

.gridListItemMessage {
	column-gap: 10px;
	grid-template-areas:
		"image title   type"
		"image meta    meta"
		"image content content";
	grid-template-columns: 48px auto minmax(0, min-content);
}

.gridListItemImage {
	grid-area: image;
}

.gridListItemTitle {
	grid-area: title;
	@include wcfFontHeadline;
}

.gridListItemMeta {
	color: var(--wcfContentDimmedText);
	grid-area: meta;

	a,
	a:hover,
	a:focus {
		color: inherit;
		pointer-events: none;
	}
}

.gridListItemType {
	color: var(--wcfContentDimmedText);
	grid-area: type;
	justify-self: end;
	white-space: nowrap;
}

.gridListItemContent {
	grid-area: content;
	margin-top: 10px;
}

.gridListItemLink {
	color: inherit;

	&::before {
		content: "";
		inset: 0;
		position: absolute;
	}

	&:hover {
		color: inherit;
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}

@include screen-xs {
	.gridListItemMessage {
		grid-template-areas:
			"image   title"
			"image   meta"
			"content content";
		grid-template-columns: 48px auto;
	}

	.gridListItemType {
		display: none;
	}
}

@include screen-sm-down {
	.gridListItemTitle {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

@include screen-md-up {
	.gridListItemTitle {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
