/* @TODO */
.userAvatarImage { border-radius: 50%; }
/* @TODO END */

html, body {
	height: 100%;
	
	@extend .wcfLineHeight;
	@extend .wcfFontDefault;
}

body {
	font-family: $wcfFontFamily;
	position: relative;
	word-wrap: break-word;
}

a {
	cursor: pointer;
	text-decoration: none;
	
	&:hover {
		text-decoration: none;
	}
}

#pageContainer {
	display: flex;
	height: 100%;
	flex-direction: column;
}

/* COLUMN LAYOUT */
.pageHeaderContainer {
	flex: 0 0 auto;
	z-index: 100;
}

.main {
	background-color: $wcfContentBackground;
	color: $wcfContentText;
	flex: 1 0 auto;
	padding: 40px 0;
	z-index: 50;
	
	> div {
		display: flex;
	}
	
	a {
		color: $wcfContentLink;
		
		&:hover {
			color: $wcfContentLinkActive;
		}
	}
}

#content {
	flex: 1 auto;
}

.sidebar {
	flex: 0 0 310px;
	
	&:first-child {
		margin-right: 30px;
	}
}

#content + .sidebar {
	margin-left: 30px;
}

/* CONTENT AREA */


.containerHeadline {
	> h3 {
		@extend .wcfFontHeadline;
		
		> .badge {
			margin-left: 5px;
		}
	}
}
