.navigation {
	background-color: $wcfNavigationBackground;
	color: $wcfNavigationText;
	flex: 0 0 auto;
	padding: 5px 0;
	z-index: 25;
	
	> div {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		height: 30px;
	}
	
	.icon {
		color: $wcfNavigationText;
	}
	
	a {
		color: $wcfNavigationLink;
		
		&:hover {
			color: $wcfNavigationLinkActive;
		}
	}
}

.navigationIcons {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row-reverse;
	
	> li {
		flex: 0 0 auto;
		
		&:not(:last-child) {
			margin-left: 10px;
		}
		
		> a {
			opacity: .8;
			transition: opacity .2s linear;
			
			&:hover {
				opacity: 1;
			}
			
			> .icon {
				color: $wcfHeaderLink;
			}
		}
	}
}

.contentNavigation {
	align-items: center;
	display: flex;
	
	&:not(:first-child) {
		margin-top: 20px;
	}
	
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	
	> nav {
		flex: 1 1 auto;
		
		& + nav {
			flex: 0 0 auto;
		}
		
		&:not(.pageNavigation) {
			text-align: right;
		}
	}
	
	ul {
		display: inline-flex;
		
		> li {
			flex: 0 0 auto;
			
			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}

.pageNavigation > ul {
	display: inline-flex;
	
	> li {
		display: flex;
		flex: 0 0 auto;
		
		> .invisible {
			display: none;
		}
		
		> a,
		> span {
			background-color: $wcfButtonBackground;
			border: 1px solid $wcfButtonBorder;
			color: $wcfButtonText;
			padding: 3px 5px;
		}
		
		&.active > a,
		&.active > span,
		> a:hover {
			background-color: $wcfButtonBackgroundActive;
			border-color: $wcfButtonBorderActive;
			color: $wcfButtonTextActive;
		}
		
		&:not(:last-child) {
			margin-right: -1px;
		}
		
		> .icon {
			height: auto;
			line-height: inherit;
			width: auto;
		}
	}
}

.pageNavigation.small > ul > li {
	> a,
	> span:not(.invisible) {
		padding: 1px 5px;
	}
}
