.navigation {
	background-color: $wcfNavigationBackground;
	color: $wcfNavigationText;
	flex: 0 0 auto;
	padding: 5px 0;
	z-index: 25;
	
	> div {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		height: 30px;
	}
	
	.icon {
		color: $wcfNavigationText;
	}
	
	a {
		color: $wcfNavigationLink;
		
		&:hover {
			color: $wcfNavigationLinkActive;
		}
	}
}

.navigationIcons {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row-reverse;
	
	> li {
		flex: 0 0 auto;
		
		&:not(:last-child) {
			margin-left: 10px;
		}
		
		> a {
			> .icon {
				color: $wcfHeaderLink;
			}
		}
	}
}

.contentNavigation {
	align-items: center;
	display: flex;
	
	// align <nav> to the right side
	justify-content: flex-end;
	
	&:not(:first-child) {
		margin-top: 30px;
	}
	
	&:not(:last-child) {
		margin-bottom: 30px;
	}
	
	> nav {
		flex: 0 0 auto;
		order: 3;
		
		&.pageNavigation {
			order: 1;
			
			// use up maximum space, causing it to stick to the left while all other
			// <nav> elements will still be aligned to the right side
			flex: 1 1 auto;
		}
		
		&.jsClipboardEditor {
			margin-right: 5px;
			order: 2;
		}
		
		& + nav {
			flex: 0 0 auto;
		}
		
		&:not(.pageNavigation) {
			text-align: right;
		}
	}
	
	ul {
		display: inline-flex;
		
		> li {
			flex: 0 0 auto;
			
			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}

.pageNavigation > ul {
	display: inline-flex;
	
	> li {
		display: flex;
		flex: 0 0 auto;
		
		> .invisible {
			display: none;
		}
		
		> a,
		> span {
			color: $wcfContentText;
			padding: 1px 8px;
		}
		
		&.disabled > span {
			color: $wcfContentDimmedText;
		}
		
		&.active > a,
		&.active > span,
		> a:hover {
			background-color: $wcfButtonBackgroundActive;
			color: $wcfButtonTextActive;
		}
		
		> .icon {
			height: auto;
			line-height: inherit;
			width: auto;
		}
		
		&:not(:last-child) {
			margin-right: 1px;
		}
	}
}
/*@todo
.pageNavigation.small > ul > li {
	> a,
	> span:not(.invisible) {
		padding: 1px 5px;
	}
}*/
