/* @TODO */
#logo {
	//width: 75px;
	overflow: hidden;
	> a > img {
		//height: 60px;
	}
}
.interactiveDropdown { display: none; }
/* @TODO END */

.pageHeaderContainer {
	background-color: $wcfHeaderBackground;
	color: $wcfHeaderText;
	
	a {
		color: $wcfHeaderLink;
		
		&:hover {
			color: $wcfHeaderLinkActive;
		}
	}
}

.pageHeader {
	> div > div {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		padding: 20px 0;
	}
}

/* LOGO */
#logo {
	flex: 0 0 50%;
	
	> a > img.small {
		display: none;
	}
}

/* MAIN MENU */
.mainMenu {
	flex: 0 50%;
	
	.boxMenu {
		display: flex;
		
		> li {
			@extend .wcfFontHeadline;
			
			flex: 0 auto;
			
			&:not(:last-child) {
				margin-right: $wcfGapMedium;
			}
			
			> a {
				transition: color .2s linear;
				text-decoration: none;
				text-transform: uppercase;
			}
			
			&.active > a {
				@extend .wcfFontBold;
				
				color: $wcfHeaderLinkActive;
			}
		}
		
		> .boxMenuHasChildren {
			position: relative;
			
			&:hover {
				> a::after {
					transform: rotateX(180deg);
				}
				
				.boxMenuDepth1 {
					opacity: 1;
					transition-delay: 0s;
					visibility: visible;
				}
			}
			
			> a {
				padding-right: 15px;
				
				&::after {
					content: $fa-var-caret-down;
					display: block;
					font-family: FontAwesome;
					position: absolute;
					right: 0;
					top: 1px;
					transition: transform .12s ease-out;
				}
			}
		}
		
		.boxMenuDepth1 {
			background-color: $wcfHeaderMenuBackground;
			border: 1px solid $wcfHeaderMenuBorder;
			opacity: 0;
			padding: 3px 0;
			position: absolute;
			transition: visibility .2s linear .2s, opacity .2s linear;
			visibility: hidden;
			
			@include boxShadow(2px, 2px, rgba(0, 0, 0, .2), 10px);
			
			> li {
				> a {
					color: $wcfHeaderMenuLink;
					display: block;
					padding: 5px 20px;
					white-space: nowrap;
					
					@extend .wcfFontDefault;
				}
				
				&.active > a,
				> a:hover {
					background-color: $wcfHeaderMenuBackgroundActive;
					color: $wcfHeaderMenuLinkActive;
					text-decoration: none;
				}
				
				&.active > a {
					cursor: default;
				}
			}
		}
	}
}

/* USER PANEL */
#topMenu {
	flex: 0 50%;
	
	> ul {
		display: flex;
		justify-content: flex-end;
		
		> li {
			align-items: center;
			display: flex;
			flex: 0 auto;
			
			&:not(:last-child) > a {
				margin: 0 5px;
			}
			
			&.active > a {
				// @TODO
				color: rgba(255, 255, 255, 1);
				font-family: "Segoe UI Semibold";
				font-weight: bold;
			}
			
			> a {
				color: rgba(255, 255, 255, .8);
				flex: 0 auto;
				transition: color .2s linear;
				text-decoration: none;
				text-transform: uppercase;
				
				&:hover {
					color: rgba(255, 255, 255, 1);
					
					> .icon {
						color: rgba(255, 255, 255, 1);
					}
				}
				
				> .icon {
					color: rgba(255, 255, 255, .8);
					transition: color .2s linear;
					
					@extend .icon24;
				}
				
				> span:not(.icon):not(.badge) {
					display: none;
				}
			}
		}
	}
}

/* SEARCH AREA */
.pageHeaderSearch {
	flex: 0 50%;
	text-align: right;
}

.pageHeaderSearchInputContainer {
	display: inline-block;
	position: relative;
	
	&:hover {
		.pageHeaderSearchInput {
			background-color: $wcfHeaderSearchBoxBackgroundActive;
			border-color: $wcfHeaderSearchBoxBorderActive;
			color: $wcfHeaderSearchBoxTextActive;
		}
		
		.pageHeaderSearchInputButton > .icon {
			color: $wcfHeaderSearchBoxTextActive;
		}
	}
	
	.pageHeaderSearchInput {
		background-color: $wcfHeaderSearchBoxBackground;
		border-color: $wcfHeaderSearchBoxBorder;
		color: $wcfHeaderSearchBoxText;
		padding-right: 30px;
		
		&:focus {
			background-color: $wcfHeaderSearchBoxBackgroundActive;
			border-color: $wcfHeaderSearchBoxBorderActive;
			color: $wcfHeaderSearchBoxTextActive;
			
			~ .pageHeaderSearchInputButton > .icon {
				color: $wcfHeaderSearchBoxTextActive;
			}
		}
		
		/* set placeholder color */
		&::-webkit-input-placeholder { /* WebKit browsers */
			color: $wcfHeaderSearchBoxPlaceholderText;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: $wcfHeaderSearchBoxPlaceholderText;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10+ */
			color: $wcfHeaderSearchBoxPlaceholderText;
		}
				
		/* remove broken cancel-button (webkit) */
		&::-webkit-search-cancel-button {
			display:none;
		}
	}
	
	.pageHeaderSearchInputButton {
		background: none;
		border: 0 none;
		height: 20px;
		margin: -10px 5px 0 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 50%;
		width: 20px;
		
		> .icon {
			color: $wcfHeaderSearchBoxText;
		}
	}
}
