.pageFooter {
	background-color: $wcfFooterBackground;
	color: $wcfFooterText;
	flex: 0 0 auto;
	padding: 40px 0;
	z-index: 20;
	
	a {
		color: $wcfFooterLink;
		
		&:hover {
			color: $wcfFooterLinkActive;
		}
	}
	
	// copyright link styling
	.copyright {
		text-align: center;
		
		a {
			// use text color instead
			color: $wcfFooterText;
		}
	}
}
