/* @TODO */
.interactiveDropdown { display: none; }
/* @TODO END */

.pageHeaderContainer {
	background-color: $wcfHeaderBackground;
	color: $wcfHeaderText;
	
	a {
		color: $wcfHeaderLink;
		
		&:hover {
			color: $wcfHeaderLinkActive;
		}
	}
}

.pageHeader > div > div {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}

/* LOGO */
#logo {
	// use a fixed width of 50% together with the search bar to force a wrap
	flex: 0 0 50%;
	
	// gap between the two rows formed by the wrapping flex box
	margin-bottom: 15px;
	
	> a > img.small {
		display: none;
	}
}

/* MAIN MENU */
.mainMenu {
	flex: 1 1 auto;
	
	.boxMenu {
		display: flex;
		
		> li {
			@extend .wcfFontHeadline;
			
			flex: 0 0 auto;
			
			&:not(:last-child) {
				margin-right: 12px;
			}
			
			> a {
				background-color: $wcfHeaderMenuBackground;
				color: $wcfHeaderMenuLink;
				display: block;
				font-size: 16px;
				font-weight: 400;
				padding: 4px 12px;
			}
			
			&.active > a,
			&:hover > a {
				background-color: $wcfHeaderMenuBackgroundActive;
				color: $wcfHeaderMenuLinkActive;
			}
		}
		
		> .boxMenuHasChildren {
			position: relative;
			
			&:hover {
				> a::after {
					transform: rotateX(180deg);
				}
				
				.boxMenuDepth1 {
					visibility: visible;
				}
			}
			
			> a {
				padding-right: 21px;
				
				&::after {
					content: $fa-var-caret-down;
					display: block;
					font-family: FontAwesome;
					position: absolute;
					right: 6px;
					top: 3px;
					transition: transform .12s ease-out;
				}
			}
		}
		
		.boxMenuDepth1 {
			background-color: $wcfHeaderMenuDropdownBackground;
			border-bottom: 1px solid $wcfHeaderMenuDropdownBorder;
			padding: 3px 0;
			position: absolute;
			visibility: hidden;
			
			// offset the menu to prevent the staircase effect when two elements with dark and light
			// colors are right below each other; uses a transparent border rather than a margin to
			// prevent losing the hover on the <li> causing the menu to collapse when the cursor is
			// right between the menu item and the menu itself
			background-clip: padding-box;
			border-top: 3px solid transparent;
			
			@include boxShadow(2px, 2px, rgba(0, 0, 0, .2), 10px);
			
			> li {
				> a {
					color: $wcfHeaderMenuDropdownLink;
					display: block;
					padding: 5px 20px;
					white-space: nowrap;
					
					@extend .wcfFontDefault;
				}
				
				&.active > a,
				> a:hover {
					background-color: $wcfHeaderMenuDropdownBackgroundActive;
					color: $wcfHeaderMenuDropdownLinkActive;
					text-decoration: none;
				}
				
				&.active > a {
					cursor: default;
				}
			}
		}
	}
}

/* USER PANEL */
#topMenu {
	flex: 0 0 auto;
	
	> ul {
		display: flex;
		justify-content: flex-end;
		
		> li {
			align-items: center;
			display: flex;
			flex: 0 auto;
			
			&:not(:last-child) > a {
				margin: 0 5px;
			}
			
			&.active > a {
				// @TODO
				color: rgba(255, 255, 255, 1);
				font-family: "Segoe UI Semibold";
				font-weight: bold;
			}
			
			> a {
				color: rgba(255, 255, 255, .8);
				flex: 0 auto;
				transition: color .2s linear;
				text-decoration: none;
				text-transform: uppercase;
				
				&:hover {
					color: rgba(255, 255, 255, 1);
					
					> .icon {
						color: rgba(255, 255, 255, 1);
					}
				}
				
				> .icon {
					color: rgba(255, 255, 255, .8);
					transition: color .2s linear;
					
					@extend .icon24;
				}
				
				> span:not(.icon):not(.badge) {
					display: none;
				}
			}
		}
	}
}

/* SEARCH AREA */
.pageHeaderSearch {
	// use a fixed width of 50% together with the logo to force a wrap
	flex: 0 50%;
	text-align: right;
}

.pageHeaderSearchInputContainer {
	display: inline-block;
	position: relative;
	
	&:hover {
		.pageHeaderSearchInput {
			background-color: $wcfHeaderSearchBoxBackgroundActive;
			border-color: $wcfHeaderSearchBoxBorderActive;
			color: $wcfHeaderSearchBoxTextActive;
		}
		
		.pageHeaderSearchInputButton > .icon {
			color: $wcfHeaderSearchBoxTextActive;
		}
	}
	
	.pageHeaderSearchInput {
		background-color: $wcfHeaderSearchBoxBackground;
		border-color: $wcfHeaderSearchBoxBorder;
		color: $wcfHeaderSearchBoxText;
		padding-right: 30px;
		
		&:focus {
			background-color: $wcfHeaderSearchBoxBackgroundActive;
			border-color: $wcfHeaderSearchBoxBorderActive;
			color: $wcfHeaderSearchBoxTextActive;
			
			~ .pageHeaderSearchInputButton > .icon {
				color: $wcfHeaderSearchBoxTextActive;
			}
		}
		
		/* set placeholder color */
		&::-webkit-input-placeholder { /* WebKit browsers */
			color: $wcfHeaderSearchBoxPlaceholder;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: $wcfHeaderSearchBoxPlaceholder;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10+ */
			color: $wcfHeaderSearchBoxPlaceholder;
		}
				
		/* remove broken cancel-button (webkit) */
		&::-webkit-search-cancel-button {
			display:none;
		}
	}
	
	.pageHeaderSearchInputButton {
		background: none;
		border: 0 none;
		height: 20px;
		margin: -10px 5px 0 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 50%;
		width: 20px;
		
		> .icon {
			color: $wcfHeaderSearchBoxText;
		}
	}
}
