.pageHeader > div {
	/* huge performance increase when scrolling */
	will-change: transform;
}

.pageHeaderContainer.stickyPageHeader {
	z-index: 300;
}

.pageHeader.sticky {
	flex-wrap: nowrap;
		
	> div {
		background-color: $wcfHeaderBackground; /* @TODO */
		//@todobox-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		left: 0;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 301;
		
		> div {
			padding-bottom: 10px;
			padding-top: 10px;
		}
	}
	
	#logo {
		flex: 0 auto;
		margin-bottom: 0;
		order: 1;
		
		> a > .large {
			display: none;
		}
		
		> a > .small {
			display: block;
		}
	}
	
	.mainMenu {
		flex: 1 auto;
		order: 2;
		margin: 0 20px;
	}
	
	.userPanel {
		flex: 0 auto;
		order: 3;
		margin-right: 20px;
	}
	
	.pageHeaderSearch {
		flex: 0 auto;
		order: 4;
	}
	
	.pageHeaderSearchInputContainer:not(.open) {
		> .pageHeaderSearchInput {
			padding-right: 20px;
			width: 20px;
		}
		
		> .pageHeaderSearchInputButton {
			pointer-events: none;
		}
	}
}
