.pageFooter {
	background-color: $wcfFooterBackground;
	color: $wcfFooterText;
	flex: 0 0 auto;
	padding: 40px 0;
	
	a {
		color: $wcfFooterLink;
		
		&:hover {
			color: $wcfFooterLinkActive;
			text-decoration: underline;
		}
	}
	
	.footerContent {
		> div {
			&:not(:first-child) {
				margin-top: 20px;
			}
			
			// copyright and benchmark link styling
			a {
				// use text color instead
				color: $wcfFooterText;
			}
		}
		
		&:not(:first-child) > div:first-child {
			margin-top: 40px;
		}
	}
}
