/* print version */
@media print {
	/** reset font colors, backgrounds and shadows **/
	*,
	::after,
	::before {
		background: 0 0 !important;
		box-shadow: none !important;
		color: #000 !important;
		opacity: 1 !important;
		text-shadow: none !important;
	}
	
	
	/** hide obsolete elements **/
	/* general elements */
	.pageHeaderContainer,
	.pageNavigationIcons,
	.userNotice,
	.pageAction,
	.contentHeaderNavigation,
	.contentFooterNavigation,
	.paginationTop,
	.paginationBottom,
	.buttonList,
	.collapsibleButton,
	.columnMark,
	.statusDisplay,
	.dialogContainer,
	.formSubmit,
	.tabMenu > ul > li:not(.active),
	
	.showMore, 
	
	/* box layout */
	.boxesSidebarLeft,
	.boxesSidebarRight,
	.boxesFooterBoxes,
	.boxesFooter,
	
	/* message layout */
	.messageFooterButtons,
	.messageQuickOptions,
	.messageGroupEditLink,
	#messageQuickReply,
	.messageAuthor .badgeOnline,

	/* comment layout */
	.jsCommentAdd,
	
	/* user profile */
	.userProfileCoverPhoto,
	.userProfileButtonContainer,
	.likeTypeSelection {
		display: none !important;
	}
	
	/** minor optimizations **/
	.main {
		padding: 30px 0;
	}
	
	.content {
		flex-basis: auto !important;
		max-width: none !important;
	}
	
	.pageNavigation {
		display: block;
		padding-top: 10px;
		
		.breadcrumbs {
			margin-left: 0;
		}
	}
	
	.badge {
		padding: 0 !important;
		
		&::before {
			content: "[";
		}
		
		&::after {
			content: "]";
		}
	}
	
	.userProfileUser {
		position: static !important;
	}
	
	a.externalURL::after {
		content: " (" attr(href) ")";
	}
	
	.messageList,
	.messageList > li:not(:first-child) {
		border-top: 1px solid $wcfContentBorder;
	}
	
	.messageList > li {
		padding-top: 20px;
	}
	
	.messageSidebar {
		margin: 0 !important;
		padding: 0 !important;
	}
}
