.sidebar {
	background-color: $wcfSidebarBackground;
	color: $wcfSidebarBoxText;
	
	> div,
	> fieldset,
	> section {
		background-color: $wcfSidebarBoxBackground;
		border-radius: 3px;
		padding: 20px;
		
		&:after {
			clear: both;
			content: "";
			display: block;
			height: 0;
		}
		
		& + * {
			margin-top: 30px;
		}
	}
	
	> div {
		fieldset + fieldset,
		section + section {
			margin-top: 20px;
		}
	}
	
	fieldset > legend {
		float: left;
		width: 100%;
		
		& + * {
			clear: left;
		}
	}
	
	section > h1,
	fieldset > legend {
		@extend .wcfFontLarge;
		
		color: $wcfSidebarBoxHeadlineText;
		margin-bottom: 10px;
		
		> a {
			color: $wcfSidebarBoxHeadlineLink;
			
			> .icon {
				color: $wcfSidebarBoxHeadlineLink;
			}
			
			&:hover {
				color: $wcfSidebarBoxHeadlineLinkActive;
				
				> .icon {
					color: $wcfSidebarBoxHeadlineLinkActive;
				}
			}
		}
	}
	
	a {
		color: $wcfSidebarBoxLink;
		
		> .icon {
			color: $wcfSidebarBoxLink;
		}
		
		&:hover {
			color: $wcfSidebarBoxLinkActive;
			
			> .icon {
				color: $wcfSidebarBoxLinkActive;
			}
		}
	}
	
	dl.dataList {
		font-size: .85rem;
		overflow: hidden;
	}
	
	dl:not(.dataList) {
		&:not(:first-child) {
			margin-top: 10px;
		}
	}
	
	dl:not(.plain) {
		display: block;
		
		> dt,
		> dd {
			display: block;
			margin: 0;
			text-align: left;
			width: 100%;
		}
	}
}

.sidebarNavigation > li {
	&.active {
		background-color: rgb(255, 255, 255);
		margin: 0 -20px;
		padding: 0 20px;
	}
	
	> a {
		display: block;
		padding: 5px 0;
	}
}

.sidebarBoxHeadline > h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
