/* legacy styling for sidebars (deprecated) */
.sidebar {
	fieldset > legend {
		float: left;
		width: 100%;
		
		& + * {
			clear: left;
		}
	}
	
	.boxContainer {
		> div,
		> fieldset,
		> section:not(.box) {
			background-color: $wcfSidebarBackground;
			padding: 20px;
			
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
		
		section:not(.box) > h1,
		fieldset > legend {
			color: $wcfSidebarHeadlineText;
			margin-bottom: 15px;
			
			@extend .wcfFontHeadline;
			
			> a {
				color: $wcfSidebarHeadlineLink;
				
				> .icon {
					color: $wcfSidebarHeadlineLink;
				}
				
				&:hover {
					color: $wcfSidebarHeadlineLinkActive;
					
					> .icon {
						color: $wcfSidebarHeadlineLinkActive;
					}
				}
			}
		}
	}
	
	.formSubmit:not(:first-child) {
		margin-top: 20px;
	}
	
	.boxContainer {
		> div,
		> fieldset,
		> section {
			overflow: hidden;
			
			.button.more {
				float: right;
				margin-top: 15px;
			}
		}
	}
	
	.boxTitle {
		.badge {
			float: right;
			margin-top: 3px;
		}
	}
}

/*.sidebar {
	dl.dataList {
		overflow: hidden;
		
		@extend .wcfFontSmall;
	}
	
	dl:not(.dataList) {
		&:not(:first-child) {
			margin-top: 10px;
		}
	}
	
	dl:not(.plain) {
		display: block;
		
		> dt,
		> dd {
			display: block;
			margin: 0;
			text-align: left;
			width: 100%;
		}
	}
	
	
}

.sidebarNavigation > li {
	&.active {
		background-color: rgb(255, 255, 255); // @todo
		margin: 0 -20px;
		padding: 0 20px;
	}
	
	> a {
		display: block;
		padding: 5px 0;
	}
}

.sidebarBoxHeadline > h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}*/
