.sidebarItemList {
	> li {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.sidebarItemListEntry {
	column-gap: 8px;
	display: grid;
	grid-template-columns: 24px auto;
	position: relative;
}

.sidebarItemListEntryLink::before {
	content: "";
	inset: 0;
	position: absolute;
}

.sidebarItem.new h3 {
	font-weight: 600;
}

.sidebar {
	select {
		width: 100%;
	}

	select + select {
		margin-top: 10px;
	}
}

/* legacy styling for sidebars (deprecated) */
.sidebar {
	fieldset {
		margin-top: 0;

		> legend {
			float: left;
			width: 100%;

			& + * {
				clear: left;
			}
		}
	}

	.boxContainer {
		> div:not(.box),
		> fieldset,
		> section:not(.box) {
			background-color: var(--wcfSidebarBackground);

			@include screen-md-up {
				padding: 20px;
			}

			@include screen-sm-down {
				padding: 20px 10px;
			}

			&:not(:first-child) {
				margin-top: 30px;
			}
		}

		section:not(.box) > h1,
		fieldset > legend {
			color: var(--wcfSidebarHeadlineText);
			border-bottom-width: 0;
			margin-bottom: 15px;
			padding: 0;

			@include wcfFontHeadline;

			> a {
				color: var(--wcfSidebarHeadlineLink);

				> .icon {
					color: var(--wcfSidebarHeadlineLink);
				}

				&:hover {
					color: var(--wcfSidebarHeadlineLinkActive);

					> .icon {
						color: var(--wcfSidebarHeadlineLinkActive);
					}
				}
			}
		}
	}

	.formSubmit:not(:first-child) {
		margin-top: 20px;
	}

	.boxContainer {
		> div,
		> fieldset,
		> section {
			.boxContent {
				@include clearfix;
			}

			.button.more {
				float: right;
				margin-top: 15px;
			}
		}
	}

	.boxTitle {
		.badge {
			float: right;
			top: 2px;
		}
	}

	.sidebarBoxList {
		// deprecated
		> li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
