
/* ### -- -- -- -- -- Bugfix-Styles for Microsoft Internet Explorer 6 -- -- -- -- -- ### */

/* 

File: ie6-fix.css 
Copyright 2006-2011 by WoltLab GmbH. 

For full XHTML- & CSS-Compatibility be sure to include this File only within the so called "Internet Explorer Comment Hack". 

*/

/* ### -- -- -- -- -- Miscellaneous -- -- -- -- -- ### */

html, body {
	height: 100%;
}

#main {
	height: 0;	
}

.hidden {
	width: 0;
}

.container-1, .container-2, .container-3 {
	zoom: 1;	
}

.containerHead, .pageMenu ul li a, .tabMenu ul, .border {
	height: 0 !important;
}

.contentHeader, .contentFooter {
	height: 0;
}

.avatarDisplay fieldset {
	display: inline;
}

.avatarSelect li label {
	width: 154px;
	height: 154px;
}

.avatarSelect img {
	wcf: expression(
		this.onclick = new Function("$(this).previous().checked = 'checked';")
	);
}

.similarThreads li {
	height: 0;
}

.longSelect select {
	width: 500px;
}

.tableList .columnTopic div.topic, .mainHeadline .headlineContainer h2 {
	width: 100%;
}

.tabMenuContent div.container-1 {
	padding: 15px 25px 5px;
}

.content .container-1, .content .container-2, .content .container-3 {
	padding: 7px 25px;
}

.mainHeadline {
	height: 55px;
}

.smallButtons img {
	margin-top: 1px;
}

.sidebar hr {
	display: none;
}

/* ### -- -- -- -- -- global.css -- -- -- -- -- ### */

.itemList li {
	height: 0; /* triggers hasLayout */
	list-style-type: none; /* list bullets look wrong with lists that trigger hasLayout */
}

form .disabled, .tabMenu .disabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
}

/* ### -- -- -- -- -- User Menu -- -- -- -- -- ### */

#userMenu ul li a { /* this line is needed for the following declaration to work! */
	text-decoration: underline;
}

#userMenu ul li a:hover { /* this line only works together with the previous declaration! */
	text-decoration: none;
}

/* ### -- -- -- -- -- Login Popup -- -- -- -- -- ### */

.loginPopup {
	width: 0;	
}

.loginPopup input {
	font-size: 1em;
	width: auto;
}

/* ### -- -- -- -- -- System Messages/States -- -- -- -- -- ### */

.info, .warning, .error, .success {
	height: 0;	
}

.deleted img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.infoBox {
	clear: both !important;
}

.infoBox ul {
	margin: 7px 0;
}

/* ### -- -- -- -- -- Main Menu -- -- -- -- -- ### */

#userNote, #userMenu, #userMenu li, #userMenu ul {
 	display: inline;
 	width: auto;
}

#userMenu li {
	float: none;
}

#userPanel .userPanelInner {
	padding-top: 10px;
	padding-bottom: 3px;
}

.mainMenu {
	height: 0;
}

.mainMenu li, .mainMenu a {
	display: inline;
}

.mainMenu img {
	margin: 3px 0;
}

.mainMenu span, .pageMenu span {
	padding: 0 2px 0 0;
	display: inline !important;
}

/* ### -- -- -- -- -- Page -- -- -- -- -- ### */

#page { 
	height: 100%;
}

/* ### -- -- -- -- -- Search -- -- -- -- -- ### */

#search {
	white-space: nowrap;
	width: 0;
}

/* ### -- -- -- -- -- Tab Menu & Sub Tab Menu -- -- -- -- -- ### */

.tabMenu li {
	width: 0 !important;
}

.subTabMenu {
	height: 0;
}

.subTabMenu div {
	height: 5px;
}

/* ### -- -- -- -- -- Popup Menu -- -- -- -- -- ### */

.popupMenu {
	white-space: normal !important;
	width: 200px !important;
}

.popupMenu li, .popupMenu a {
	width: 200px !important;
}

.pageMenu li, .pageMenu a {
	height: 0 !important;
}

/* ### -- -- -- -- -- Page Navigation -- -- -- -- -- ### */

.pageNavigation a {
	width: 0;
	height: 0;
}

.pageNavigation li.children a img {
	display: none;
}

.pageNavigation input {
	padding: 2px 0;
	width: 1.5em;
	min-height: 1.4em;
}

.tableList .statusDisplayIcons {
	display: inline;
}

.tableList .statusDisplay .pageNavigation {
	display: inline;	
}

/* ### -- -- -- -- -- Fieldset -- -- -- -- -- ### */

fieldset {
	margin-top: 25px;
	padding-top: 15px;
	position: relative;
}

fieldset legend {
	padding: 3px;
	position: absolute;
	top: -13px;
	right: 8px;
}

/* ### -- -- -- -- -- imageViewer.css -- -- -- -- -- ### */

.imageViewerBackground, .imageViewerCurrentImage, .imageViewerMenu, .imageViewerCaption, .overlay {
	position: absolute !important;
}

/* ### -- -- -- -- -- Members List (Whitelist / Blacklist) -- -- -- -- -- ### */

.memberList li a {
	height: auto !important;
}

.memberList li .memberName {
	width: 174px;
	height: 1px;
}

.memberList li .memberListStatusIcon {
	position: absolute;
	right: 5px;
	top: 20%;
}

.memberList li a img {
	position: absolute;
	left: 4px;
	top: 20%;
}

/* ### -- -- -- -- -- PM Layout -- -- -- -- -- ### */

.pmIndex {
	margin-bottom: 7px;
}

.pmFolders {
	height: 0;
}

.pmUsageBar div {
	border-bottom: 7px solid #0a0;
	background-color: #0c0;
	height: 1px !important;
}

/* ### -- -- -- -- -- messages.css -- -- -- -- -- ### */

.message, .messageInner, .messageHeader, .messageFooter, .messageFooterLeft, .messageFooterRight, .containerContent, .smallButtons {
	height: 0;
}

.messageBody {
	float: right;
}

.message .messageTop .messageSidebar {
	height: 100px;
}

.message .messageFramedTop .messageSidebar {
	height: 90px;
}

.message .guestPost .messageSidebar {
	height: 40px !important;
}

.message .messageTop .messageAuthor, .message .messageFramedTop .messageAuthor {
	border-width: 0;
	margin-right: 47px;
	height: 0;
}

.message .messageLeft .messageAuthor, .message .messageLeft .messageAuthor, .message .messageFramedLeft .messageAuthor, .message .messageFramedLeft .messageAuthor {
	margin-bottom: -1px;
}

.message .messageTop .userAvatarFramed, .message .messageFramedTop .userAvatarFramed {
	height: 0;
}

.message .messageTop .userAvatar, .message .messageFramedTop .userAvatar, .message .messageTop .userAvatarFramed, .message .messageFramedTop .userAvatarFramed {
	right: 0 !important;
	top: 0 !important;
}

.message .messageLeft .userAvatarFramed, .message .messageRight .userAvatarFramed, .message .messageFramedLeft .userAvatarFramed, .message .messageFramedRight .userAvatarFramed {
	width: 154px;
	height: 154px;
}

.message .messageLeft .userAvatarFramed a, .message .messageRight .userAvatarFramed a, .message .messageFramedLeft .userAvatarFramed a, .message .messageFramedRight .userAvatarFramed a {
	width: 152px;
	height: 152px;
}

.message .messageTop .userAvatarFramed a, .message .messageFramedTop .userAvatarFramed a {
	position: relative !important;
	width: 78px;
	height: 78px;
}

.message .messageLeft .userAvatarFramed, .message .messageRight .userAvatarFramed, .message .messageFramedLeft .userAvatarFramed, .message .messageFramedRight .userAvatarFramed {
	margin: 7px 14px;
}

.message .messageLeft .userMessenger, .message .messageRight .userMessenger, .message .messageFramedLeft .userMessenger, .message .messageFramedRight .userMessenger {
	position: static !important;
}

/* fixes thread-page flickering */
.message .messageContent, .message .messageContentInner {
	position: relative;
}

.message .messageHeader .containerIcon {
	height: 30px;
}

/* ### -- -- -- -- -- Poll -- -- -- -- -- ### */

.poll .containerContent {
	height: 0;
}

.pollOptionBar {
	font-size: 6px; /* fixes wrong bar-heights */
	margin: 0;
}

.pollShowResults, .pollShowForm {
	height: 0 !important;
}

/* ### -- -- -- -- -- Code Box -- -- -- -- -- ### */

.codeBox img {
	margin-top: 5px;
}

.codeBox table {
	font-size: 1em;
}

.codeBox div {
	width: 100%;
	overflow-y: hidden;
}

.codeBox pre {
	padding-bottom: 2em;
}

/* ### -- -- -- -- -- wysiwyg.css -- -- -- -- -- ### */

.mceButtonDisabled a img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}

div.mceColors {
	height: 0 !important;
}

div.mceColors ul {
	height: 0 !important;
}

div.mceColors ul li {
	font-size: 0 !important;
	margin: 0 !important;
}

div.mceColors ul li a, div.mceColors ul li a:hover {
	margin: 0 0 1px 1px !important;
	width: 15px !important;
	height: 15px !important;
}

.editor .container-1, .editor .container-2, .editor .container-3 {
	padding: 0 !important;
}

.editor .popupMenu {
	bottom: 24px !important;
	height: 0 !important;
	right: 0 !important;
	width: auto !important;
}

.mceToolbar ul {
	margin: 0 !important;
}

/* ### -- -- -- -- -- forms.css -- -- -- -- -- ### */

.floatContainer, .formElement, .formGroup, .formGroupField {
	height: 0;
}

.formGroup fieldset {
	margin: 0;
	padding: 8px;
	position: static;
}

form textarea {
	border-width: 1px;
	width: 98%;
}

textarea, .inputText {
	width: 98%;
}

/* ### -- -- -- -- -- table.css -- -- -- -- -- ### */

table {
	border-collapse: collapse;
}

.tableList {
	font-size: 1em;
}

tr.tableHead a img {
	margin-top: 0;
}

.tableHead .emptyHead input {
	margin-top: -1px;
}

.tableHead a, .tableHead .emptyHead {
	height: 21px !important;
}

/* ### -- -- -- -- -- burningboard.css -- -- -- -- -- ### */

#boardlist .container-1, #boardlist .container-2 {
	display: inline;
	float: right;
}

#boardlist li ul .boardlistTitle .containerIcon {
	display: inline; /* prevents double margin */
}

#boardlist li ul li ul .boardlistTitle .containerIcon {
	display: inline; /* prevents double margin */
}

#boardlist li ul li ul li ul .boardlistTitle .containerIcon {
	display: inline; /* prevents double margin */
}

/* ### -- -- -- -- -- calendar.css -- -- -- -- -- ### */

.eventList a {
	height: 1.8em;	
}

.otherMonth {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

#repeatByDaySettings .toggleButton ul, #repeatByMonthSettings .toggleButton ul, #repeatByMonthDaySettings .toggleButton ul, #repeatByWeekSettings .toggleButton ul {
	width: 493px;
}

.accessRights ul li {
	height: 0;
}

.userProfileBox .border .timeLabel a {
	width: 0;
}

/* ### -- -- -- -- -- profile.css -- -- -- -- -- ### */			

#userCard {
	position: relative !important;
	height: 0;
}

#userCard .userCardList {
	position: static !important;
}

#userCardAvatar .userAvatar {
	display: inline;
}

#userCardAvatar .userAvatar a img {
	clear: both;
}

#userCardCredits .userPersonals {
	height: 59px;
	overflow: visible !important;
}

#userCard .smallButtons {
	display: block;
}

#userCard .smallButtons ul {
	width: 70%;
}

#userCard .smallButtons ul li {
	width: 0;
}

#userCard .smallButtons ul li a {
	float: right !important;
}

.dynContainer {
	height: 0;
}

.dynContainer .last {
	width: auto !important;
}

#userCard .friendsNone {
	margin-bottom: -30px !important;
}

.pageMenu .twoRows a:hover {
	padding-top: 2px !important;
	padding-bottom: 4px !important;
	height: 0 !important;
}

/* -- -- -- -- -- layout.css -- -- -- -- -- */

.column {
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	display: inline-block;
}

.column {
	display: inline;
	float: right;
}

.columnInner {
	height: 0;
}

.columnContainer {
	height: 0;
}

.layout-2 .second {
	width: auto !important;
}

.columnInner #editor {
	width: 97.5%;	
}

.sidebar, .sidebar * {
	 display: inline-block;
}

.sidebar .subTabMenu li a {
	 display: inline !important;
}

/* ### -- -- -- -- -- gallery.css -- -- -- -- -- ### */

a .thumbnail img {
	wcf: expression(
		this.onclick = new Function("window.location.href= $(this).up('a').href;")
	);
}

.galleryPhoto img {
	width: auto;
}

.galleryIndex .floatedElement {
	border: 0;
	padding: 8px 8px 14px;
	overflow: hidden !important;
}

.galleryIndex .marked {
	border-width: 1px;
	padding: 7px 7px 13px;
}

.galleryIndex .thumbnailButtons {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	visibility: visible !important;
	width: 103%;
	bottom: 65px;
}

.galleryIndex .thumbnailButtons input {
	margin: 0 2px !important;
}

.galleryIndex .thumbnailButtons .container-4 {
	display: inline !important;
}

.thumbnailView .last {
	width: auto !important;
}

.gallery .layout-2 .first {
	width: 65% !important;
}

.gallery .layout-2 .second {
	width: 35% !important;
}

.sidebar .smallButtons li {
	width: 0;
}

.balloon {
	width: 0 !important;
}

/* ### -- -- -- -- -- rules.css -- -- -- -- -- -- ### */

.rules ol {
	margin-right: 20px;	
}

/* ### -- -- -- -- -- footer.css -- -- -- -- -- ### */

.footerMenu, .footerOptions {
	height: 0;
}

.footerOptions {
	white-space: nowrap;
}

.footerOptions li {
	display: inline-block;	
}

.footerMenu li, .footerMenu a, .footerOptions li, .footerOptions a {
	display: inline;
}

.footerMenu img, .footerOptions img {
	margin: 3px 0;
}

.footerMenu span, .footerOptions span  {
	padding: 0 2px 0 0;
	display: inline !important;
}

.footerOptions li.extraButton a {
	padding: 1px 2px !important;
	display: block;
}

.footerOptions li.extraButton a img {
	margin: 0 !important;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
