.accountSecurityContainer {
	display: flex;

	@include screen-sm-down {
		flex-direction: column;
	}
}

.accountSecurityInformation {
	flex: 1 auto;
}

.accountSecurityInformationLink {
	color: inherit;
}

.accountSecurityButtons {
	flex: 0 0 auto;

	@include screen-md-up {
		margin-left: 10px;
	}

	@include screen-sm-down {
		align-self: flex-end;
		margin-top: 5px;
	}
}

.multifactorBackupCode {
	font-family: monospace;
	&.used {
		text-decoration: line-through;
	}
	.chunk {
		margin-left: 5px;
		&:first-child {
			margin-left: 0;
			font-weight: 600;
		}
	}
}

// Just .multifactorTotpCode is not specific enough.
input.multifactorTotpCode,
input.multifactorEmailCode {
	font-family: monospace;
	font-weight: 600;
	font-size: 28px;
}
input.multifactorBackupCode {
	font-family: monospace;
	font-weight: 600;
	font-size: 18px;
}

.multifactorTotpNewDevice {
	display: flex;
	flex-direction: column;
	margin-top: 20px;

	.totpSecretContainer {
		text-align: center;

		canvas {
			width: 200px;
			height: 200px;
			background: #fff;
			border-radius: 3px;
			border: 3px solid #fff;
			box-sizing: content-box;
		}
	}

	.totpSecret {
		display: inline-block;
		margin-top: 10px;
	}

	.multifactorTotpNewDeviceFields {
		flex: 1 1 auto;
	}

	@include screen-md-up {
		flex-direction: row;

		.totpSecretContainer {
			width: 250px;
			margin: 0 5px;
		}
	}
}
