/* object list, e.g. users and groups */
.aclList {
	> li {
		align-items: center;
		display: flex;
		padding: 10px 0;
		
		&:not(.active) {
			cursor: pointer;
		}
		
		&.active {
			background-color: $wcfTabularBoxBackgroundActive;
		}
		
		> .icon {
			flex: 0 0 36px;
			padding: 0 5px;
		}
		
		> .aclLabel {
			flex: 1 1 auto;
			margin: 0 5px;
		}
	}
	
	/* search input */
	& + .dropdown {
		display: block;
		margin-top: 20px;
	}
}

/* permissions per object */
.aclPermissionList {
	margin-top: 40px;
	
	> li {
		&.aclCategory {
			padding: 20px 10px 10px 0;
			
			@include wcfFontHeadline;
			
			&:hover {
				background-color: transparent;
			}
		}
		
		&:not(.aclCategory) {
			display: flex;
			padding: 10px 0;
		}
		
		> span {
			flex: 1 1 auto;
			padding-left: 10px;
		}
		
		> label {
			cursor: pointer;
			flex: 0 0 auto;
			padding: 0 20px;
			
			& + label {
				margin-left: 20px;
			}
		}
	}
}
