/* object list, e.g. users and groups */
.aclList {
	max-height: 400px;
	overflow: auto;

	&:not(:empty) {
		border-bottom: 1px solid var(--wcfContentBorder);
		border-top: 1px solid var(--wcfContentBorder);
	}

	> li {
		align-items: center;
		display: flex;
		padding: 10px 0;

		&:not(.active) {
			cursor: pointer;
		}

		&.active {
			background-color: var(--wcfTabularBoxBackgroundActive);
		}

		> .icon {
			flex: 0 0 36px;
			padding: 0 5px;
		}

		> .aclLabel {
			flex: 1 1 auto;
			margin: 0 5px;
		}

		&:first-child {
			border-top: none;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	/* search input */
	& + .dropdown, & + input[type="text"] {
		display: block;
		margin-top: 20px;
	}
}

/* permissions per object */
.aclPermissionList {
	margin-top: 40px;
	position: relative;
	display: grid;
	column-gap: 1px;
	grid-template-columns: 10px auto repeat(3, 60px);
	grid-template-rows: auto;

	> div {
		grid-column: 1 / span 5;
		transition: background-color 0.2s;

		&:not(:last-child):not(:first-child) {
			border-bottom: 1px solid var(--wcfContentBorderInner);
		}

		&:nth-child(2) {
			border-top: 1px solid var(--wcfContentBorder);
		}

		&:last-child {
			border-bottom: 1px solid var(--wcfContentBorder);
		}

		&:hover {
			background-color: var(--wcfTabularBoxBackgroundActive);
		}


		&.aclCategory {
			padding: 20px 10px 10px 0;

			@include wcfFontHeadline;

			&:hover {
				background-color: transparent;
			}
		}

		&:not(.aclCategory) {
			padding: 10px 0;
			display: grid;
			grid-template-columns: subgrid;
			grid-template-rows: subgrid;
		}

		&.aclHeader {
			display: grid;
			grid-template-columns: subgrid;
			grid-template-rows: subgrid;

			> span {
				text-align: center;
				@include wcfFontSmall;

				&.inherited {
					grid-column-start: 3;
				}

				&.grant {
					grid-column-start: 4;
				}

				&.deny {
					grid-column-start: 5;
				}
			}

			&:hover {
				background-color: transparent;
			}
		}

		&:not(.aclHeader) {
			> span {
				grid-column: span 2;
				grid-column-start: 2;
			}

			> label {
				text-align: center;
				cursor: pointer;
			}
		}
	}
}
