/* deprecated 6.2 no longer in use */
.articleTeaser {
	@include wcfFontBold;
}

.articleTeaser + .tableOfContentsWrapper {
	margin-top: 20px;
}

.articleTeaserContainer + .section,
.articleImageContainer + .section {
	margin-top: 20px !important;
}

.articleImage,
.contentCoverPhotoImage {
	/* work-around for IE 11 to properly align the image if overflowing */
	display: flex;
	flex-wrap: wrap;

	.articleImageWrapper,
	.contentCoverPhotoImageWrapper {
		align-items: center;
		border-radius: 3px;
		box-shadow:
			0 0 3px rgba(0, 0, 0, 0.12),
			0 1px 2px rgba(0, 0, 0, 0.24);
		display: flex;
		max-height: 300px;
		overflow: hidden;
		width: 100%;

		img {
			height: auto !important;
			width: 100% !important;
		}
	}

	figcaption {
		color: var(--wcfContentDimmedText);
		flex: 1 0 100%;
		margin-top: 5px;
		text-align: center;

		@include wcfFontSmall;
	}
}

.articleContent {
	.articleTagList {
		margin-top: 20px;
	}

	.articleLikeSection {
		align-items: center;
	}

	.articleButtons {
		justify-content: flex-end;
	}

	.articleLikesSummary:not(:empty),
	.articleButtons:not(:empty) {
		margin-top: 20px;
	}

	.anchorFixedHeader:target::before {
		content: "";
		display: block;
		height: 50px;
		margin-top: -50px;
	}
}

.articleAboutAuthor {
	.articleAboutAuthorText {
		font-style: italic;
	}

	.articleAboutAuthorUsername {
		margin-top: 10px;

		.username {
			@include wcfFontHeadline;
		}

		.userTitleBadge {
			top: -2px;
		}
	}
}

.articleNavigation {
	column-gap: 20px;
	display: grid;
	grid-template-areas: "previous next";
	grid-template-columns: 1fr 1fr;

	@include screen-sm-down {
		column-gap: 0;
		grid-template-areas:
			"previous"
			"next";
		grid-template-columns: 1fr;
		row-gap: 20px;
	}
}

.articleNavigationArticle {
	color: var(--wcfContentText);
	display: grid;
	grid-template-rows: repeat(2, minmax(0, max-content));
	position: relative;

	&.previousArticleButton {
		grid-area: previous;
		grid-template-areas: "icon content";
		grid-template-columns: 60px auto;
	}

	&.nextArticleButton {
		grid-area: next;
		grid-template-areas: "content icon";
		text-align: right;
	}

	&.articleNavigationArticleWithImage {
		&.previousArticleButton {
			grid-template-areas: "icon image content";
			grid-template-columns: 60px 96px auto;
		}

		&.nextArticleButton {
			grid-template-areas: "content image icon";
			grid-template-columns: auto 96px 60px;
			text-align: right;
		}
	}
}

.articleNavigationArticleIcon {
	align-self: center;
	grid-area: icon;
}

body:not(.touch) .articleNavigationArticle:hover .articleNavigationArticleIcon {
	color: var(--wcfContentLinkActive);
}

.articleNavigationArticleImage {
	border-radius: 3px;
	grid-area: image;
	overflow: hidden;
}

.previousArticleButton.articleNavigationArticleWithImage .articleNavigationArticleContent {
	margin-left: 20px;
}

.nextArticleButton.articleNavigationArticleWithImage .articleNavigationArticleContent {
	margin-right: 20px;
}

.articleNavigationArticleContent {
	grid-area: content;
}

.articleNavigationEntityName {
	color: var(--wcfContentDimmedText);
	display: block;
}

.articleNavigationArticleTitle {
	display: block;
	margin-top: 5px;

	@include wcfFontHeadline;
}

.articleNavigationArticleLink {
	color: var(--wcfContentText);

	&::before {
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
/* /deprecated */
