.articleTeaser {
	@include wcfFontBold;
}

.articleTeaser + .tableOfContentsWrapper {
	margin-top: 20px;
}

.articleTeaserContainer + .section,
.articleImageContainer + .section {
	margin-top: 20px !important;
}

.articleImage,
.contentCoverPhotoImage {
	/* work-around for IE 11 to properly align the image if overflowing */
	display: flex;
	flex-wrap: wrap;

	.articleImageWrapper,
	.contentCoverPhotoImageWrapper {
		align-items: center;
		border-radius: 3px;
		box-shadow:
			0 0 3px rgba(0, 0, 0, 0.12),
			0 1px 2px rgba(0, 0, 0, 0.24);
		display: flex;
		max-height: 300px;
		overflow: hidden;
		width: 100%;

		img {
			height: auto !important;
			width: 100% !important;
		}
	}

	figcaption {
		color: var(--wcfContentDimmedText);
		flex: 1 0 100%;
		margin-top: 5px;
		text-align: center;

		@include wcfFontSmall;
	}
}

.articleContent {
	.articleTagList {
		margin-top: 20px;
	}

	.articleLikeSection {
		align-items: center;
	}

	.articleButtons {
		justify-content: flex-end;
	}

	.articleLikesSummery:not(:empty),
	.articleButtons:not(:empty) {
		margin-top: 20px;
	}

	.anchorFixedHeader:target::before {
		content: "";
		display: block;
		height: 50px;
		margin-top: -50px;
	}
}

.articleAboutAuthor {
	.articleAboutAuthorText {
		font-style: italic;
	}

	.articleAboutAuthorUsername {
		margin-top: 5px;

		.username {
			@include wcfFontHeadline;
		}

		.userTitleBadge {
			top: -2px;
		}
	}
}

.articleNavigation {
	column-gap: 20px;
	display: grid;
	grid-template-areas: "previous next";
	grid-template-columns: 1fr 1fr;

	@include screen-sm-down {
		column-gap: 0;
		grid-template-areas:
			"previous"
			"next";
		grid-template-columns: 1fr;
		row-gap: 20px;
	}
}

.articleNavigationArticle {
	color: var(--wcfContentText);
	display: grid;
	grid-template-rows: repeat(2, minmax(0, max-content));
	position: relative;

	&.previousArticleButton {
		grid-area: previous;
		grid-template-areas: "icon content";
		grid-template-columns: 60px auto;
	}

	&.nextArticleButton {
		grid-area: next;
		grid-template-areas: "content icon";
		text-align: right;
	}

	&.articleNavigationArticleWithImage {
		&.previousArticleButton {
			grid-template-areas: "icon image content";
			grid-template-columns: 60px 96px auto;
		}

		&.nextArticleButton {
			grid-template-areas: "content image icon";
			grid-template-columns: auto 96px 60px;
			text-align: right;
		}
	}
}

.articleNavigationArticleIcon {
	align-self: center;
	grid-area: icon;
}

body:not(.touch) .articleNavigationArticle:hover .articleNavigationArticleIcon {
	color: var(--wcfContentLinkActive);
}

.articleNavigationArticleImage {
	border-radius: 3px;
	grid-area: image;
	overflow: hidden;
}

.previousArticleButton.articleNavigationArticleWithImage .articleNavigationArticleContent {
	margin-left: 20px;
}

.nextArticleButton.articleNavigationArticleWithImage .articleNavigationArticleContent {
	margin-right: 20px;
}

.articleNavigationArticleContent {
	grid-area: content;
}

.articleNavigationEntityName {
	color: var(--wcfContentDimmedText);
	display: block;
}

.articleNavigationArticleTitle {
	display: block;
	margin-top: 5px;

	@include wcfFontHeadline;
}

.articleNavigationArticleLink {
	color: var(--wcfContentText);

	&::before {
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.articleList {
	.articleListMetaData {
		color: var(--wcfContentDimmedText);
		margin-top: 2px;

		.icon {
			color: inherit;
		}
	}

	a {
		color: inherit;

		&:hover {
			color: inherit;

			.articleListImage > img {
				opacity: 1;
			}

			.articleListTitle {
				color: var(--wcfContentLinkActive);
			}
		}
	}

	.articleListImage > img {
		border-radius: 2px;
		opacity: 0.85;
		transition: 0.2s ease opacity;
	}

	> li:not(:first-child) {
		margin-top: 30px;
	}

	@include screen-xs {
		.box128 > .articleListImage {
			margin-right: 10px;
		}

		.articleListImage > img {
			height: 64px !important;
			width: 64px !important;
		}
	}
}

.boxesFooterBoxes {
	.articleList {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px -20px -5px;

		> li {
			margin: 0 5px 20px 5px;
		}

		.articleListImage > img {
			height: auto !important;
			max-width: 280px;
			width: 100% !important;
		}

		.articleListImage + .articleListTitle {
			margin-top: 5px;
		}

		.articleListMetaData {
			display: none;
		}
	}

	@include screen-lg {
		.articleList {
			> li {
				/* The `flex` shorthand fails in IE11 if `calc()` is used. */
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: calc(100% / 3 - 10px);
			}
		}

		.boxFullWidth {
			.articleList {
				> li {
					/* The `flex` shorthand fails in IE11 if `calc()` is used. */
					flex-grow: 0;
					flex-shrink: 0;
					flex-basis: calc(100% / 6 - 10px);
				}
			}
		}
	}

	@include screen-sm-up {
		.articleList {
			> li {
				/* The `flex` shorthand fails in IE11 if `calc()` is used. */
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: calc(100% / 3 - 10px);
			}
		}
	}

	@include screen-xs {
		.articleList {
			justify-content: center;

			> li {
				width: 280px;
			}
		}
	}
}

.discussionProviderCtaContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
