/* attachment list in messages */
.attachmentThumbnailList,
.attachmentFileList {
	> ul > li:not(:last-child) {
		margin-right: 10px;
	}
}

/* attachment in messages */
.attachmentThumbnail {
	border-radius: 3px;
	min-height: #{$wcf_option_attachment_thumbnail_height}px;
	min-width: #{$wcf_option_attachment_thumbnail_width}px;
	overflow: hidden;
	position: relative;
	
	&:hover > div > small {
		height: 1.5em;
	}
	
	> a {
		display: block;
		min-height: #{$wcf_option_attachment_thumbnail_height}px;
		min-width: #{$wcf_option_attachment_thumbnail_width}px;
	}
	
	> div {
		background-color: rgba(0, 0, 0, .6);
		bottom: 0;
		color: rgb(255, 255, 255);
		left: 0;
		padding: 10px;
		position: absolute;
		right: 0;
		
		> small {
			display: block;
			height: 0;
			overflow: hidden;
			transition: height .12s linear;
		}
	}
}

/* attachments tab in editor */
.formAttachmentContent {
	> .formAttachmentList {
		display: flex;
		flex-wrap: wrap;
		margin-right: -20px;
		
		> .box64 {
			display: flex !important; /* jquery-ui sortable sometimes sets display:block */
			flex: 0 0 calc(50% - 20px);
			max-width: calc(50% - 20px); /* IE fix */
			margin-right: 20px;
			
			> .attachmentTinyThumbnail {
				max-height: 64px;
				max-width: 64px;
			}
		}
	}
	
	> dl > dd > div {
		align-items: center;
		display: flex;
		
		> .button {
			flex: 0 0 auto;
			
			&:not(:first-child) {
				margin-left: 10px;
			}
		}
		
		& + small {
			margin-top: 10px !important;
		}
	}
}
