/* attachment list in messages */
.attachmentFileList {
	> ul > li:not(:last-child) {
		margin-right: 10px;
	}
}

/* attachment in messages */
.attachmentThumbnailList > ul {
	margin-bottom: -15px;
	
	@include screen-sm-up {
		margin-right: -10px;
	}
}

.attachmentThumbnail {
	box-shadow: 0 0 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	margin-bottom: 15px !important;
	position: relative;
	
	@include screen-sm-up {
		margin-right: 10px !important;
	}
	
	@include screen-xs {
		margin-right: 0 !important;
		width: 100%;
	}
	
	.attachmentThumbnailContainer {
		position: relative;
		padding: 2px 2px 0;
	}
	
	.attachmentThumbnailImage {
		align-items: center;
		background-color: #333;
		display: flex;
		justify-content: center;
		overflow: hidden;
		text-align: center;
		
		@include screen-sm-up {
			height: #{$wcf_option_attachment_thumbnail_height}px;
			width: #{$wcf_option_attachment_thumbnail_width}px;
		}
		
		@include screen-xs {
			max-height: #{$wcf_option_attachment_thumbnail_height}px;
			min-height: 100px;
		}
		
		img {
			backface-visibility: hidden;
			max-width: 100%;
			opacity: .85;
			transform: translate3d(0,0,0);
			transition: .2s ease opacity;
		}
		
		.attachmentThumbnailImageScalable {
			@include screen-xs {
				width: 100%;
			}
		}
	}
	
	&:hover {
		.attachmentThumbnailImage {
			img {
				opacity: 1;
			}	
		}
	}
	
	.attachmentThumbnailData {
		backface-visibility: hidden;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, .5) 100%);
		bottom: 0;
		left: 5px;
		position: absolute;
		right: 5px;
		top: 5px;
		transform: translate3d(0, 0, 0);
	}
	
	.attachmentFilename {
		color: #fff;
		bottom: 0;
		overflow: hidden;
		padding: 10px;
		position: absolute;
		text-overflow: ellipsis;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
		width: 100%;
		white-space: nowrap;
    	
		@include wcfFontHeadline;
	}
	
	.attachmentMetaData {
		color: $wcfContentDimmedText;
		padding: 10px 15px;
		
		li:not(:last-child) {
			margin-right: 10px;
		}
		
		.icon {
			color: inherit;
		}
	}
}

/* attachments tab in editor */
.formAttachmentContent {
	> .formAttachmentList {
		display: flex;
		flex-wrap: wrap;
		margin-left: 0 !important;
		
		> li {
			display: flex !important; /* jquery-ui sortable sometimes sets display:block */
			flex: 0 0 100%;
			margin-bottom: 20px;
			
			> .attachmentTinyThumbnail {
				max-height: 64px;
				max-width: 64px;
			}
		}
	}
	
	@include screen-md-up {
		> .formAttachmentList {
			margin-right: -20px;
			
			> li {
				flex: 0 0 calc(50% - 20px);
				max-width: calc(50% - 20px); /* IE fix */
				margin-right: 20px;
			}
		}
	}
	
	> dl {
		margin-top: 0 !important;
		
		> dd > div {
			align-items: center;
			display: flex;
			
			> .button {
				flex: 0 0 auto;
				
				&:not(:first-child) {
					margin-left: 10px;
				}
			}
			
			& + small {
				margin-top: 10px !important;
			}
		}
	}
}
