.breadcrumbs {
	flex: 1;
	
	> ol {
		display: flex;
		flex-wrap: wrap;
		
		> li {
			flex: 0 0 auto;
			max-width: 100%;
			
			@include wcfFontSmall;
			
			&:not(:last-child) {
				margin-right: 10px;
				
				&:after {
					color: $wcfNavigationText;
					content: "/";
				}
				
				> a {
					margin-right: 10px;
				}
			}
			
			> a {
				color: $wcfNavigationLink;
				text-decoration: none;
				
				&:hover {
					color: $wcfNavigationLinkActive;
					text-decoration: underline;
				}
			}
		}
	}
}