.breadcrumbs {
	flex: 1;

	> ol {
		display: flex;
		flex-wrap: wrap;

		> li {
			flex: 0 0 auto;
			max-width: 100%;

			@include wcfFontSmall;

			&:not(:last-child) {
				margin-right: 10px;

				&:after {
					color: var(--wcfNavigationText);
					content: "/";
				}

				> a {
					margin-right: 10px;
				}
			}

			> a {
				color: var(--wcfNavigationLink);
				text-decoration: none;

				&:hover {
					color: var(--wcfNavigationLinkActive);
					text-decoration: underline;
				}
			}
		}
	}
}

@include screen-lg {
	.breadcrumbsParentIndicator {
		display: none;
	}
}
