.breadcrumbs {
	flex: 1;
}

.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs__item {
	flex: 0 0 auto;
	max-width: 100%;

	@include wcfFontSmall;
}

.breadcrumbs__link {
	color: var(--wcfNavigationLink);
	display: inline-flex;
	text-decoration: none;

	&:hover {
		color: var(--wcfNavigationLinkActive);
		text-decoration: underline;
	}
}

.breadcrumbs__item:not(:last-child) {
	margin-right: 10px;

	&::after {
		color: var(--wcfNavigationText);
		content: "/";
	}

	.breadcrumbs__link {
		margin-right: 10px;
	}
}

@include screen-md-up {
	.pageNavigation {
		background-color: var(--wcfNavigationBackground);
		color: var(--wcfNavigationText);
		flex: 0 0 auto;
		padding: 10px 0;
	}

	.pageNavigation .layoutBoundary {
		align-items: center;
		display: flex;
		min-height: 20px;
	}

	.boxesHeaderBoxes + .pageNavigation {
		margin-top: 1px;
	}

	.breadcrumbs__parent_indicator {
		display: none;
	}
}

@include screen-sm-down {
	.breadcrumbs {
		margin-bottom: -5px;
		margin-top: 5px;
	}

	.breadcrumbs__item {
		display: none;
	}

	.breadcrumbs__item:last-child {
		align-items: center;
		display: flex;
		flex: 1;

		.breadcrumbs__link {
			align-items: center;
			color: var(--wcfContentDimmedLink);
			column-gap: 5px;
			display: flex;
			flex: 1;
			overflow: hidden;
			padding: 5px 0;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.breadcrumbs__parent_indicator {
			display: flex;
		}
	}
}
