.flexibleButtonGroup {
	display: flex;
	
	> li {
		display: flex;
		flex: 0 0 auto;
		
		&:not(:last-child) {
			margin-right: 5px;
			
			&.spaceAfter {
				margin-right: 20px;
			}
		}
		
		> input[type="radio"] {
			display: none;
			
			&:checked + label {
				cursor: default;
				
				> .icon {
					cursor: default !important;
				}
			}
		}
		
		> a,
		> label {
			background-color: rgb(242, 242, 242);
			cursor: pointer;
			padding: 5px 10px;
			
			&.green,
			&.green > .icon {
				color: rgb(54, 125, 54);
			}
			
			&.red,
			&.red > .icon {
				color: rgb(201, 48, 44);
			}
			
			&.yellow,
			&.yellow > .icon {
				color: rgb(236, 151, 31);
			}
			
			> .icon {
				cursor: pointer !important;
			}
		}
		
		> a.active,
		> input[type="radio"]:checked + label,
		> input[type="radio"] + label:hover {
			color: #fff;
			
			&.green {
				background-color: rgb(148, 170, 114);
			}
			
			&.red {
				background-color: rgb(232, 151, 149);
			}
			
			&.yellow {
				background-color: rgb(203, 172, 91);
			}
			
			> .icon {
				color: #fff;
			}
		}
	}
}
