/* Integration of CKEditor 5 into WoltLab Suite Core */
.ck.ck-content.ck-editor__editable {
	max-height: 500px;
	min-height: 200px;
	padding: 10px;

	@extend .htmlContent;
}

.ck.ck-content.ck-editor__editable > .ck-widget.ck-widget_with-selection-handle:first-child {
	margin-top: 1.5em !important;
}

.ck.ck-content.ck-editor__editable .image-inline {
	vertical-align: middle;
}

.ck.ck-editor,
.ck.ck-body {
	--marker-error: #ff0000;
	--marker-info: #0000ff;
	--marker-success: #008000;
	--marker-warning: #ffff00;

	--ck-color-base-background: var(--wcfContentContainerBackground);
	--ck-border-radius: var(--wcfBorderRadius);
	--ck-color-base-border: var(--wcfContentBorderInner);
	--ck-color-text: var(--wcfContentText);

	--ck-color-toolbar-border: var(--wcfContentBorderInner);
	--ck-color-toolbar-background: var(--wcfContentContainerBackground);

	--ck-color-dropdown-panel-background: var(--wcfDropdownBackground);
	--ck-color-dropdown-panel-border: var(--wcfDropdownBorderInner);
	--ck-color-panel-background: var(--wcfDropdownBackground);
	--ck-color-panel-border: var(--wcfDropdownBorderInner);

	--ck-color-input-background: var(--wcfInputBackground);
	--ck-color-input-border: var(--wcfInputBorder);
	--ck-color-input-error-border: var(--ck-color-base-error);
	--ck-color-input-text: var(--wcfInputText);
	--ck-color-input-disabled-background: var(--wcfInputDisabledBackground);
	--ck-color-input-disabled-border: var(--wcfInputDisabledBorder);
	--ck-color-input-disabled-text: var(--wcfInputDisabledText);

	--ck-color-list-background: var(--wcfDropdownBackground);
	--ck-color-list-button-hover-background: var(--wcfDropdownBackgroundActive);
	--ck-color-list-button-on-background: var(--wcfDropdownBackgroundActive);
	--ck-color-list-button-on-background-focus: var(--wcfDropdownBackgroundActive);
	--ck-color-list-button-on-text: var(--wcfDropdownLink);

	--ck-color-link-default: var(--wcfContentLink);

	--ck-font-face: var(--wcfFontFamily);
	--ck-font-size-normal: var(--wcfFontSizeDefault);
	--ck-font-size-small: var(--wcfFontSizeSmall);
	--ck-font-size-tiny: var(--wcfFontSizeSmall);
}

.ck.ck-content {
	/* The content area must not contain a border radius at all, because it is
	   difficult to detect if there is an adjacent message tab menu. */
	border-radius: 0 !important;
}

.ck.ck-button.ck-button:not(.ck-disabled) {
	cursor: pointer;
}

.ck.ck-toolbar__items,
.ck.ck-toolbar__grouped-dropdown {
	--ck-spacing-small: 4px;
	--ck-spacing-tiny: 2px;

	--ck-color-button-default-hover-background: var(--wcfEditorButtonBackground);
	--ck-color-button-default-active-background: var(--wcfEditorButtonBackground);

	--ck-color-button-on-background: var(--wcfEditorButtonBackgroundActive);
	--ck-color-button-on-hover-background: var(--wcfEditorButtonBackgroundActive);
	--ck-color-button-on-active-background: var(--wcfEditorButtonBackgroundActive);
	--ck-color-button-on-disabled-background: transparent;
	--ck-color-button-on-color: var(--wcfEditorButtonTextActive);

	--ck-color-split-button-hover-background: var(--wcfEditorButtonBackground);
	--ck-color-split-button-hover-border: rgb(0 0 0 / 34%);

	fa-icon {
		color: inherit;
	}

	.ck-splitbutton_open .ck-button:not(.ck-disabled):not(:hover) {
		/* The editor does not support a separate text color on hover. */
		color: var(--wcfEditorButtonText);
	}

	.ck-button:not(.ck-disabled):active,
	.ck-splitbutton:active .ck-button:not(.ck-disabled):not(:active) {
		/* The editor does not support a separate text color on hover. */
		color: var(--wcfEditorButtonText);
	}
}

@media (hover: hover) {
	.ck.ck-toolbar__items,
	.ck.ck-toolbar__grouped-dropdown {
		.ck-button:not(.ck-disabled):hover,
		.ck-splitbutton:hover .ck-button:not(.ck-disabled):not(:hover) {
			/* The editor does not support a separate text color on hover. */
			color: var(--wcfEditorButtonText);
		}
	}
}

.ck.ck-toolbar__items,
.ck.ck-toolbar__grouped-dropdown {
	/* Enables the automatic grouping of excessive items. */
	flex-shrink: 0;
}

.ck.ck-toolbar-dropdown .ck.ck-toolbar__items,
.ck.ck-toolbar__grouped-dropdown .ck.ck-toolbar__items {
	/* Allow shrinking when the toolbar is being nested. */
	flex-shrink: 1;
}

.ck.ck-reset.ck-dropdown__panel,
.ck.ck-balloon-panel {
	border-color: transparent;
	box-shadow: var(--wcfBoxShadow);
}

.ck.ck-editor
	.ck.ck-labeled-field-view.ck-labeled-field-view_empty:not(.ck-labeled-field-view_focused)
	> .ck.ck-labeled-field-view__input-wrapper
	> .ck.ck-label {
	color: var(--wcfInputPlaceholder);
}

@media (hover: hover) {
	.ck.ck-list .ck-list__item .ck-button:not(.ck-disabled):hover {
		color: var(--wcfDropdownLink);
	}
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable),
.ck .ck-editor__nested-editable.ck-editor__nested-editable_focused,
.ck .ck-editor__nested-editable:focus {
	border-color: var(--wcfInputBorderActive) !important;
}

.ck.ck-form__row .ck-button,
.ck.ck-vertical-form .ck-button,
.ck.ck-body .ck-button {
	--ck-color-text: var(--wcfButtonText);

	background-color: var(--wcfButtonBackground);
	border-color: transparent;
	font-size: var(--wcfFontSizeSmall);
	padding: 4px 12px !important;
}

.ck.ck-form__row {
	column-gap: 10px;
	justify-content: flex-end !important;

	.ck-button__icon {
		display: none;
	}

	.ck-button {
		flex: 0 0 auto !important;
		margin: 0 !important;
	}

	.ck-button[type="button"] {
		order: 1;
	}

	.ck-button[type="submit"] {
		order: 2;
	}
}

.ck.ck-form__row,
.ck.ck-body {
	.ck-button:not(.ck-disabled) {
		color: var(--ck-color-text);

		&.ck-on {
			color: var(--ck-color-button-on-color);
		}
	}

	.ck-button.ck-disabled {
		--ck-color-text: var(--wcfButtonDisabledText) !important;

		background-color: var(--wcfButtonDisabledBackground) !important;
	}

	.ck-button[type="submit"]:not(.ck-disabled) {
		--ck-color-text: var(--wcfButtonPrimaryText);

		background-color: var(--wcfButtonPrimaryBackground);
	}
}

.ck.ck-body .ck-button[type="button"].ck-on:not(.ck-disabled) {
	--ck-color-text: var(--wcfButtonTextActive);

	background-color: var(--wcfButtonBackgroundActive);
	color: var(--ck-color-text);
}

@media (hover: hover) {
	.ck.ck-form__row,
	.ck.ck-body {
		.ck-button[type="button"]:not(.ck-disabled):hover {
			--ck-color-text: var(--wcfButtonTextActive);

			background-color: var(--wcfButtonBackgroundActive);
		}

		.ck-button[type="submit"]:not(.ck-disabled):hover {
			--ck-color-text: var(--wcfButtonPrimaryTextActive);

			background-color: var(--wcfButtonPrimaryBackgroundActive);
		}
	}
}

.ck-body-wrapper {
	.ck.ck-balloon-panel {
		--ck-color-base-foreground: var(--ck-color-toolbar-background);

		box-shadow: var(--wcfBoxShadow);

		&.ck-powered-by-balloon {
			box-shadow: none;
			z-index: 1;
		}
	}

	.ck.ck-list__item .ck-button {
		&:not(.ck-disabled) {
			cursor: pointer;
		}

		&:not(.ck-on) {
			background-color: var(--ck-color-panel-background);
			color: var(--wcfDropdownLink);
		}

		&.ck-on {
			background-color: var(--wcfDropdownBackgroundActive);
			color: var(--wcfDropdownLinkActive);
		}
	}
}

@media (hover: hover) {
	.ck-body-wrapper .ck.ck-list__item .ck-button:not(.ck-disabled, .ck-on):hover {
		background-color: var(--wcfDropdownBackgroundActive);
		color: var(--wcfDropdownLinkActive);
	}
}

.ck.ck-content td {
	/* Workaround for an ancient bug in Firefox that cause the background color
	   to overlap the collapsed border: https://bugzilla.mozilla.org/show_bug.cgi?id=688556#c43 */
	background-clip: padding-box;
}

html[data-color-scheme="light"] .ck-body-wrapper .ck.ck-balloon-panel {
	border-width: 0;
}

.ck.ck-labeled-field-view > .ck.ck-labeled-field-view__input-wrapper > .ck.ck-label {
	--ck-color-labeled-field-label-background: var(--ck-color-base-background);
}

.ck-insert-table-dropdown__grid .ck-button {
	border-radius: 0 !important;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
	box-shadow: none !important;
}
.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content_sticky .ck-toolbar {
	border-bottom-color: var(--wcfInputBorderActive) !important;
}

.ck.ck-splitbutton {
	display: flex;
}

.ck.ck-button.ck-splitbutton__action {
	border-top-right-radius: unset !important;
	border-bottom-right-radius: unset !important;
}

/* Fixes the hover state of the link balloon tooltip. */
@media (hover: hover) {
	.ck.ck-link-actions .ck-button.ck-link-actions__preview:hover .ck-button__label {
		color: var(--wcfButtonTextActive);
	}
	.ck.ck-link-actions .ck-button.ck-link-actions__preview .ck-button__label:hover {
		text-decoration: none !important;
	}
}

/* Prevent lists inside drop down menus from becoming a huge skyscraper. */
.ck.ck-dropdown .ck-dropdown__panel .ck-list {
	max-height: 300px;
	overflow: auto;
}

/* Prevent the “Material Design” like behavior of form labels. */
.ck.ck-labeled-field-view__input-wrapper {
	display: flex;
	flex-direction: column-reverse;
	row-gap: 5px;

	.ck.ck-label {
		color: var(--wcfInputLabel) !important;
		padding: 0 !important;
		position: static !important;
		transform: none !important;
	}
}
.ck.ck-link-form {
	align-items: end;

	> .ck.ck-button {
		height: 30px;
		padding: 5px !important;
	}
}

/* Increase the width of the splitbutton arrows. */
.ck.ck-toolbar__items .ck.ck-splitbutton > .ck-splitbutton__arrow {
	padding-left: var(--ck-spacing-medium);
	padding-right: var(--ck-spacing-medium);
}
/* Add a visual indicator for the split button functionality. */
.ck.ck-splitbutton:not(:hover, .ck-splitbutton_open) > .ck-splitbutton__arrow::before {
	border-left: 1px dashed var(--ck-color-toolbar-border);
	content: "";
	inset: var(--ck-spacing-small) auto var(--ck-spacing-small) -1px;
	position: absolute;
}

.ck.ck-toolbar__separator {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.ck.ck-balloon-panel.ck-powered-by-balloon {
	--ck-powered-by-text-color: var(--wcfContentText);
	--ck-powered-by-background: var(--ck-color-base-background);
	--ck-powered-by-border-color: var(--wcfInputBorderActive);

	border-width: 1px !important;
}

.ck.ck-powered-by .ck.ck-icon > path {
	fill: var(--wcfContentText);
}

.ck.ck-sticky-panel__content,
.ck.ck-balloon-panel {
	--ck-z-modal: 90;
	--ck-z-panel: 91;
}

html[data-color-scheme="dark"] {
	.ck.ck-editor,
	.ck.ck-body {
		--ck-color-focus-outer-shadow: #0a2c66;
		--ck-focus-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-outer-shadow);

		--ck-color-widget-hover-border: #124f81;
		--ck-color-widget-editable-focus-background: var(--ck-color-base-background);
		--ck-color-widget-drag-handler-icon-color: var(--ck-color-base-background);
		--ck-color-widget-type-around-button-hover: var(--ck-color-widget-hover-border);
	}

	.ck.ck-reset.ck-dropdown__panel,
	.ck.ck-balloon-panel {
		border-color: var(--wcfDropdownBorderInner);
	}

	.ck.ck-content pre {
		background-color: var(--wcfContentBackground);
		border-color: var(--wcfContentBorderInner);
		color: var(--wcfContentText);
	}

	.ck.ck-editor__editable_inline.ck-blurred ::selection {
		background: rgb(255 255 255 / 12%);
	}
}

/* Dialog overlay to restore a draft */

.ckeditor5__restoreDraft {
	position: relative;
}

.ckeditor5_restoreDraft__wrapper {
	align-items: center;
	background-color: rgb(0 0 0 / 34%);
	display: flex;
	inset: 0;
	justify-content: center;
	position: absolute;
	z-index: 1;
}

.ckeditor5__restoreDraft__dialog {
	background-color: var(--wcfContentBackground);
	border: 1px solid transparent;
	border-radius: 8px;
	box-shadow:
		rgb(0 0 0 / 20%) 0 12px 28px 0,
		rgb(0 0 0 / 10%) 0 2px 4px 0;
	color: var(--wcfContentText);
	max-width: 400px;
	padding: 20px;
}

.ckeditor5__restoreDraft__question {
	font-size: var(--wcfFontSizeHeadline);
	font-weight: 600;
	line-height: 1.28;
}

.ckeditor5__restoreDraft__buttons {
	column-gap: 10px;
	display: flex;
	flex-direction: row-reverse;
	margin-top: 20px;
}

.ckeditor5__restoreDraft__buttons button[data-type="preview"] {
	margin-right: auto;
}

html[data-color-scheme="dark"] {
	.ckeditor5__restoreDraft__dialog {
		border-color: var(--wcfContentBorderInner);
	}
}

/* Styling of inline errors for the editor. */
.ck.ck-editor + .innerError {
	margin-top: 0;
	width: 100%;

	&::before {
		display: none;
	}
}

.ck.ck-list__item .ck-button.ckeditor5__mention {
	display: block;
	font-size: var(--wcfFontSizeDefault);
}
.ck.ck-list__item .ck-button.ckeditor5__mention .userAvatarImage {
	height: 16px;
	margin-right: 2px;
	width: 16px;
}

/* Text Alignment */
.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-justify {
	text-align: justify !important;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.text-right {
	text-align: right !important;
}

/* image float */
.messageFloatObjectLeft {
	float: left;
	margin: 0 20px 20px 0;
}

.messageFloatObjectRight {
	float: right;
	margin: 0 0 20px 20px;
}

/* Quotes */
.ck.ck-content blockquote {
	background-color: var(--wcfContentBackground);
	border: 1px solid var(--wcfContentBorderInner);
	border-left-width: 5px;
	border-radius: 0 var(--wcfBorderRadius) var(--wcfBorderRadius) 0;
	margin: 2em 0 1em 0;

	&::before {
		color: var(--wcfContentDimmedText);
	}
}

/* Code Blocks */
.ck.ck-content pre {
	margin: 1em 0;
}

/* Text Markers */
.marker-error,
.marker-info,
.marker-success,
.marker-warning {
	border-radius: 2px;
	border-style: solid;
	border-width: 1px 0;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	padding: 0 0.15em;
}

.marker-error {
	background-color: var(--wcfStatusErrorBackground);
	border-color: var(--wcfStatusErrorBorder);
	color: var(--wcfStatusErrorText);
}

.marker-info {
	background-color: var(--wcfStatusInfoBackground);
	border-color: var(--wcfStatusInfoBorder);
	color: var(--wcfStatusInfoText);
}

.marker-success {
	background-color: var(--wcfStatusSuccessBackground);
	border-color: var(--wcfStatusSuccessBorder);
	color: var(--wcfStatusSuccessText);
}

.marker-warning {
	background-color: var(--wcfStatusWarningBackground);
	border-color: var(--wcfStatusWarningBorder);
	color: var(--wcfStatusWarningText);
}

/* Fake visuals for the WYSIWYG editor while it is still loading. */
.wysiwygTextarea {
	background-color: var(--wcfContentContainerBackground) !important;
	border-radius: var(--wcfBorderRadius) var(--wcfBorderRadius) 0 0 !important;
	border-color: var(--wcfContentBorderInner) !important;
	color: transparent !important;
	cursor: not-allowed !important;
	height: 240px !important;
	resize: none !important;
}

/* Add spacer for any notices displayed above the editor. */
.wysiwygTextarea:not(:first-child),
.wysiwygTextarea:not(:first-child) + .ck.ck-editor {
	margin-top: 20px;
}

/* Hide tooltips on touch devices. */
html.touch .ck.ck-balloon-panel.ck-tooltip {
	display: none;
}

/* HTML Embed */
.ck .ck-widget.raw-html-embed {
	--ck-color-button-default-hover-background: var(--wcfEditorButtonBackground);
	--ck-color-button-default-active-background: var(--wcfEditorButtonBackground);

	--ck-color-button-on-background: var(--wcfEditorButtonBackgroundActive);
	--ck-color-button-on-hover-background: var(--wcfEditorButtonBackgroundActive);
	--ck-color-button-on-active-background: var(--wcfEditorButtonBackgroundActive);
	--ck-color-button-on-disabled-background: transparent;
	--ck-color-button-on-color: var(--wcfEditorButtonTextActive);

	background-color: var(--wcfContentContainerBackground);
	font-size: var(--wcfFontSizeSmall);

	&::before {
		padding: 0 var(--ck-spacing-tiny) !important;
	}
}

@media (hover: hover) {
	.ck-widget.raw-html-embed .ck.ck-button.ck-button:not(.ck-disabled):hover {
		background-color: var(--ck-color-button-default-hover-background);
	}
}

@include screen-xs {
	.ck.ck-input {
		--ck-input-width: 100%;
	}

	.ckeditor5__restoreDraft__buttons {
		flex-direction: column-reverse;
		row-gap: 10px;
	}

	.ckeditor5__restoreDraft__buttons button[data-type="preview"] {
		margin-right: 0;
	}
}

/* Workarounds for iOS */
html.iOS {
	/* Fixed positioning does not work in iOS when the screen keyboard is open. */
	.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
		position: absolute !important;
		top: 0 !important;
	}

	/* Font sizes below 16px cause iOS to zoom when moving the focus inside of it. */
	.ck.ck-content {
		font-size: 16px;
	}
}

.ck-link-form {
	.ck-labeled-field-view {
		order: 0;
	}

	.ck-button-cancel {
		order: 1;
	}

	.ck-button-save {
		order: 2;
	}
}
