.commentList {
	> li {
		&:hover {
			background-color: transparent;
			
			.buttonGroupNavigation {
				opacity: 0;
			}
		}
	}
	
	.commentContent {
		&:hover {
			.buttonGroupNavigation {
				opacity: 1;
			}
		}
		
		+ .commentOptionContainer {
			.commentResponseAdd {
				border-top: 1px solid $wcfContentBorderInner;
				padding-top: 20px;
				margin-top: 20px;
			}
		}
		
		.wcfLikeCounter {
			@extend .wcfFontSmall;
		}
	}
	
	.commentResponseList {
		&:not(:empty) {
			margin-top: 20px;
		}
		
		> li {
			&:first-child,
			&:last-child {
				border-color: $wcfContentBorderInner;
			}
		}
	}
	
	.commentOptionContainer {
		margin-top: 10px;
	}
	
	.commentResponseAdd {
		padding: 10px 20px 0 20px;
	}
}

/*
.commentContent {
	> .containerHeadline {
		margin-bottom: 5px;
	}
	
	& + .commentOptionContainer {
		margin-top: 10px;
	}
}

.commentResponseList {
	margin-top: 10px;
}

.commentResponse {
	// TODO: border-top: 1px solid $wcfContentBorder;
	padding: 10px 0;
}

.commentOptionContainer {
	// TODO: border-top: 1px solid $wcfContentBorder;
	padding-top: 10px;
}
*/