.contentNotVisible {
	background-color: var(--wcfContentBackground);
	box-shadow: var(--wcfBoxShadowCard);
	border: 1px solid var(--wcfContentBorderInner);
	border-radius: var(--wcfBorderRadius);
	padding: 20px;
	max-width: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;

	@include screen-xs {
		padding: 10px;
	}
}

.contentNotVisible__title {
	@include wcfFontBold;
}
