.inputAddon > .inputDatePicker {
	cursor: pointer;
	flex: 0 1 275px;
	min-width: 275px;
}

.datePicker {
	background-color: var(--wcfDropdownBackground);
	border-radius: var(--wcfBorderRadius);
	box-shadow:
		0 2px 6px rgba(0, 0, 0, 0.16),
		0 3px 6px rgba(0, 0, 0, 0.23);
	color: var(--wcfDropdownText);
	display: none;
	position: fixed;
	width: 240px;
	z-index: 450;

	&.active {
		display: block;
	}

	&.datePickerTime {
		&.datePickerTimeOnly {
			> header,
			> ul {
				display: none;
			}

			> footer {
				border-top-width: 0;
			}
		}

		> footer {
			display: block;
		}
	}

	> header {
		align-items: center;
		display: flex;

		> a {
			display: block;
			flex: 0 0 auto;
			padding: 10px;

			&:not(.active) {
				visibility: hidden;
			}
		}

		> span {
			display: block;
			flex: 1 1 auto;
			padding: 10px 0;
			text-align: center;
		}
	}

	select.year {
		margin-left: 5px;
	}

	> ul > li {
		border-top: 1px solid var(--wcfDropdownBorderInner);
		display: flex;

		&.weekdays,
		&.weekdays + li {
			border-top-color: var(--wcfDropdownBorderInner);
		}

		> a,
		> span {
			display: block;
			flex: 1;
			padding: 5px 0;
			text-align: center;

			&:not(:last-child) {
				border-right: 1px solid var(--wcfDropdownBorderInner);
			}
		}

		> a {
			color: var(--wcfDropdownLink);

			&:hover {
				text-decoration: none;
			}

			&.active,
			&:not(.otherMonth, .disabled):hover {
				background-color: var(--wcfDropdownBackgroundActive);
				color: var(--wcfDropdownLinkActive);
			}

			&.otherMonth,
			&.disabled {
				color: var(--wcfContentDimmedText);
				cursor: default;
			}

			&.disabled {
				opacity: 0.45;
			}
		}

		> span {
			color: var(--wcfContentDimmedText);

			@include wcfFontSmall;
		}
	}

	> footer {
		border-top: 1px solid var(--wcfDropdownBorderInner);
		display: none;
		padding: 10px;
		position: relative;
		text-align: center;
	}
}

@include screen-sm-down {
	.inputAddon.inputAddonDatePicker .inputDatePicker {
		flex: 1 auto;
		min-width: auto;
		width: auto;
	}
}
