.dropdownMenuContainer {
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}

.dropdown {
	.dropdownToggle:active,
	&.dropdownOpen .dropdownToggle {
		outline: 0;
	}
	
	&.inputAddon {
		> .dropdownToggle {
			padding: 4px 7px;
			
			> span.active:after {
				content: $fa-var-caret-down;
				font-family: FontAwesome;
				font-size: 14px;
				margin-left: 7px;
			}
		}
	}
	
	&.preInput {
		// TODO: use flex-box instead
		display: table;
		width: 100%;
		
		input {
			border-radius: 0 3px 3px 0;
			display: table-cell;
			margin: 0;
			width: 99%;
		}
		
		textarea {
			border-radius: 0 3px 3px;
			display: block;
			margin-top: 0;
		}
		
		.dropdownCaption {
			cursor: pointer;
			display: table-cell;
			letter-spacing: -1px;
			padding: 0 $wcfGapSmall 0 $wcfGapTiny;
			vertical-align: middle;
			width: 1%;
			
			&.button {
				border-right-width: 0;
				border-radius: 3px 0 0 3px;
			}
			
			span {
				margin-right: -1px;
				padding-left: $wcfGapTiny;
				white-space: nowrap;
				word-wrap: normal;
				
				&.active::after {
					content: $fa-var-caret-down;
					font-family: FontAwesome;
					font-size: 14px;
					margin-left: 7px;
				}
			}
		}
		
		.dropdownCaptionTextarea {
			cursor: pointer;
			margin: 0 0 -1px 0;
			padding-left: $wcfGapSmall;
			padding-right: $wcfGapSmall;
			
			&.button {
				border-radius: 3px 3px 0 0;
			}
			
			&~ .dropdownMenu {
				top: 10%;
			}
			
			span {
				white-space: nowrap;
				word-wrap: normal;
				
				&.active::after {
					content: $fa-var-caret-down;
					font-family: FontAwesome;
					font-size: 14px;
					margin-left: 7px;
				}
			}
		}
	}
	
	&.dropdownOpen {
		.dropdownMenu {
			display: block;
		}
	}
	
	.dropdownToggle {
		cursor: pointer;
	}
}

.dropdownMenu {
	@include dropdownMenu;
}

.dropdownIndicator::after {
	content: $fa-var-caret-down;
	font-family: FontAwesome;
	margin-left: 5px;
}


.boxFlag > .box24, .boxFlag.box24 {
	align-items: center;
	display: flex !important;
	min-height: 20px;
	
	> img:first-child {
		height: auto;
	}
	
	// prevents text being hidden when displayed in user panel
	> span {
		display: inline !important;
	}
	
	&.dropdownToggle {
		display: inline-flex !important;
	}
}
