.dropdown {
	.dropdownToggle:active,
	&.dropdownOpen .dropdownToggle {
		outline: 0;
	}
	
	&.inputAddon {
		> .dropdownToggle {
			padding: $wcfGapTiny;
			
			> span.active:after {
				content: "\f0d7"; // @TODO: use a variable instead
				font-family: FontAwesome;
				font-size: 14px;
				margin-left: 7px;
			}
		}
	}
	
	&.preInput {
		display: table;
		width: 100%;
		
		input {
			border-radius: 0 3px 3px 0;
			display: table-cell;
			margin: 0;
			width: 99%;
		}
		
		textarea {
			border-radius: 0 3px 3px;
			display: block;
			margin-top: 0;
		}
		
		.dropdownCaption {
			cursor: pointer;
			display: table-cell;
			letter-spacing: -1px;
			padding: 0 $wcfGapSmall 0 $wcfGapTiny;
			vertical-align: middle;
			width: 1%;
			
			&.button {
				border-right-width: 0;
				border-radius: 3px 0 0 3px;
			}
			
			span {
				margin-right: -1px;
				padding-left: $wcfGapTiny;
				white-space: nowrap;
				word-wrap: normal;
				
				&.active::after {
					content: "\f0d7"; // @TODO: use a variable instead
					font-family: FontAwesome;
					font-size: 14px;
					margin-left: 7px;
				}
			}
		}
		
		.dropdownCaptionTextarea {
			cursor: pointer;
			margin: 0 0 -1px 0;
			padding-left: $wcfGapSmall;
			padding-right: $wcfGapSmall;
			
			&.button {
				border-radius: 3px 3px 0 0;
			}
			
			&~ .dropdownMenu {
				top: 10%;
			}
			
			span {
				white-space: nowrap;
				word-wrap: normal;
				
				&.active::after {
					content: "\f0d7"; // @TODO: use a variable instead
					font-family: FontAwesome;
					font-size: 14px;
					margin-left: 7px;
				}
			}
		}
	}
	
	&.dropdownOpen {
		.dropdownToggle {
			//color: @wcfPageLinkHoverColor;
		}
		
		.dropdownMenu {
			display: block;
		}
	}
	
	.dropdownToggle {
		cursor: pointer;
	}
}

.dropdownMenu {
	background-color: $wcfDropdownBackground;
	border: 1px solid $wcfDropdownBorder;
	color: $wcfDropdownText;
	display: none;
	float: left;
	min-width: 160px;
	padding: 3px 0;
	position: absolute;
	text-align: left;
	z-index: 450;
	
	@include boxShadow(2px, 2px, rgba(0, 0, 0, .2), 10px);
	
	&::after {
		border: 7px solid transparent;
		border-bottom-color: $wcfDropdownBorder;
		border-top-width: 0;
		content: "";
		display: inline-block;
		left: 9px;
		position: absolute;
		top: -7px;
		z-index: 100;
	}
	
	&::before {
		border: 6px solid transparent;
		border-bottom-color: $wcfDropdownBackground;
		border-top-width: 0;
		content: "";
		display: inline-block;
		left: 10px;
		position: absolute;
		top: -6px;
		z-index: 101;
	}
	
	&.dropdownArrowRight {
		&::after {
			left: auto;
			right: 9px;
		}
		
		&::before {
			left: auto;
			right: 10px;
		}
	}
	
	&.dropdownArrowBottom {
		&::after {
			border: 7px transparent solid;
			border-top-color: $wcfDropdownBorder;
			border-bottom-width: 0;
			bottom: -7px;
			top: auto;
		}
		
		&::before {
			border: 6px transparent solid;
			border-top-color: $wcfDropdownBackground;
			border-bottom-width: 0;
			bottom: -6px;
			top: auto;
		}
	}
	
	&.dropdownOpen {
		display: block;
	}
	
	li {
		display: block;
		
		//@include textShadow($wcfDropdownText);
		
		&:hover:not(.dropdownDivider):not(.dropdownList):not(.dropdownText),
		&.dropdownList > li:hover:not(.dropdownDivider),
		&.dropdownNavigationItem,
		&.active {
			background-color: $wcfDropdownBackgroundActive;
			color: $wcfDropdownLinkActive;
			
			//@include textShadow($wcfDropdownLinkActive);
		}
		
		&.dropdownDivider {
			border-top: 1px solid $wcfDropdownBorderInner;
			margin: 3px 0;
		}
		
		&.dropdownText {
			padding: $wcfGapTiny $wcfGapMedium;
			
			@extend .wcfFontSmall;
		}
		
		&.boxFlag {
			padding-top: 2px;
		}
		
		/*
		// @TODO
		&.missingValue > span {
			position: relative;
			
			&:after {
				color: @wcfWarningBackgroundColor;
				content: @fa-var-exclamation-triangle;
				font-family: FontAwesome;
				position: absolute;
				right: @wcfGapMedium;
				top: @wcfGapTiny;
			}
		}
		*/
		
		> a,
		> span {
			clear: both;
			cursor: pointer;
			display: block;
			max-width: 350px;
			overflow: hidden;
			padding: 5px 20px;
			text-decoration: none;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-wrap: normal;
			
			> div > h3 {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		
		> a {
			color: $wcfDropdownLink;
			
			&:hover {
				color: $wcfDropdownLinkActive;
				
				@include textShadow($wcfDropdownLinkActive);
			}
		}
		
		> a > small {
			display: block;
		}
		
		> a + span.badge {
			display: none;
		}
		
		> .box16 {
			cursor: pointer;
			min-height: 0;
			padding: $wcfGapTiny $wcfGapTiny $wcfGapTiny $wcfGapSmall;
			
			> div {
				margin-left: 21px;
			}
		}
		
		> label {
			display: block;
		}
		
		.containerHeadline {
			margin-bottom: 0;
			
			> p {
				@extend .wcfFontSmall;
			}
		}
	}
	
	.scrollableDropdownMenu {
		max-height: 300px;
		overflow: auto;
	}
}

.boxFlag > .box24, .boxFlag.box24 {
	min-height: 20px;
}

@media only screen and (max-width: 800px) {
	.dropdownMenu {
		left: 0 !important;
		right: 0 !important;
		
		li {
			overflow: hidden;
			
			> a,
			> span {
				max-width: none;
				white-space: normal;
			}
		}
	}
}
