.interactiveDropdown {
	background-color: $wcfDropdownBackground;
	border: 1px solid $wcfDropdownBorder;
	border-width: 1px 0;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .2);
	color: $wcfDropdownLink;
	display: block;
	position: absolute;
	z-index: 450;
	
	&:not(.open) {
		display: none !important;
	}
	
	> .elementPointer {
		border: 10px solid transparent;
		border-bottom-color: $wcfDropdownBorder;
		border-top-width: 0;
		content: "";
		display: block;
		position: absolute;
		z-index: 100;
		
		> span {
			border: 8px solid transparent;
			border-bottom-color: rgb(247, 248, 250); // @todo
			border-top-width: 0;
			content: "";
			display: block;
			position: absolute;
			top: 2px;
			z-index: 101;
		}
		
		&.left {
			left: 16px;
			
			> span {
				left: -8px;
			}
		}
		
		&.right {
			right: 16px;
			
			> span {
				right: -7px;
			}
		}
	}
	
	&.interactiveDropdownUserMenu > .interactiveDropdownItemsContainer {
		overflow: visible;
		max-height: none;
	}
}

.interactiveDropdownHeader {
	align-items: center;
	background-color: rgb(247, 248, 250); // @todo
	display: flex;
	padding: 5px 10px;
}

.interactiveDropdownTitle {
	flex: 1 1 auto;
	
	@extend .wcfFontHeadline;
}

.interactiveDropdownLinks {
	flex: 0 0 auto;
	margin-left: 5px;
}

.interactiveDropdownItemsContainer {
	border: 1px solid $wcfDropdownBorderInner;
	border-width: 1px 0;
	max-height: 300px;
	
	&.ps-container {
		> .interactiveDropdownItems {
			position: relative;
			z-index: 100;
		}
		
		> .ps-scrollbar-y-rail {
			z-index: 200;
		}
	}
}

.interactiveDropdownItems {
	background-color: $wcfDropdownBackground;
	
	> li {
		color: $wcfContentText;
		padding: 8px 10px;
		position: relative;
		
		&:not(:last-child) {
			border-bottom: 1px solid $wcfDropdownBorderInner;
		}
		
		&:hover {
			background-color: rgb(242, 242, 242);
		}
		
		> .box32 {
			margin-bottom: 0;
		}
		
		a {
			color: $wcfContentLink;
			
			&:hover {
				color: $wcfContentLinkActive;
			}
		}
	}
	
	.loading,
	.noItems {
		padding: 20px 10px;
		text-align: center;
		
		@extend .wcfFontHeadline;
	}
	
	.notificationItem {
		overflow: hidden;
		padding: 5px 10px;
		position: relative;
		
		&:not(:last-child) {
			border-bottom: 1px solid $wcfDropdownBorderInner;
		}
		
		a {
			color: $wcfDropdownLink;
		}
		
		&:hover {
			background-color: $wcfDropdownBackgroundActive;
			color: $wcfDropdownLinkActive;
			
			a {
				color: $wcfDropdownLinkActive;
				text-decoration: underline;
			}
		}
		
		> .box32 {
			margin-bottom: 0;
		}
		
		&.groupedNotificationItem .fa-users::before {
			position: relative;
			top: 3px;
		}
	}
}

.interactiveDropdownItemOutstanding {
	display: flex;
	
	> .box32 {
		flex: 1 1 auto;
	}
	
	h3 {
		font-weight: bold;
	}
}

.interactiveDropdownItemMarkAsRead {
	align-self: center;
	flex: 0 0 auto;
	margin-left: 5px;
}

&.interactiveDropdownItemShadow {
	> .box32 {
		position: relative;
	}
	
	> .box32,
	> .interactiveDropdownItemMarkAsRead {
		pointer-events: none;
		z-index: 20;
		
		a {
			pointer-events: all;
		}
	}
	
	> .interactiveDropdownItemShadowLink {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
	}
}
	
.interactiveDropdownItemsUserMenu > li {
	h3 {
		@extend .wcfFontHeadline
	}
	
	.box64 {
		position: relative;
		
		.containerHeadline {
			padding-bottom: 10px;
		}
		
		.interactiveDropdownUserMenuLinkList {
			bottom: 0;
			position: absolute;
		}
	}
	
	.icon {
		position: relative;
		top: 5px;
	}
	
	.interactiveDropdownUserMenuLinkList > li {
		display: inline-block;
		
		@extend .wcfFontSmall;
		
		&:not(:last-child)::after {
			content: "\00b7";
			margin-left: 5px;
		}
	}
}

.interactiveDropdownShowAll {
	background-color: rgb(247, 248, 250);
	color: $wcfDropdownLink;
	display: block;
	padding: 5px 10px;
	text-align: center;
	
	&:hover {
		color: $wcfDropdownLink;
		text-decoration: underline;
	}
}

@media only screen and (min-width: 801px) {
	.interactiveDropdown {
		min-width: 350px;
	}
	
	.interactiveDropdownItemsContainer {
		overflow: hidden;
		position: relative;
	}
	
	.interactiveDropdownItems .notificationItem {
		max-width: 400px;
	}
}

@media only screen and (max-width: 800px) {
	.DEBUG_ONLY_interactiveDropdown {
		border-width: 1px 0;
		box-sizing: border-box;
		left: 0 !important;
		right: 0 !important;
		width: 100%;
		
		> .interactiveDropdownItemsContainer {
			overflow-x: auto;
			
			> .interactiveDropdownItems > li.interactiveDropdownItemOutstandingIcon > div.interactiveDropdownItemMarkAsRead {
				bottom: 0;
				position: absolute;
				right: 0;
				top: 0;
				//width: (@wcfGapSmall + @wcfGapTiny) + 16px + (@wcfGapSmall + @wcfGapTiny);
				
				> a {
					display: block;
					height: 100%;
					text-align: center;
					
					> .icon {
						position: relative;
						top: 50%;
						
						transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
					}
				}
			}
		}
	}
}
