.gridView__tableContainer {
	overflow: auto;
}

.gridView__table {
	border-bottom: 1px solid var(--wcfContentBorder);
	border-spacing: 0;
	width: 100%;
	overflow-wrap: break-word;
}

.gridView__column,
.gridView__headerColumn {
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	position: relative;
}

.gridView__headerColumn {
	white-space: nowrap;
}

.gridView__headerColumn {
	font-weight: 600;
}

.gridView__headerColumn__button::before {
	position: absolute;
	inset: 0;
	content: "";
}

.gridView__headerColumn.ASC,
.gridView__headerColumn.DESC {
	.gridView__headerColumn__button::after {
		display: inline-block;
		margin-left: 5px;
	}
}

.gridView__headerColumn.ASC {
	.gridView__headerColumn__button::after {
		// 2191 = UPWARDS ARROW
		content: "\2191";
	}
}

.gridView__headerColumn.DESC {
	.gridView__headerColumn__button::after {
		// 2193 = DOWNWARDS ARROW
		content: "\2193";
	}
}

.gridView__row:not(:last-child) .gridView__column {
	box-shadow: inset 0 -1px 0 0 var(--wcfContentBorderInner);
}

.gridView__row:hover .gridView__column {
	background-color: var(--wcfTabularBoxBackgroundActive);
}

.gridView__rowLink,
.gridView__rowLink:hover {
	color: inherit;
}

.gridView__rowLink::before {
	position: absolute;
	inset: 0;
	content: "";
}

.gridView__column {
	background-color: var(--wcfContentContainerBackground);

	&.gridView__column--title {
		font-weight: 600;
	}

	&.gridView__column--text {
		max-width: 20%;

		.badge,
		a.badge {
			vertical-align: baseline;
		}
	}

	&.gridView__column--digits,
	&.gridView__column--id {
		font-variant: tabular-nums;
		text-align: right;
		width: 1px;
		white-space: nowrap;
		word-wrap: normal;
	}

	&.gridView__column--icon {
		width: 32px;
		white-space: nowrap;
		word-wrap: normal;
	}

	&.gridView__column--date {
		text-align: right;
		width: 1px;
		white-space: nowrap;
		word-wrap: normal;
	}

	&.gridView__column-smallText {
		@include wcfFontSmall;
	}

	&.gridView__column--image {
		text-align: center;
		white-space: nowrap;
		width: 1px;
		word-wrap: normal;
	}
}

.gridView__headerColumn {
	background-color: var(--wcfContentContainerBackground);
	box-shadow: inset 0 -1px 0 0 var(--wcfContentBorder);

	&.gridView__column--digits,
	&.gridView__column--id,
	&.gridView__column--date {
		text-align: right;
	}
}

.gridView__actionColumn {
	text-align: right;
	width: 1px;
	white-space: nowrap;
	word-wrap: normal;
	position: sticky;
	right: 0;
	animation: auto linear 0s 1 normal none running gridView__actionColumn__dropShadow;
	animation-timeline: scroll(inline);
}

@property --drop-shadow-opacity {
	syntax: "<percentage>";
	inherits: true;
	initial-value: 0%;
}

.gridView__actionColumn::before {
	background-image: linear-gradient(to right, rgb(0 0 0 / 0%), rgb(0 0 0 / var(--drop-shadow-opacity)));
	bottom: 0;
	content: "";
	left: -10px;
	position: absolute;
	top: 0;
	width: 10px;
}

.gridView__selectColumn {
	position: sticky;
	left: 0;
	width: 1px;
	z-index: 1;
}

.gridView__selectColumn::after {
	content: "";
	display: block;
	inset: 0;
	position: absolute;
	animation: auto linear 0s 1 normal none running gridView__selectColumn__dropShadow;
	animation-timeline: scroll(inline);
	z-index: -1;
}

.gridView__filterBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid var(--wcfContentBorder);
	padding-bottom: 10px;
	gap: 5px;
}

.gridView__filters {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.gridView__filterButton {
	flex: 0 0 auto;
}

.gridView__footer {
	bottom: -10px;
	display: flex;
	justify-content: center;
	gap: 10px;
	min-height: 54px;
	padding: 20px 0;
	position: sticky;
	z-index: 2;
}

@include screen-sm-down {
	.gridView__footer {
		margin-bottom: -10px;
	}
}

@include screen-md-up {
	.gridView__footer {
		margin-bottom: -20px;
	}
}

.gridView__footer__container {
	backdrop-filter: blur(24px);
	background-color: rgb(var(--wcfContentContainerBackground-rgb) / 78%);
	border: 1px solid transparent;
	border-radius: var(--wcfBorderRadiusContainer);
	box-shadow: var(--wcfBoxShadow);
	display: flex;
	gap: 21px;
	padding: 10px;
}

.gridView__selectionBar:not([hidden]) + .gridView__pagination:not(:has(woltlab-core-pagination[count="1"]))::before {
	border-left: 1px solid var(--wcfContentContainerBorder);
	content: "";
	inset: 0 auto;
	position: absolute;
	transform: translateX(-10px);
}

@include screen-xs {
	.gridView__footer__container{
		align-items: center;
		flex-direction: column;
	}

	.gridView__selectionBar:not([hidden]) + .gridView__pagination:not(:has(woltlab-core-pagination[count="1"]))::before {
		border-left-width: 0;
		border-top: 1px solid var(--wcfContentContainerBorder);
		inset: auto 0;
		transform: translateY(-10px);
	}
}

html[data-color-scheme="dark"] .gridView__footer__container {
	border-color: var(--wcfContentContainerBorder);
}

.gridView__actionColumn__buttons {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: end;
}

.gridView__selectAllRows,
.gridView__selectRow {
	cursor: pointer;
	height: 18px;
	width: 18px;
}

.gridView__row:has(.gridView__selectRow:checked) .gridView__column {
	background-color: var(--wcfTabularBoxBackgroundActive);
}

@keyframes gridView__actionColumn__dropShadow {
	0% {
		--drop-shadow-opacity: 8%;
	}
	75% {
		--drop-shadow-opacity: 8%;
	}
	99% {
		--drop-shadow-opacity: 0%;
	}
}

@keyframes gridView__selectColumn__dropShadow {
	0% {
		box-shadow: none;
	}
	5% {
		box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 16px 2px;
	}
	100% {
		box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 16px 2px;
	}
}
