/* #### Labels #### */
/* label list */
.labelList {
	@extend .inlineList;
}

.boxHeadline.labeledHeadline {
	@extend .inlineList;
	
	> ul.statusIcons {
		> li {
			display: inline-block;
		}
	}
	
	> ul.labelList {
		position: relative;
		top: -4px;
	}
}

.boxHeadline.labeledHeadline > h1,
.boxSubHeadline.labeledHeadline > h2 {
	display: inline-block;
	margin-right: 5px;
}

/* ACP label list */
#labelList > li {
	flex-basis: 30%;
	margin-bottom: 10px;
	
	&.labelCustomClass {
		display: flex;
		
		> input[type='radio'] {
			flex: 0 0 auto;
			margin-right: 7px;
		}
		
		> span {
			flex: 1 1 auto;
		}
	}
}

.labelChooser > .dropdownToggle > span {
	cursor: pointer;
}