/* #### Labels #### */
/* label list */
.labelList {
	@extend .inlineList;
}

.boxHeadline.labeledHeadline {
	align-items: center;
	
	@extend .inlineList;
	
	> .statusIcons,
	> .labelList {
		flex: 0 0 auto;
	}
	
	> .statusIcons:not(:last-child) {
		margin-right: 10px;
	}
}

.boxHeadline.labeledHeadline > h1,
.boxSubHeadline.labeledHeadline > h2 {
	flex: 0 0 auto;
	margin-right: 10px;
	
	/* force a long running title to break instead of overflowing the container */
	max-width: 100%;
}

/* ACP label list */
#labelList > li {
	flex-basis: 30%;
	margin-bottom: 10px;
	
	&.labelCustomClass {
		display: flex;
		
		> input[type='radio'] {
			flex: 0 0 auto;
			margin-right: 7px;
		}
		
		> span {
			flex: 1 1 auto;
		}
	}
}

.labelChooser > .dropdownToggle > span {
	cursor: pointer;
}