.likesSummary {
	color: $wcfContentDimmedText;
	cursor: pointer;
	flex: 0 0 auto;
	
	> .icon {
		color: $wcfContentDimmedText;
		margin-right: 5px;
	}
}

.wcfLikeCounter {
	color: $wcfContentDimmedText;
	
	.icon {
		color: inherit !important;
	}
	
	&.likeCounterLiked {
		color: #060 !important;
	}
	&.likeCounterDisliked {
		color: #900 !important;
	}
}

html.touch .wcfLikeButton > .button:not(.active):hover,
html.touch .wcfDislikeButton > .button:not(.active):hover {
	background-color: $wcfButtonBackground !important;
	color: $wcfButtonText !important;
}