.likesSummary {
	color: $wcfContentDimmedText;
	cursor: pointer;
	flex: 0 0 auto;
	
	> .icon {
		color: $wcfContentDimmedText;
		margin-right: 5px;
	}
}

.wcfLikeCounter {
	color: $wcfContentDimmedText;
	
	.icon {
		color: inherit !important;
	}
	
	&.likeCounterLiked {
		color: #060 !important;
	}
	&.likeCounterDisliked {
		color: #900 !important;
	}
}
