.listView__header {
	border-bottom: 2px solid var(--wcfTabularBoxHeadline);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
	padding-bottom: 5px;
}

@include screen-sm-down {
	.listView__header {
		margin-bottom: 10px;
	}
}

@include screen-md-up {
	.listView__header {
		margin-bottom: 20px;
	}
}

.listView__filters {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.listView__header__buttons {
	display: flex;
	gap: 5px;
	margin-inline-start: auto;
}

.listView__header__button {
	display: flex;
}

@include screen-xs {
	.listView.listView--editMode,
	.listView:not(:has(.listView__item__buttons)) {
		.listView__editMode__toggle {
			display: none;
		}
	}

	.listView:not(.listView--editMode) {
		.listView__selectAllItems__label,
		.listView__item__buttons {
			display: none;
		}
	}
}

@include screen-sm-up {
	.listView__editMode__toggle {
		display: none;
	}
}

.listView__sorting__button.ASC::after,
.listView__sorting__button.DESC::after {
	display: inline-block;
	margin-left: 5px;
}

.listView__sorting__button.ASC::after {
	// 2191 = UPWARDS ARROW
	content: "\2191";
}

.listView__sorting__button.DESC::after {
	// 2193 = DOWNWARDS ARROW
	content: "\2193";
}

.listView__footer {
	bottom: -10px;
	display: flex;
	justify-content: center;
	gap: 10px;
	min-height: 54px;
	padding: 20px 0;
	position: sticky;
	z-index: 2;
}

@include screen-sm-down {
	.listView__footer {
		margin-bottom: -10px;
	}
}

@include screen-md-up {
	.listView__footer {
		margin-bottom: -20px;
	}
}

.listView__footer__container {
	backdrop-filter: blur(24px);
	background-color: rgb(var(--wcfContentContainerBackground-rgb) / 78%);
	border: 1px solid transparent;
	border-radius: var(--wcfBorderRadiusContainer);
	box-shadow: var(--wcfBoxShadow);
	display: flex;
	gap: 21px;
	padding: 10px;
}

.listView__selectionBar:not([hidden]) + .listView__pagination:not(:has(woltlab-core-pagination[count="1"]))::before {
	bottom: 0;
	border-left: 1px solid var(--wcfContentContainerBorder);
	content: "";
	position: absolute;
	transform: translateX(-10px);
	top: 0;
}

@include screen-xs {
	.listView__footer__container {
		align-items: center;
		flex-direction: column;
	}

	.listView__selectionBar:not([hidden])
		+ .listView__pagination:not(:has(woltlab-core-pagination[count="1"]))::before {
		border-left-width: 0;
		border-top: 1px solid var(--wcfContentContainerBorder);
		inset: auto 0;
		transform: translateY(-10px);
	}
}

html[data-color-scheme="dark"] .listView__footer__container {
	border-color: var(--wcfContentContainerBorder);
}

.listView {
	position: relative;
}

.listView .info {
	margin-top: 0;
}

.listView__selectAllItems,
.listView__selectItem {
	cursor: pointer;
	height: 18px;
	width: 18px;
}

.listView__selectAllItems__label,
.listView__selectItem__label {
	align-items: center;
	cursor: pointer;
	display: flex;
	padding: 0 6px;
}

.listView__item__markAsRead {
	align-items: center;
	display: flex;
	padding: 0 5px;
}

.listView__item__unread__indicator {
	background-color: var(--wcfButtonPrimaryBackground);
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	width: 10px;
}

@media (hover: hover) {
	.listView__item__markAsRead:hover .listView__item__unread__indicator {
		background-color: var(--wcfButtonPrimaryBackgroundActive);
	}
}

.listView__filter__list {
	display: grid;
	gap: 20px;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
}

.listView__filter__item {
	margin: 0 !important;
}

@include screen-xs {
	.listView__filter__list {
		grid-template-columns: 1fr;
	}
}
