.listView__header {
	border-bottom: 2px solid var(--wcfTabularBoxHeadline);
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding-bottom: 5px;
}

@include screen-sm-down {
	.listView__header {
		margin-bottom: 10px;
	}
}

@include screen-md-up {
	.listView__header {
		margin-bottom: 20px;
	}
}

.listView__filters {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.listView__header__buttons {
	display: flex;
	gap: 5px;
	margin-inline-start: auto;
}

.listView__header__button {
	display: flex;
}

.listView__sorting__button.ASC::after,
.listView__sorting__button.DESC::after {
	display: inline-block;
	margin-left: 5px;
}

.listView__sorting__button.ASC::after {
	// 2191 = UPWARDS ARROW
	content: "\2191";
}

.listView__sorting__button.DESC::after {
	// 2193 = DOWNWARDS ARROW
	content: "\2193";
}

.listView__footer {
	align-items: center;
	background-color: var(--wcfContentContainerBackground);
	border-bottom-left-radius: var(--wcfBorderRadius);
	border-bottom-right-radius: var(--wcfBorderRadius);
	border-top: 1px solid var(--wcfContentContainerBorder);
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
	min-height: 54px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: sticky;
	z-index: 2;
}

@include screen-sm-down {
	.listView__footer {
		margin-bottom: -10px;
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@include screen-md-up {
	.listView__footer {
		margin-bottom: -20px;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.listView__pagination {
	margin-inline-start: auto;
}

.listView {
	position: relative;
}

.listView .info {
	margin-top: 0;
}

.listView__selectAllItems,
.listView__selectItem {
	cursor: pointer;
	height: 18px;
	width: 18px;
}

.listView__selectAllItems__label,
.listView__selectItem__label {
	align-items: center;
	cursor: pointer;
	display: flex;
	padding: 0 6px;
}
