.innerInfo + .mediaManagerMediaUploadButton {
	margin-top: 5px;
}

.mediaManagerMediaUploadButton > .button {
	margin: 0;
	text-align: center;
	width: 100%;
	
	> input {
		width: 100%;
	}
}

.mediaManagerMediaList {
	font-size: 0;
	margin-top: 5px;
	
	@include clearfix;
	
	> li {
		float: left;
		position: relative;
		border: 1px solid #eee;
		overflow: hidden;
		font-size: 1rem;
		margin: 0 10px 10px 0;
		
		&.jsMarked {
			> .mediaInformation,
			> .buttonGroupNavigation {
				background-color: transparentize($wcfButtonPrimaryBackground, 0.2);
				color: $wcfButtonPrimaryText;
				
				a {
					color: $wcfButtonPrimaryText;
				}
				
				.icon {
					color: $wcfButtonPrimaryText;
					text-shadow: none;
				}
			}
		}
		
		&.jsSelected {
			> .mediaInformation,
			> .buttonGroupNavigation {
				background-color: transparentize(green, 0.2);
				color: white;
				
				a {
					color: white;
				}
				
				.icon {
					color: white;
					text-shadow: none;
				}
			}
		}
		
		&.uploadFailed {
			cursor: pointer;
			
			> .mediaInformation {
				background-color: $wcfStatusErrorBackground;
				color: $wcfStatusErrorText;
				
				.mediaTitle {
					max-height: 144px;
					white-space: normal;
				}
			}
		}
		
		> .mediaThumbnail {
			height: 144px;
			width: 144px;
		}
		
		> .mediaInformation {
			position: absolute;
			bottom: 0;
			background: rgba(0, 0, 0, 0.6);
			color: #fff;
			width: 100%;
			padding: 5px 10px;
			box-sizing: border-box;
			
			@include wcfFontSmall;
			
			.mediaTitle {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		
		> .buttonGroupNavigation {
			position: absolute;
			top: 0;
			right: 0;
			overflow: hidden;
			background: rgba(0, 0, 0, 0.6);
			
			.icon {
				color: #fff;
				@include textShadow(#000);
			}
		}
		
		@include screen-md-down {
			.buttonGroupNavigation {
				&.open {
					left: 0;
					
					// dropdown is contained within this element, required to have it stand
					// above any succeeding siblings
					z-index: 10;
					
					> .buttonList {
						display: block;
						visibility: visible;
					}
				}
				
				> .dropdownLabel {
					left: calc(100% - 24px);
					position: relative;
				}
				
				> .buttonList {
					@include dropdownMenu;
					
					position: static !important;
					top: 0;
					
					> li {
						.invisible {
							display: inline;
							padding-left: 5px;
						}
					}
				}
			}
		}
		
		@include screen-lg {
			.buttonGroupNavigation {
				transition: opacity .12s;
				
				> .dropdownLabel {
					display: none;
				}
			}
		}
		
		@include screen-md-up {
			> .buttonGroupNavigation {
				height: 0;
			}
			
			&:hover {
				> .buttonGroupNavigation {
					height: auto;
					padding: 10px;
				}
			}
		}
		
		@include screen-md-down {
			> .buttonGroupNavigation .mediaCheckbox {
				display: none !important;
			}
		}
	}
}

[id^=mediaEditor] {
	.mediaEditorButtons {
		margin-bottom: 20px;
	}
	
	.mediaThumbnail {
		text-align: center;
		margin-bottom: 20px;
		
		+ .box48 > dl {
			font-size: $wcfFontSizeSmall;
		}
	}
}

.mediaManagerCategoryList {
	margin-bottom: 5px;
}

.button.jsMediaSelectButton + .button {
	margin-left: 5px;
}
