.messageUserConsent {
	background-color: $wcfContentBackground;
	border-radius: 2px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	margin: 10px 0;
	max-width: 600px;
	padding: 20px;
	
	@include screen-sm-down {
		padding: 10px;
	}
}

.messageUserConsentHeader {
	display:flex;
	justify-content: space-between;
}

.messageUserConsentTitle {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.05;
	margin-bottom: 10px;
}

.messageUserConsentButtonContainer {
	margin: 10px 0;
	text-align: center;
}

.messageUserConsentNotice {
	color: $wcfContentDimmedText;
	font-size: 12px;
}
