/* edit history */
.editHistoryDiff {
	--diffAdded-background: #dff0d8;
	--diffAdded-color: #3c763d;
	--diffRemoved-background: #f2dede;
	--diffRemoved-color: #a94442;
	--diffSection-background: #eceff1;
	--diffSection-color: #2c3e50;
	--diffDel-background: #d71111;
	--diffDel-color: rgb(255 255 255 / 91%);
	--diffIns-background: #008000;
	--diffIns-color: rgb(255 255 255 / 91%);

	@include screen-md-down {
		overflow: auto;
	}

	.table {
		@include screen-lg {
			table-layout: fixed;
		}

		width: 100%;

		th {
			text-align: center;
		}

		td {
			padding: 5px;

			&:not(.diffSection) {
				border-bottom-width: 0 !important;
			}

			&:first-child:last-child:empty {
				display: none;
			}

			&:last-child:not(:first-child) {
				border-left: 1px solid var(--wcfContentBorderInner);
			}

			&.diffAdded {
				background-color: var(--diffAdded-background);
				color: var(--diffAdded-color);
			}

			&.diffRemoved {
				background-color: var(--diffRemoved-background);
				color: var(--diffRemoved-color);
			}

			&.diffSection {
				background-clip: padding-box;
				background-color: var(--diffSection-background);
				border-bottom: 20px solid transparent;
				color: var(--diffSection-color);
				padding: 10px;
				text-align: center;

				@include wcfFontHeadline;
			}

			tr:not(:first-child) .diffSection {
				border-top: 20px solid transparent;
			}

			& + form {
				/* Out of the way, Lydia! */
				margin-top: 40px;
			}
		}
	}

	.sideBySide:first-child {
		margin-bottom: 20px;
		text-align: center;
	}

	.sideBySide {
		column-gap: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	del,
	.vdd-removed {
		background-color: var(--diffDel-background);
		color: var(--diffDel-color);
		text-decoration: line-through;
	}

	ins,
	.vdd-added,
	.vdd-modified {
		background-color: var(--diffIns-background);
		color: var(--diffIns-color);
		text-decoration: none;
	}
}

html[data-color-scheme="dark"] {
	.editHistoryDiff {
		--diffAdded-background: #172810;
		--diffAdded-color: #4f9c51;
		--diffRemoved-background: #281010;
		--diffRemoved-color: #d95654;
		--diffSection-background: #252e3d;
		--diffSection-color: #959595;
		--diffDel-background: #800000;
		--diffDel-color: rgb(255 255 255 / 67%);
		--diffIns-background: #008000;
		--diffIns-color: rgb(255 255 255 / 91%);
	}
}

@include screen-sm-down {
	.editHistoryVersionList {
		.columnUser,
		.columnEditReason {
			display: none;
		}
	}
}
