.messageList {
	border: 1px solid $wcfContentBorder;
	border-width: 1px 0;
	margin: 30px 0;
	
	> li {
		margin-top: 0;
		padding: 40px 0;
		
		&:not(:first-child) {
			border-top: 1px solid $wcfContentBorder;
		}
	}
}

.message {
	display: flex;
}

/* sidebar */
.messageSidebar {
	align-self: flex-start;
	background-color: $wcfSidebarBackground;
	border-radius: 3px;
	color: $wcfSidebarText;
	flex: 0 0 240px;
	padding: 20px;
	position: relative;
	text-align: center;
	
	a {
		color: $wcfSidebarLink;
		
		&:hover {
			color: $wcfSidebarLinkActive;
		}
	}
	
	.dataList {
		@extend .wcfFontSmall;
	}
}

.messageAuthor + * {
	margin-top: 25px;
	
	&:before {
		// TODO: border-top: 2px solid $wcfContentBorderAccent;
		content: "";
		left: 0;
		margin-top: -10px;
		position: absolute;
		right: 0;
	}
}

.messageAuthorContainer:not(:last-child) {
	margin-bottom: 5px;
}

/* content */
.messageContent {
	display: flex;
	flex: 1 auto;
	flex-direction: column;
	margin-left: 30px;
}

/* content - header */
.messageHeader {
	display: flex;
	flex: 0 0 auto;
	margin-bottom: 20px;
}

.messageQuickOptions {
	@extend .inlineList;
	
	flex: 0 0 auto;
	opacity: .3;
	order: 2;
	transition: opacity .2s linear;
	
	.badge {
		color: rgb(255, 255, 255);
		
		@extend .wcfFontSmall;
	}
}

.message:hover .messageQuickOptions {
	opacity: .6;
}

.message .messageHeader .messageQuickOptions:hover {
	opacity: 1;
}

.messageHeadline {
	flex: 1 auto;
	order: 1;
	
	> h1 {
		margin-bottom: 5px;
		
		@extend .wcfFontHeadline;
	}
	
	> p {
		@extend .wcfFontSmall;
	}
}

/* content - body */
.messageBody {
	flex: 1 auto;
	
	&.editor {
		align-items: center;
		display: flex;
		justify-content: center;
		
		> .icon {
			flex: 0 0 auto;
		}
		
		> .editorContainer {
			flex: 1 auto;
		}
	}
}

/* content - footer */
.messageFooter {
	flex: 0 0 auto;
	margin-top: 20px;
}

.messageFooterNote {
	border-left: 2px solid rgb(238, 238, 238);
	padding-left: 5px;
	
	&:not(:first-child) {
		margin-top: 5px;
	}
}

.messageSignature {
	border-top: 1px solid rgb(238, 238, 238);
	opacity: .6;
	padding-top: 10px;
	transition: opacity .2s linear;
}

.message:hover .messageSignature {
	opacity: 1;
}

.messageFooterButtons {
	@extend .buttonGroup;
	
	justify-content: flex-end;
	margin-top: 10px;
	opacity: .3;
	transition: opacity .2s linear;
	
	&.forceVisible {
		opacity: 1 !important;
	}
	
	> li {
		display: flex;
		
		> a {
			align-items: center;
		}
	}
	
	.icon + span:not(.invisible)  {
		margin-left: 5px;
	}
}

.message:hover {
	.messageFooterButtons {
		opacity: .6;
		
		&:hover {
			opacity: 1;
		}
	}
}

/* ### message groups ### */
.messageGroupList {
	.columnSubject {
		> .labelList {
			float: right;
			padding-left: 7px;
		}
		
		> h3 {
			> .messageGroupLink {
				@extend .wcfFontHeadline;
			}
			
			> .badge.label {
				top: -2px;
			}
		}
		
		> small {
			display: block;
		}
		
		> nav {
			@extend .wcfFontSmall;
			
			> ul > li {
				display: inline;
			}
		}
	}
	
	tr {
		&.new .columnSubject > h3 > .messageGroupLink {
			font-weight: bold;
		}
		
		&.new .columnAvatar div > p > img,
		&:hover .columnAvatar div > p > img {
			opacity: 1;
		}
		
		/*
		TODO
		&.messageDisabled {
			color: $wcfDisabledColor;
			
			> td {
				background-color: $wcfDisabledBackgroundColor !important;
			}
			
			a:not(.badge) {
				color: $wcfDisabledColor;
			}
		}
		*/
		
		/*
		TODO
		&.messageDeleted {
			color: $wcfDeletedColor;
			
			> td {
				background-color: $wcfDeletedBackgroundColor !important;
			}
			
			a:not(.badge) {
				color: $wcfDeletedColor;
			}
		}
		*/
		
		.columnSubject .statusDisplay .pageNavigation {
			opacity: 0;
			transition: opacity .2s linear;
		}
		
		&:hover .columnSubject .statusDisplay .pageNavigation {
			opacity: 1;
		}
		
		&.new .columnAvatar > div {
			&::after {
				color: $wcfContentLink;
				content: "\f069";
				font-family: FontAwesome;
				font-weight: normal !important;
				font-style: normal !important;
				font-size: 14px;
				position: absolute;
				text-decoration: none !important;
				top: -4px;
				right: -2px;
				
				@include textShadow($wcfContentLink);
			}
		}
	}
	
	.columnAvatar {
		div {
			position: relative;
			width: 40px;
			height: 38px;
			
			> p > img {
				opacity: .6;
				transition: opacity .2s linear;
			}
		}
		
		.myAvatar {
			position: absolute;
			width: 16px;
			height: 16px;
			bottom: -2px;
			left: 24px;
			opacity: 1;
			
			> img {
				@include boxShadow(0, 0, rgba(0, 0, 0, .3), 3px);
			}
		}
	}
	
	.columnLastPost {
		white-space: nowrap;
		word-wrap: normal;
		
		> div > div > small {
			// TODO: color: $wcfDimmedColor;
		}
	}
	
	.messageGroupInfo {
		@extend .inlineList;
		@extend .wcfFontSmall;
		
		> li:not(:last-child) {
			margin-right: 5px;
			
			&:after {
				content: " - ";
			}
		}
	}
}
