.messageList {
	&:not(.messageReducedList) {
		@include screen-md-up {
			border-top: 1px solid var(--wcfContentBorder);

			> li {
				border-bottom: 1px solid var(--wcfContentBorder);
				padding: 30px 0;

				&.messageListPagination:last-child {
					border-bottom-width: 0;
				}
			}
		}

		@include screen-sm-down {
			.messageSidebar {
				border-top: 1px solid var(--wcfContentBorder);
			}

			> li:first-child .messageSidebar {
				border-radius: var(--wcfBorderRadius) var(--wcfBorderRadius) 0 0;
				border-top-color: var(--wcfSidebarBorder);
			}

			> .messageListPagination {
				border-top: 1px solid var(--wcfContentBorder);
				margin: 0 -10px;
				padding: 20px 10px;
			}
		}

		> .messageListNotice > .info {
			margin-top: 0;
		}
	}

	&.messageReducedList {
		@include screen-md-up {
			> li:not(:last-child) {
				padding-bottom: 30px;
			}
		}
	}

	> .anchorFixedHeader:not(.disableAnchorFixedHeader):target {
		margin-top: -49px;
		pointer-events: none;
		position: relative;
		z-index: 10;

		&::after {
			content: "";
			display: block;
			height: 50px;
		}

		> .message {
			pointer-events: all;
			transform: translateY(49px);
		}
	}

	@include screen-sm-down {
		> li:not(:last-child) {
			padding-bottom: 30px;
		}
	}
}

.message {
	@include screen-md-up {
		display: flex;
	}

	.messageClipboardCheckbox {
		display: block;
		height: 24px;
		width: 24px;

		input[type="checkbox"] {
			height: 18px;
			width: 18px;
		}
	}
}

/* sidebar */
.messageSidebar {
	background-color: var(--wcfSidebarBackground);
	border: 1px solid var(--wcfSidebarBorder);
	border-width: 1px 0;
	color: var(--wcfSidebarText);
	position: relative;

	@include screen-md-up {
		align-self: flex-start;
		border-radius: var(--wcfBorderRadius);
		border-width: 1px;
		text-align: center;

		.username {
			/* required to fix wrapping behavior in combination with
			   `overflow-wrap` / `word-wrap` */
			display: block;
		}
	}

	@include screen-md {
		flex: 0 0 200px;
		padding: 15px;

		& + .messageContent {
			flex-basis: calc(100% - 220px);
			margin-left: 20px;
			max-width: calc(100% - 220px);
		}
	}

	@include screen-lg {
		flex: 0 0 240px;
		padding: 20px;

		& + .messageContent {
			flex-basis: calc(100% - 270px);
			margin-left: 30px;
			max-width: calc(100% - 270px);
		}
	}

	@include screen-sm-down {
		margin: 0 -10px;
		padding: 10px;

		.messageAuthor {
			flex: 0 0 auto;
			/* equals the height of the avatar */
			min-height: 48px;
			position: relative;

			.userAvatar {
				display: block;
				margin: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				.userAvatarImage {
					max-height: 48px;
					max-width: 48px;
				}
			}

			.messageAuthorContainer,
			.userTitle,
			.userRank {
				margin-left: 58px;
			}

			/* force username to be vertically centered for quick reply */
			.messageAuthorContainer:last-child {
				align-items: center;
				display: flex;
				height: 100%;
				position: absolute;
			}
		}

		.userCredits {
			display: none;
		}

		+ .messageContent {
			margin-top: 20px;
		}
	}

	a {
		color: var(--wcfSidebarLink);

		&:hover {
			color: var(--wcfSidebarLinkActive);
		}
	}

	.dataList {
		@include wcfFontSmall;
	}

	.userAvatar {
		display: inline-block;
		position: relative;
		margin-bottom: 10px;

		> a {
			display: inline-block;
		}
	}

	.username {
		display: inline-block;

		@include wcfFontHeadline;
	}

	.badgeOnline {
		left: 0;
		pointer-events: none;
		position: absolute;

		@include screen-md-up {
			bottom: 0;
		}

		@include screen-sm-down {
			color: transparent;
			padding: 0;
			top: 0;
			width: 0;

			&::before {
				background-color: inherit;
				border: 1px solid rgba(255, 255, 255, 1);
				border-radius: 50%;
				content: "";
				height: 16px;
				left: 34px; /* 48px (avatar) - 16px (width) - 2px (border-left + border-right) */
				position: absolute;
				width: 16px;
			}
		}
	}

	.userTitle + .userRank {
		margin-top: 3px;
	}
}

@include screen-sm-down {
	.messageSidebar .badgeOnline::before {
		border-color: #47cd54;
	}
}

.messageAuthor + * {
	margin-top: 20px;

	&:before {
		content: "";
		left: 0;
		margin-top: -10px;
		position: absolute;
		right: 0;
	}
}

/* Prevents username overflow in the message sidebar */
.messageAuthorContainer {
	overflow: hidden;
}

.messageAuthorContainer:not(:last-child) {
	@include screen-md-up {
		margin-bottom: 5px;
	}
}

// sidebar right
.messageSidebarOrientationRight {
	.messageContent {
		order: 1;
	}

	.messageSidebar {
		order: 2;
	}

	.messageSidebar + .messageContent {
		margin-left: 20px;
		margin-right: 30px;
	}
}

/* content */
.messageContent {
	@include screen-sm-down {
		position: relative;
	}

	@include screen-md-up {
		display: flex;
		/* do not use `flex: 1 1 0%` as it causes Mobile Safari to fail */
		flex: 1;
		flex-direction: column;
	}

	&.loading {
		position: relative;

		> .messageContentLoadingOverlay {
			align-items: center;
			background-color: var(--wcfContentBackground);
			display: flex;
			inset: 0;
			justify-content: center;
			position: absolute;
			z-index: 1;
		}
	}
}

/* content - header */
.messageHeader {
	display: flex;
	justify-content: flex-end;

	@include screen-md-up {
		flex: 0 0 auto;
	}

	+ .messageBody {
		margin-top: 20px;
	}

	> .messageQuickOptions {
		flex: 0 0 auto;
	}

	> .messageHeaderWrapper {
		align-items: center;
		flex: 1 1 auto;
	}
}

.messageHeaderBox {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;

	> .messageTitle {
		flex: 0 0 100%;
	}

	> .messageHeaderMetaData,
	> .messageStatus {
		flex: 0 0 auto;
	}
}

.messageTitle {
	color: var(--wcfContentHeadlineText);

	a {
		color: var(--wcfContentHeadlineLink);

		&:hover {
			color: var(--wcfContentHeadlineLinkActive);
		}
	}
}

.messageHeaderMetaData {
	align-items: center;

	@include inlineList;
	@include dotSeparated;
	@include wcfFontSmall;

	.messagePublicationTime {
		color: var(--wcfContentDimmedText);
	}

	+ .messageStatus {
		margin-left: 5px;
	}
}

.messageStatus {
	align-items: center;

	@include inlineList;
	@include wcfFontSmall;
}

.messageQuickOptions {
	column-gap: 5px;
	display: flex;

	a {
		color: inherit;
	}

	@include screen-md-up {
		.messageQuickOptionsMobile {
			display: none;
		}
	}

	@include screen-sm-down {
		// Prevent a layout shift caused by the mobile button
		// being added on-the-fly.
		&:not(.active) {
			padding-right: 29px;
		}

		li:not(.jsMessageClipboardCheckbox):not(.messageQuickOptionsMobile) {
			display: none;
		}

		.jsMessageClipboardCheckbox,
		.messageQuickOptionsMobile {
			align-items: center;
			display: flex;
			justify-content: center;
			height: 24px;
			width: 24px;
		}
	}
}

/* content - body */
.messageBody {
	@include screen-md-up {
		flex: 1 1 auto;
	}

	&.editor {
		align-items: center;
		display: flex;
		justify-content: center;

		> .icon {
			flex: 0 0 auto;
		}

		> .editorContainer {
			flex: 1 1 auto;
		}
	}

	> .messageText {
		@extend .htmlContent;

		img {
			height: auto !important;
			max-width: 100%;
		}
	}

	> *:first-child {
		margin-top: 0;
	}
}

/* content - footer */
.messageFooter {
	@include screen-md-up {
		flex: 0 0 auto;
	}

	.formSubmit {
		margin-top: 20px;
	}
}

.messageFooterNote {
	border-left: 5px solid var(--wcfContentBorderInner);
	color: var(--wcfContentDimmedText);
	margin-top: 20px;
	padding: 5px 10px;

	@include wcfFontSmall;

	a {
		color: var(--wcfContentDimmedLink);

		&:hover {
			color: var(--wcfContentDimmedLinkActive);
			text-decoration: underline;
		}
	}
}

.messageFooterGroup {
	display: flex;
	flex-wrap: wrap;

	&:not(:first-child) {
		> woltlab-core-reaction-summary,
		> .messageFooterButtons,
		> .messageFooterButtonsExtra {
			margin-top: 20px;
		}
	}

	> woltlab-core-reaction-summary {
		align-self: center;
		flex: 0 1 auto;

		@include wcfFontSmall;
	}

	> .messageFooterButtons {
		@include screen-md-up {
			flex: 1 1 auto;
		}

		@include screen-sm-down {
			margin-left: auto;

			.button:not(.reactButton) {
				display: none;
			}

			.button.reactButton {
				border-radius: var(--wcfBorderRadius);
			}
		}
	}

	> .messageFooterButtonsExtra {
		@include screen-md-up {
			flex: 1 1 auto;

			& + .messageFooterButtons {
				flex: 0 auto;

				> li:first-child {
					margin-left: 20px;
				}
			}
		}

		@include screen-sm-down {
			display: none;
		}
	}
}

.messageSignature > div {
	@extend .htmlContent;
}

.messageSignature img:not(.userAvatarImage),
.messageSignatureConstraints img:not(.userAvatarImage) {
	max-height: #{$wcf_option_signature_max_image_height}px;
	width: auto;
}

@include screen-sm-down {
	.messageSignature {
		display: none;
	}
}

@include screen-md-up {
	.messageSignature {
		border-top: 1px solid var(--wcfContentBorderInner);
		margin-top: 20px;
		opacity: 0.6;
		padding-top: 10px;
		transition: opacity 0.12s linear;

		/* fix flicker in Safari on message hover */
		transform: translateZ(0);
	}

	.message:hover .messageSignature {
		opacity: 1;
	}
}

.messageFooterButtons,
.messageFooterButtonsExtra {
	@extend .buttonGroup;

	justify-content: flex-end;

	> li {
		display: flex;

		> a {
			align-items: center;
		}
	}

	.icon + span:not(.invisible) {
		margin-left: 5px;
	}
}

.messageCollapsed {
	@include screen-sm-down {
		border-top: 1px solid var(--wcfContentBorderInner);
		margin: 0 -10px;
		padding: 30px 10px 0;
	}
}

.messageReduced {
	.messageHeader {
		background-color: var(--wcfSidebarBackground);
		color: var(--wcfSidebarText);

		@include screen-sm-down {
			margin: 0 -10px;
			padding: 10px;
		}

		@include screen-md-up {
			padding: 10px 20px;
		}
	}

	.messageTitle {
		color: var(--wcfSidebarHeadlineText);

		a {
			color: var(--wcfSidebarHeadlineLink);

			&:hover {
				color: var(--wcfSidebarHeadlineLinkActive);
			}
		}
	}

	@include screen-md-up {
		.messageBody,
		.messageFooter {
			padding: 0 20px;
		}
	}
}

/* margin between items in the list of quoted messages */
#messageQuoteList .messageReduced + .messageReduced {
	margin-top: 20px;
}

.messageQuoteItemList {
	/* we need `!important` here to override defaults used for `.htmlContent`
	   and `.messageText` */
	list-style-type: none !important;
	margin-left: 0 !important;

	> li {
		display: flex;

		> span {
			flex: 0 0 auto;
			margin-right: 10px;
		}

		> .jsQuote {
			flex: 1 1 auto;
		}

		> .jsFullQuote {
			display: none;
		}
	}
}

/* allow tables to overflow on all screens */
.messageTableOverflow {
	overflow: auto;
}
