@keyframes wcfPageAction {
	0%   { visibility: visible; opacity: 0; }
	100% { visibility: visible; opacity: 1; }
}

@keyframes wcfPageActionOut {
	0%   { visibility: visible; opacity: 1; }
	100% { visibility: hidden;  opacity: 0; }
}

@keyframes wcfPageActionRemove {
	0%   { visibility: visible; opacity: 1; }
	60%  { visibility: hidden;  opacity: 0; }
	100% { visibility: hidden;  opacity: 0; max-width: 0; }
}

.pageAction {
	bottom: 10px;
	display: flex;
	justify-content: flex-end;
	left: 10px;
	pointer-events: none;
	position: fixed;
	right: 10px;
	z-index: 400;
	
	.pageActionButtons {
		display: flex;
		flex: 0 auto;
		overflow: auto;
	}
	
	.pageActionButtons,
	.pageActionButtonToTop {
		pointer-events: all;
	}
	
	.pageActionButton {
		display: flex;
		flex: 0 0 auto;
		
		// required to animate 'max-width' properly when removing items
		max-width: 400px;
		white-space: nowrap;
		
		&:not(:first-child) {
			margin-left: 5px;
		}
		
		&.remove {
			animation: wcfPageActionRemove .48s;
		}
	}
	
	.pageActionButton,
	.pageActionButtonToTop {
		animation: wcfPageActionOut .24s forwards;
		
		&[aria-hidden="false"] {
			animation: wcfPageAction .24s;
		}
		
		&.initiallyHidden {
			animation: 0;
			visibility: hidden;
		}
	}
	
	.pageActionButtonToTop {
		align-self: flex-start;
		flex: 0 0 auto;
		margin-left: 5px;
		padding: 2px;
	}
	
	@include screen-sm-down {
		/* The iOS bottom touch zone is approximately 44px high. Any touches within will show the
		   menu instead of registering any touch on a button. */
		bottom: 44px;
		
		opacity: 1;
		transition: opacity .12s linear;
		
		&.scrolledDown {
			opacity: 0;
			transition-delay: .4s;
		}
	}
}

.pageOverlayActive .pageAction {
	display: none;
}

@include screen-xs {
	.redactorActive .pageAction {
		display: none !important;
	}
}
