@keyframes wcfPageAction {
	0%   { visibility: visible; transform: translateY(-10px); opacity: 0; }
	100% { visibility: visible; transform: translateY(0);     opacity: 1; }
}

@keyframes wcfPageActionOut {
	0%   { visibility: visible; transform: translateY(0);     opacity: 1; }
	100% { visibility: hidden;  transform: translateY(-10px); opacity: 0; }
}

@keyframes wcfPageActionRemove {
	0%   { visibility: visible; transform: translateY(0);     opacity: 1; }
	60%  { visibility: hidden;  transform: translateY(-10px); opacity: 0; }
	100% { visibility: hidden;  transform: translateY(-10px); opacity: 0; max-width: 0; }
}

.pageAction {
	bottom: 20px;
	position: fixed;
	right: 20px;
	z-index: 400;
	
	@extend .inlineList;
	
	> li {
		animation: wcfPageActionOut .3s;
		animation-fill-mode: forwards;
		
		// required to animate 'max-width' properly when removing items
		max-width: 400px;
		white-space: nowrap;
		
		&[aria-hidden="false"] {
			animation: wcfPageAction .3s;
			animation-fill-mode: forwards;
		}
		
		&.remove {
			animation: wcfPageActionRemove .5s;
			animation-fill-mode: forwards;
		}
		
		&.initiallyHidden {
			animation: 0;
			visibility: hidden;
		}
		
		> a {
			background-color: rgba(0, 0, 0, .6);
			color: rgba(224, 224, 224, 1);
			padding: 5px 10px;
			
			> .icon {
				color: rgba(224, 224, 224, 1);
			}
		}
		
		> a:hover,
		&.dropdownOpen > a {
			background-color: rgba(0, 0, 0, 1);
			color: rgba(255, 255, 255, 1);
			
			> .icon {
				color: rgba(255, 255, 255, 1);
			}
		}
	}
}
