.pagination__wrapper {
	display: block;
}

.pagination {
	--column-gap: 2px;

	column-gap: var(--column-gap);
	display: inline-grid;
	grid-auto-flow: column;
}

.pagination__list {
	column-gap: var(--column-gap);
	display: grid;
	grid-auto-flow: column;
}

.pagination__link {
	border-radius: 4px;
	color: var(--wcfContentText);
	display: inline-block;
	font-variant: tabular-nums;
	padding: 4px 8px;
}

.pagination__link[aria-current="page"],
body:not(.touch) .pagination__link:hover {
	background-color: var(--wcfButtonBackgroundActive);
	color: var(--wcfButtonTextActive);
}

@include screen-xs {
	.pagination__wrapper {
		text-align: center;
	}
}
