.pagination__wrapper {
	display: block;
}

.pagination {
	--column-gap: 2px;

	column-gap: var(--column-gap);
	display: inline-grid;
	grid-auto-flow: column;
	user-select: none;
}

.pagination__list {
	column-gap: var(--column-gap);
	display: grid;
	grid-auto-flow: column;
}

.pagination__link {
	--padding-vertical: 4px;
	--padding-side: 8px;

	border-radius: 4px;
	color: var(--wcfContentText);
	display: inline-block;
	font-variant: tabular-nums;
	min-width: calc(2ch + 2 * var(--padding-side));
	padding: var(--padding-vertical) var(--padding-side);
	text-align: center;
}

.pagination__link[aria-current="page"],
body:not(.touch) .pagination__link:hover {
	background-color: var(--wcfButtonBackgroundActive);
	color: var(--wcfButtonTextActive);
}

@include screen-xs {
	.pagination__wrapper {
		text-align: center;
	}

	.pagination__link {
		--padding-vertical: 8px;

		@include wcfFontSmall;
	}
}
