/* PerfectScrollbar plugin */
.ps-container {
	&:hover > .ps-scrollbar-y-rail > .ps-scrollbar-y {
		background-color: rgba(102, 102, 102, .6);
	}
	
	&.ps-active-y > .ps-scrollbar-y-rail {
		display: block;
	}
	
	> .ps-scrollbar-y-rail {
		background-color: rgba(102, 102, 102, 0);
		border-radius: 2px;
		bottom: 0;
		display: none;
		position: absolute;
		right: 2px;
		transition: background-color .24s linear;
		width: 6px;
		
		&:hover {
			background-color: rgba(102, 102, 102, .3);
		}
		
		> .ps-scrollbar-y {
			background-color: rgba(102, 102, 102, 0);
			border-radius: 2px;
			position: relative;
			transition: background-color .24s linear;
		}
	}
}
