.reactionPopover {
	animation: wcfPopoverOut 0.3s;
	animation-fill-mode: forwards;
	background-color: var(--wcfDropdownBackground);
	border-radius: var(--wcfBorderRadius);
	box-shadow: var(--wcfBoxShadow);
	color: var(--wcfDropdownText);
	overflow: hidden;
	position: absolute;
	top: 0;
	vertical-align: middle;
	visibility: hidden;
	z-index: 60;

	&.active {
		animation: wcfPopover 0.3s;
		animation-fill-mode: forwards;
	}

	&.forceHide {
		animation: 0;
		visibility: hidden;
	}

	@include screen-xs {
		&.inverseOrder .reactionTypeButtonList {
			flex-direction: column;
		}
	}
}

html[data-color-scheme="dark"] .reactionPopover {
	border: 1px solid var(--wcfDropdownBorderInner);
}

.reactionType {
	width: 20px;
	height: 20px;
}

.reactionPopoverContent .reactionType {
	width: 24px;
	height: 24px;
}

.reactionCount {
	@include wcfFontSmall;

	vertical-align: middle;

	&::before {
		content: "\202f×\202f";
	}
}

.reactionTypeButton.active {
	background-color: var(--wcfDropdownBackgroundActive);
	color: var(--wcfDropdownLinkActive);
}

.reactionPopoverContent {
	@include screen-xs {
		max-height: 200px;
		overflow: auto;

		&::after,
		&::before {
			content: "";
			height: 40px;
			left: 0;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			right: 0;
			transition: opacity 0.12s linear;
		}

		&::after {
			background-image: linear-gradient(
				to bottom,
				rgba(var(--wcfContentBackground-rgb) / 0),
				var(--wcfContentBackground)
			);
			bottom: 0;
		}
		&.overflowBottom::after {
			opacity: 1;
		}

		&::before {
			background-image: linear-gradient(
				to top,
				rgba(var(--wcfContentBackground-rgb) / 0),
				var(--wcfContentBackground)
			);
			top: 0;
		}
		&.overflowTop::before {
			opacity: 1;
		}
	}

	@include screen-md-down {
		padding: 5px 0;

		.reactionTypeButton {
			margin: 0;
			display: block;
			padding: 5px 25px;

			> .reactionTypeButtonTitle {
				vertical-align: middle;
				padding-left: 5px;
			}
		}
	}

	@include screen-lg {
		padding: 5px;

		.reactionTypeButtonList {
			display: flex;
			column-gap: 5px;
		}

		.reactionTypeButton {
			border-radius: var(--wcfBorderRadius);
			cursor: pointer;
			padding: 5px;

			&:hover {
				background-color: var(--wcfDropdownBackgroundActive);
				color: var(--wcfDropdownLinkActive);
			}
		}

		.reactionTypeButtonTitle {
			display: none;
		}
	}
}

@include screen-lg {
	html.touch .reactionPopoverContent .reactionTypeButton {
		display: block;
		margin-left: 0;

		> .reactionTypeButtonTitle {
			display: inline;
			margin-left: 10px;
		}
	}
}

@include screen-sm-down {
	.reactionStatusContainer {
		display: none;
	}
}

@include screen-xs {
	.reactionTypeButtonList {
		display: flex;
		flex-direction: column-reverse;
	}
}

#likeList .likeTypeSelection {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	.buttonGroup {
		margin-bottom: 0;

		li {
			display: flex;
			justify-content: stretch;

			a {
				display: flex;
				align-items: center;
			}
		}
	}
}

.topReactionFull,
.topReactionShort {
	> .reactionType {
		vertical-align: bottom;
	}
}

.topReactionTiny > .reactionType {
	height: 16px;
	vertical-align: top;
	width: 16px;
}

.reactionSummary {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 5px 5px;

	&:hover .reactionCountButton {
		color: var(--wcfContentText);
	}

	.reactionCountButton {
		color: var(--wcfContentDimmedText);
		white-space: nowrap;
	}

	.selected .reactionCount {
		font-weight: 600;
	}
}
