.reactionPopover {
	animation: wcfPopoverOut .3s;
	animation-fill-mode: forwards;
	background-color: $wcfContentBackground;
	border-radius: 2px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position: absolute;
	top: 0;
	vertical-align: middle;
	visibility: hidden;
	z-index: 50;
	
	&.active {
		animation: wcfPopover .3s;
		animation-fill-mode: forwards;
	}
	
	&.forceHide {
		animation: 0;
		visibility: hidden;
	}
	
	> .elementPointer {
		display: none;
	}
}

.reactionType {
	width: 20px;
	height: 20px;
}

.reactionSummaryList {
	display: inline-flex;
	flex-wrap: wrap;
	margin: -5px -5px 0 0;
	
	&.reactionSummaryListTiny .reactionType {
		width: 16px;
		height: 16px;
	}
	
	&:hover {
		.reactCountButton {
			color: $wcfContentText;
		}
	}
}

.reactionCount{
	@include wcfFontSmall;
	
	vertical-align: middle;
	
	&::before {
		content: ' × ';
	}
}

.reactCountButton {
	color: $wcfContentDimmedText;
	flex: 0 0 auto;
	margin: 5px 5px 0 0;
	white-space: nowrap;
}

.reactionPopoverContent {
	background-color: $wcfContentBackground;
	border-radius: 3px;
	color: $wcfContentText;
	
	a {
		color: $wcfContentLink;
		
		&:hover {
			color: $wcfContentLinkActive;
		}
	}
	
	.reactionTypeButton > img {
		width: 24px;
		height: 24px;
		
		&:hover {
			transform: scale(1.2);
		}
	}
	
	@include screen-md-down {
		padding: 5px 0;
		
		.reactionTypeButton {
			margin: 0;
			display: block;
			padding: 5px 25px;
			
			&.active {
				background-color: $wcfContentBorderInner;
			}
			
			> .reactionTypeButtonTitle {
				vertical-align: middle;
				padding-left: 5px;
			}
		}
	}
	
	@include screen-lg {
		padding: 5px 15px;
		
		.reactionTypeButton {
			display: inline-block;
			padding-top: 10px;
			padding-bottom: 10px;
			cursor: pointer;
			margin-left: 10px;
			
			&:first-child {
				margin-left: 0;
			}
			
			&.active {
				padding-left: 5px;
				padding-right: 5px;
				
				> img {
					transform: scale(1.4);
					
					&:hover {
						transform: scale(1.2);
					}
				}
				
			}
			
			> .reactionTypeButtonTitle {
				display: none;
			}
		}
	}
}

@include screen-lg {
	html.touch .reactionPopoverContent .reactionTypeButton {
		display: block;
		margin-left: 0;
		
		> .reactionTypeButtonTitle {
			display: inline;
			margin-left: 10px;
		}
	}
}

@include screen-sm-down {
	.reactionStatusContainer {
		display: none;
	}
}

#likeList .likeTypeSelection {
	display: flex;
	justify-content: flex-end;
	
	.buttonGroup li {
		display: flex;
		justify-content: stretch;
		
		a {
			display: flex;
			align-items: center;
		}
	}
}

.topReactionFull,
.topReactionShort {
	> .reactionType {
		vertical-align: bottom;
	}
}

.topReactionTiny > .reactionType {
	height: 16px;
	vertical-align: top;
	width: 16px;
}
