.recentActivityList {
	display: flex;
	flex-direction: column;
	gap: 20px;

	&.recentActivityList--userProfileContent {
		padding-top: 20px;
	}
}

.recentActivityListItem {
	display: grid;
	column-gap: 10px;
	row-gap: 5px;
	position: relative;
	grid-template-areas:
		"avatar title"
		"avatar time";
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;

	&.recentActivityListItem--withDescription {
		grid-template-areas:
			"avatar title"
			"avatar description"
			"avatar time";
		grid-template-rows: min-content min-content 1fr;
	}

	&:not(:last-child) {
		padding-bottom: 20px;
		border-bottom: 1px solid var(--wcfContentBorderInner);
	}

	@include screen-md-up {
		&.recentActivityListItem--withImage {
			grid-template-areas:
				"avatar title image"
				"avatar time image";
			grid-template-columns: min-content 1fr min-content;
		}

		&.recentActivityListItem--withDescription.recentActivityListItem--withImage {
			grid-template-areas:
				"avatar title image"
				"avatar description image"
				"avatar time image";
		}
	}

	@include screen-sm-down {
		grid-template-areas:
			"avatar title"
			"time time";

		&.recentActivityListItem--withDescription {
			grid-template-areas:
				"avatar title"
				"description description"
				"time time";
		}

		&.recentActivityListItem--withImage {
			grid-template-areas:
				"avatar title"
				"image image"
				"time time";
			grid-template-rows: min-content min-content 1fr;
		}

		&.recentActivityListItem--withDescription.recentActivityListItem--withImage {
			grid-template-areas:
				"avatar title"
				"image image"
				"description description"
				"time time";
			grid-template-rows: min-content min-content min-content 1fr;
		}
	}
}

.recentActivityListItem__avatar {
	grid-area: avatar;
}

.recentActivityListItem__title {
	grid-area: title;

	@include wcfFontHeadline;
}

.recentActivityListItem__description {
	grid-area: description;
	margin-top: 5px;
}

.recentActivityListItem__time {
	grid-area: time;
	color: var(--wcfContentDimmedText);

	@include wcfFontSmall;

	@include screen-sm-down {
		text-align: right;
	}
}

.recentActivityListItem__image {
	grid-area: image;
	align-self: center;

	@include screen-sm-down {
		text-align: center;
		margin-top: 5px;
	}
}

.recentActivityListItem__image img {
	border-radius: var(--wcfBorderRadius);
	max-height: 200px;
	max-width: 300px;
	object-fit: cover;

	@include screen-sm-down {
		max-width: 100%;
	}
}

.recentActivityListItem__link {
	color: inherit;

	&::before {
		content: "";
		inset: 0;
		position: absolute;
	}
}

@media (hover: hover) {
	.recentActivityListItem__link:hover {
		color: inherit;
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}

.recentActivityList__showMoreButton {
	display: flex;
	justify-content: center;
}

.recentActivityList__switchContext {
	border-bottom: 1px solid var(--wcfContentBorderInner);
	display: flex;
	justify-content: end;
	padding-bottom: 20px;
}
