.scrollableCheckboxList {
	background-color: $wcfInputBackground;
	border: 1px solid $wcfInputBorder;
	color: $wcfInputText;
	max-height: 500px;
	max-width: 500px;
	overflow: auto;
	padding: 5px;
	
	li {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.itemListFilter {
	max-width: 500px;
	
	> .inputAddon {
		margin-top: 5px;
	}
	
	.scrollableCheckboxList {
		&[data-filter="highlightActive"] > li:not(.active) {
			opacity: .6;
		}
		
		&[data-filter="activeOnly"] > li:not(.active) {
			display: none;
		}
	}
}
