.scrollableCheckboxList {
	background-color: var(--wcfInputBackground);
	border: 1px solid var(--wcfInputBorder);
	color: var(--wcfInputText);
	max-height: 500px;
	max-width: 500px;
	overflow: auto;
	padding: 5px;

	li {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.scrollableCheckboxList__category:not(:first-child) {
	margin-top: 5px;
}

.scrollableCheckboxList__category__label {
	align-items: center;
	color: var(--wcfContentDimmedText);
	column-gap: 10px;
	display: flex;
	font-size: 12px;
	margin-bottom: 5px;
	white-space: nowrap;

	&::after {
        border-top: 1px solid currentColor;
		content: "";
        display: block;
        width: 100%;
        opacity: 0.34;
	}
}

.dialogContent .scrollableCheckboxList {
	max-height: 300px;
}

.itemListFilter {
	max-width: 500px;

	> .inputAddon {
		margin-top: 5px;
	}

	.scrollableCheckboxList {
		&[data-filter="highlightActive"] > li:not(.active) {
			opacity: 0.6;
		}

		&[data-filter="activeOnly"] > li:not(.active) {
			display: none;
		}
	}
}
