/* search keyword highlighting */
.highlight {
	background-color: rgba(255, 214, 30, 1);
	color: rgba(0, 0, 0, 1);
	padding: 0 2px;
}

/* search form */
.searchBar {
	display: grid;
	
	@include screen-md-up {
		column-gap: 20px;
		grid-template-columns: 60% 20% auto;
	}

	@include screen-sm-down {
		row-gap: 5px;
	}
}

.searchShowMoreFiltersButton {
	cursor: pointer;
	user-select: none;
}

.searchFiltersContainer {
	margin-top: 20px;
}

.searchFilters {
    margin-top: 20px;
}

@include screen-md-up {
	.searchFilters {
		columns: 2;
	}

	.searchFilters > :is(div, dl) {
		break-inside: avoid-column;
	}

	.searchFiltersContainer .searchButton {
		display: none;
	}
}

@include screen-sm-down {
	.searchFiltersContainer .searchButton {
		margin-top: 20px;
		width: 100%;
	}
}
