.sidebarList {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.sidebarListItem {
	display: grid;
	grid-template-areas:
		"image content"
		"image meta";
	grid-template-columns: min-content 1fr;
	grid-template-rows: 1fr min-content;
	position: relative;
	row-gap: 2px;
}

.sidebarListItem__image {
	display: flex;
	grid-area: image;
	margin-right: 10px;
}

.sidebarListItem__image img {
	max-height: 24px;
	max-width: 24px;
}

.sidebarListItem__content {
	grid-area: content;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.sidebarListItem__meta {
	grid-area: meta;
	color: var(--wcfContentDimmedText);
	display: flex;
	flex-wrap: wrap;

	@include wcfFontSmall;
}

/* Selector required to override legacy styling of the sidebar. */
.sidebarListItem .sidebarListItem__link {
	color: inherit;

	&::before {
		content: "";
		inset: 0;
		position: absolute;
	}

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: underline;
		text-underline-offset: 0.2em;
	}
}

.sidebarListItem--unread .sidebarListItem__link {
	font-weight: 600;
}

.sidebarListItem__meta a {
	color: inherit;

	&:hover,
	&:focus {
		color: inherit;
	}
}

.sidebarListItem__description {
	@include wcfFontSmall;
}

.sidebarListItem__meta__item {
	align-items: center;
	display: flex;
}

.sidebarListItem__meta__item:not(:first-child)::before {
	content: "•";
	margin: 0 3px;
}
