.sitemapList {
	h3 {
		padding-bottom: 5px;
		
		@include wcfFontHeadline;
	}
	
	a {
		display: block;
		padding: 2px 10px;
		
		&:hover {
			background-color: $wcfTabularBoxBackgroundActive;
		}
	}
	
	> li {
		&:not(:first-child) {
			border-top: 1px solid $wcfContentBorderInner;
			margin-top: 15px;
			padding-top: 15px;
		}
		
		> ul > li {
			> a {
				padding-left: 20px;
			}
			
			> ul > li > a {
				padding-left: 40px;
			}
		}
	}
}
