.slideshowContainer {
	overflow: hidden;
	position: relative;

	> ul:not(.slideshowButtonList) > li:not(:first-child) {
		display: none;
	}

	> .slideshowItemList {
		position: absolute;
		transition: left 0.8s ease-out;

		> li.slideshowItem {
			display: block;
			float: left;
			overflow: hidden;
			position: absolute;
			top: 0;

			/* fixes font rendering bug */
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	> .slideshowButtonList {
		position: absolute;
		right: 0;
		top: 0;

		> li {
			display: inline-block;
		}
	}
}
