/* main tabs */
.tabMenu {
	position: relative;
	
	> ul > li > a {
		display: block;
		padding: 5px 0;
		
		@include wcfFontSection;
	}
	
	@include screen-md-up {
		> ul {
			border-bottom: 1px solid $wcfContentBorderInner;
			
			@include inlineList;
			
			> li {
				position: relative;
				
				&:not(:last-child) {
					margin-right: 20px;
				}
				
				&::before {
					border-top: 1px solid $wcfContentLink;
					bottom: -1px;
					content: "";
					left: 50%;
					position: absolute;
					width: 0;
				}
				
				&.active::before {
					left: 0;
					transition: left .12s linear, width .12s linear;
					width: 100%;
				}
				
				&.active > a {
					cursor: default;
				}
			}
		}
	}
	
	@include screen-sm-down {
		> ul {
			border-bottom: 1px solid $wcfContentLink;
			display: block;
			
			&:not(.active) > li:not(.active) {
				display: none;
			}
			
			> li {
				&.active {
					pointer-events: none;
					> a::after {
						content: $fa-var-caret-down;
						font-family: FontAwesome;
						margin-left: 7px;
					}
				}
			}
		}
		
		> span {
			display: none;
		}
	}
}

.tabMenuContent.hidden {
	display: none;
}

.tabMenuContent {
	// remove upper border if containerList is the first child
	> .containerList:first-child > li:first-child {
		border-top-width: 0;
	}
}

/* sub tabs */
.menu {
	margin-top: 10px;
	position: relative;
	
	> ul {
		@include inlineList;
		
		> li {
			position: relative;
			
			&::before {
				border-top: 1px solid $wcfContentLink;
				bottom: -1px;
				content: "";
				left: 50%;
				position: absolute;
				width: 0;
			}
			
			&.active::before {
				left: 0;
				transition: left .12s linear, width .12s linear;
				width: 100%;
			}
			
			&:not(:last-child) {
				margin-right: 20px;
			}
			
			&.active > a {
				cursor: default;
			}
		}
	}
	
	& + .tabMenuContent {
		margin-top: 20px;
	}
}
