.messageTabMenu {
	> .messageTabMenuContent {
		display: none;

		&:not(.messageTabMenu) {
			> nav.menu {
				display: none;
			}
		}

		&.active {
			background-color: var(--wcfContentBackground);
			display: block;
			margin-top: 0;
		}

		> .section:first-child {
			margin-top: 0;
		}
	}

	// prevent double formatting with nested tab menus
	&:not(.messageTabMenuContent) > .messageTabMenuContent.active {
		border: 1px solid var(--wcfContentBorderInner);
		border-top-width: 0;
		padding: 20px;
	}

	// sub tab menu
	&.messageTabMenuContent > nav {
		border-bottom: 1px solid var(--wcfContentBorderInner);
		margin: -20px -20px 20px -20px;
		padding: 5px 20px;

		> ul {
			@include inlineList;

			border: 0;

			> li {
				color: var(--wcfContentLink);
				outline: 0;

				&:not(:last-child) {
					margin-right: 20px;
				}

				&.active {
					color: var(--wcfContentLinkActive);
				}

				> a,
				> button {
					color: inherit;
					display: block;
					outline: 0;

					@include userSelectNone;
					@include wcfFontSmall;
				}
			}
		}
	}
}

.messageTabMenu + .innerError,
.messageTabMenu + .innerSuccess,
.messageTabMenu + .innerWarning {
	margin-top: -1px;
	width: 100%;
}

.messageTabMenu > nav.tabMenu,
.messageTabMenuNavigation {
	> ul {
		background-color: var(--wcfContentBackground);
		border: 1px solid var(--wcfContentBorderInner);
		border-top-width: 0;

		@include inlineList;

		> li {
			border-right: 1px solid var(--wcfContentBorderInner);
			color: var(--wcfContentLink);

			&:not(:last-child) {
				margin-right: 0;
			}

			&.active {
				color: var(--wcfContentLinkActive);
			}

			&.active > a,
			&.active > button {
				position: relative;

				&::after {
					border-bottom: 1px solid var(--wcfContentBackground);
					bottom: -1px;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
				}
			}

			> a,
			> button {
				align-items: center;
				color: inherit;
				/* 0.2em matches the width of a space */
				column-gap: 0.2em;
				display: flex;
				padding: 10px 20px;

				@include userSelectNone;
				@include wcfFontDefault;

				.badgeUpdate {
					font-variant: tabular-nums;
					margin-left: 0.3em;
				}

				@include screen-sm-down {
					> span:not(.badgeUpdate) {
						display: none;
					}
				}
			}
		}
	}

	> span {
		display: none;
	}
}

/* fix for Firefox - fieldsets are set to display: table-column which cause an odd gap between the fieldset
   and the next element, similar to gaps with display: inline-block and font-size > 0 */
@-moz-document url-prefix() {
	fieldset + .messageTabMenu {
		margin-top: -3px;
	}
}

.uploadButton {
	overflow: hidden;
	position: relative;

	> input {
		bottom: 0;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
	}
}
