.tableOfContents__container {
	border: 1px solid var(--wcfContentBorderInner);
	/* The list numbers extend into the horizontal padding, 10px is not enough for double digit numbers. */
	padding: 20px;
}

@include screen-sm-down {
	.tableOfContents__container {
		padding: 10px 20px;
	}
}

@include screen-md-up {
	.tableOfContents__wrapper {
		float: right;
		margin: 0 0 10px 10px;
		max-width: 50%;
	}

	.htmlContent > .tableOfContents__wrapper + * {
		margin-top: 0 !important;
	}
}

@include screen-lg {
	.tableOfContents__wrapper {
		max-width: 40%;
	}
}

@include screen-sm-down {
	.tableOfContents__wrapper {
		margin-bottom: 10px;
	}
}

.tableOfContents__header {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: center;
}

h2.tableOfContents__title {
	@include wcfFontHeadline;
	@include wcfFontBold;

	margin: 0;
}

.htmlContent,
.messageBody > .messageText {
	.tableOfContents {
		margin-left: 15px;
		margin-bottom: 0;
	}
}
