.balloonTooltip {
	background-color: $wcfTooltipBackground;
	color: $wcfTooltipText;
	max-width: 300px;
	padding: 5px 10px;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: visibility 0s linear .12s;
	visibility: hidden;
	z-index: 800;
	
	@include wcfFontSmall;
	
	> .elementPointer {
		border-color: $wcfTooltipBackground transparent;
		border-style: solid;
		border-width: 0 5px 5px;
		
		&.flipVertical {
			border-width: 5px 5px 0;
		}
	}
	
	@include boxShadow(0, 3px, rgba(0, 0, 0, .3), 7px);
	
	&.active {
		visibility: visible;
		
		transition-delay: 0s;
	}
}
