.balloonTooltip {
	background-color: var(--wcfTooltipBackground);
	border-radius: 2px;
	box-shadow:
		0 0 3px rgba(0, 0, 0, 0.12),
		0 1px 2px rgba(0, 0, 0, 0.24);
	color: var(--wcfTooltipText);
	left: 0;
	max-width: 300px;
	padding: 5px 10px;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: visibility 0s linear 0.12s;
	visibility: hidden;
	z-index: 800;

	@include wcfFontSmall;

	&.active {
		visibility: visible;

		transition-delay: 0s;
	}

	&.interactive {
		pointer-events: all;

		> span {
			cursor: pointer;

			&:not(:first-child) {
				border-left: 1px solid var(--wcfTooltipText);
				margin-left: 10px;
				padding-left: 10px;
			}
		}
	}
}

.quoteManagerCopy {
	position: absolute;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
	z-index: 350;

	&.touchForceInaccessible {
		pointer-events: none;
	}

	@include screen-md-down {
		@include wcfFontDefault;
	}
}
