.balloonTooltip {
	background-color: $wcfTooltipBackgroundColor;
	border-radius: 6px;
	color: $wcfTooltipColor;
	max-width: 300px;
	opacity: 0;
	padding: 5px 10px 7px;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: visibility 0s linear .2s, opacity .2s linear .2s;
	visibility: hidden;
	z-index: 800;
	
	@extend .wcfFontSmall;
	
	> .elementPointer {
		border-color: $wcfTooltipBackgroundColor transparent;
		border-style: solid;
		border-width: 0 5px 5px;
		
		&.flipVertical {
			border-width: 5px 5px 0;
		}
	}
	
	@include boxShadow(0, 3px, rgba(0, 0, 0, .3), 7px);
	
	&.active {
		opacity: 1;
		visibility: visible;
		
		transition-delay: 0s;
	}
}