#trophyIconEditor .colorBoxValue {
	display: block;
	height: 24px;
	width: 24px;
}

#trophyIconEditor .colorBox {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	display: inline-block;
	padding: 1px;
	vertical-align: middle;
}

#badgeContainer .icon {
	vertical-align: middle;
}

.trophyIcon {
	display: inline-block;
	border-radius: 50%;
	
	/* Factor: 0.5625 */
	&.icon16 {
		font-size: 9px;
	}
	
	&.icon32 {
		font-size: 18px;
	}
	
	&.icon48 {
		font-size: 27px;
	}
	
	&.icon64 {
		font-size: 36px;
	}
	
	&.icon144 {
		font-size: 81px;
	}
}
