#trophyIconEditor .colorBoxValue {
	display: block;
	height: 24px;
	width: 24px;
}

#trophyIconEditor .colorBox {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	display: inline-block;
	padding: 1px;
	vertical-align: middle;
}

#badgeContainer .icon {
	vertical-align: middle;
}

.trophyIcon {
	align-self: flex-start;
	display: inline-block;
	border-radius: 50%;

	fa-icon {
		transform: scale(0.5625);
		width: var(--icon-size);

		/*
			We need to override the positioning by the .box classes here
			to prevent the icon from being moved too far to the left.
		*/
		position: static !important;
	}
}

.specialTrophyList {
	display: flex;
	flex-wrap: wrap;

	> li {
		width: 300px;
		padding-bottom: 5px;

		> label {
			display: flex;
			align-items: center;

			.trophyIcon,
			> span:last-child {
				margin-left: 5px;
			}

			input,
			.trophyIcon {
				flex-shrink: 0;
			}
		}
	}
}

/* trophies in message sidebar */
.specialTrophyContainer {
	margin-top: 10px;

	> ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: -5px;
		margin-right: -5px;

		> li {
			margin-bottom: 5px;
			margin-right: 5px;
		}
	}
}

@include screen-sm-down {
	.specialTrophyContainer {
		display: none;
	}
}

/* trophies in user profile header */
.specialTrophyUserContainer > ul {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-top: -15px;

	> li {
		margin-bottom: 5px;
		margin-right: 5px;
	}
}

.userProfileUserWithCoverPhoto .specialTrophyUserContainer > ul {
	margin-top: 0;
}

.sortableNodeLabel > .trophyIcon {
	margin-right: 5px;
}
