.userProfile .sidebar {
	position: relative;
	
	> section {
		// TODO: background-color: $wcfContentBackgroundAccent;
		border-radius: 0;
		// TODO: color: $wcfContentTextAccent;
		
		a,
		dd,
		h1 {
			// TODO: color: $wcfContentTextAccent;
		}
		
		&:first-child {
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
		
		&:last-child {
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		
		&:not(:first-child) {
			margin-top: 0;
			
			&:before {
				// TODO: border-top: 2px solid $wcfContentBorderAccent;
				content: "";
				left: 0;
				margin-top: -15px;
				position: absolute;
				right: 0;
			}
		}
	}
	
	> .userDetails {
		position: relative;
		text-align: center;
		
		> .buttonGroupNavigation > .buttonGroup,
		> .dataList {
			justify-content: center;
		}
		
		> .buttonGroupNavigation,
		> .dataList,
		> .userActivity {
			margin-top: 10px;
		}
		
		> .dataList {
			margin-top: 25px;
			
			&:before {
				// TODO: border-top: 2px solid $wcfContentBorderAccent;
				content: "";
				left: 0;
				margin-top: -10px;
				position: absolute;
				right: 0;
			}
		}
		
		> .userActivity > span {
			display: block;
			
			@extend .wcfFontSmall;
		}
	}
}

.userProfile #profileContent {
	> .tabMenu {
		//margin-bottom: 30px;
		
		> ul > li {
			&:not(:last-child) {
				margin-right: 30px;
			}
			
			> a {
				padding: 0;
				text-transform: uppercase;
				
				@extend .wcfFontHeadline;
			}
		}
	}
}

#profileButtonContainer > li {
	border-width: 0;
	
	> a {
		background-color: transparent;
		border-width: 0;
		// TODO: color: $wcfContentTextAccent !important;
		padding: 5px;
		
		> .icon {
			// TODO: color: $wcfContentTextAccent;
		}
	}
}
/*
.username {
	@extend .wcfFontHeadline;
}*/

.userAvatarList {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -10px;
	
	> li {
		flex: 0 0 25%;
		margin-bottom: 10px;
		text-align: center;
		
		> a {
			display: block;
		}
	}
}

.userList {
	.box48 {
		align-items: center;
	}
}
