/* reduces the visual impact of content by ignored users */
.ignoredUserContent {
	/* no grayscale filter in IE11 due to completely lacking support */
	
	-webkit-filter: grayscale(100%) !important; /* Chrome, Safari, Opera */
	filter: grayscale(100%) !important; /* Firefox, Edge */
		
	&:not(:hover) {
		opacity: .5 !important;
	}
}

.ignoredUserMessage {
	background-color: $wcfStatusInfoBackground !important;
	border-left: 5px solid $wcfStatusInfoBorder !important;
	color: $wcfStatusInfoText !important;
	cursor: pointer !important;
	
	&::before {
		content: attr(data-ignored-user-message);
		
		@include screen-md-up {
			padding: 10px 20px;
		}
		
		@include screen-sm-down {
			padding: 10px;
		}
	}
	
	> * {
		display: none;
	}
}
