.userCardList__container {
	container-type: inline-size;
}

.userCardList {
	display: grid;
	gap: 20px;
	grid-auto-rows: minmax(200px, auto);
}

@container (min-width: 1280px) {
	.userCardList {
		grid-template-columns: repeat(4, 1fr);
	}
}

@container (width < 1280px) and (min-width: 960px) {
	.userCardList {
		grid-template-columns: repeat(3, 1fr);
	}
}

@container (width < 960px) and (min-width: 640px) {
	.userCardList {
		grid-template-columns: repeat(2, 1fr);
	}
}

.userCardList__item {
	display: flex;
}

.userCard {
	background-color: var(--wcfContentBackground);
	border: 1px solid var(--wcfContentBorderInner);
	border-radius: var(--wcfBorderRadius);
	box-shadow: var(--wcfBoxShadowCard);
	display: flex;
	flex-direction: column;
	position: relative;
}

.userCardList__item .userCard {
	flex: 1 1 auto;
}

.userCard__header {
	position: relative;
	display: flex;
	flex-direction: column;
}

.userCard__header__background {
	height: 100px;
	overflow: hidden;
	/* Nesting the border radius requires the inner element to be one pixel
	   shorter to prevent visual gaps. */
	border-top-right-radius: calc(var(--wcfBorderRadius) - 1px);
	border-top-left-radius: calc(var(--wcfBorderRadius) - 1px);
}

.userCard__header__background__image {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

@media (hover: hover) {
	.userCard__header__background__image {
		transition: transform 0.24s linear;
	}

	.userCard:hover .userCard__header__background__image {
		transform: scale(1.05);
	}
}

.userCard__header__avatar {
	align-self: start;
	background-color: var(--wcfContentBackground);
	border-radius: 50%;
	border: 5px solid var(--wcfContentBackground);
	margin-left: 15px;
	margin-top: -37px;
	position: relative;
}

.userCard__onlineIndicator {
	background-color: rgba(0, 153, 0, 1);
	border: 1px solid var(--wcfContentBackground);
	border-radius: 50%;
	bottom: 0;
	height: 12px;
	position: absolute;
	right: 6px;
	width: 12px;
	z-index: 1;
}

.userCard__header__interactions {
	display: flex;
	gap: 8px;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.userCard__header__interactions .button {
	box-shadow: var(--wcfBoxShadowImageButton);
	border-radius: 50%;
	padding: 6px 4px;
}

.userCard__footer {
	border-top: 1px solid var(--wcfContentBorderInner);
	padding: 10px 5px;
}

.userCard__content {
	display: flex;
	flex-direction: column;
	flex: 1 auto;
	padding: 5px 20px 10px 20px;
}

.userCard__username {
	display: inline;

	@include wcfFontHeadline;
	@include wcfFontBold;
}

.userCard__link {
	color: inherit;

	&::before {
		content: "";
		inset: 0;
		position: absolute;
	}

	&:hover,
	&:focus {
		color: inherit;
	}
}

.userCard__statusIcons {
	display: inline;
	position: relative;
	z-index: 1;
}

.userCard__footer__stats {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}

.userCard__footer__statsItem {
	display: flex;
	color: inherit;
	flex-direction: column;
	text-align: center;
	z-index: 1;

	&:hover {
		color: inherit;
	}
}

.userCard__footer__statsItem:nth-child(n + 4) {
	display: none;
}

.userCard__footer__statsItem__key {
	@include wcfFontSmall;
	color: var(--wcfContentDimmedText);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.userCard__buttons {
	background-color: var(--wcfContentContainerBackground);
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	margin: 5px auto 0 auto;
	padding: 5px 10px;
	z-index: 1;
}

.userCard__button {
	color: inherit;

	&:hover {
		color: inherit;
	}
}

.userCard__details {
	@include wcfFontSmall;
	margin-top: 15px;
}

.userCard__details .dataList dd {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.userCard__details .dataList dd:not(:last-child) {
	margin-bottom: 0;
}

.userCard__details a {
	color: inherit;
	z-index: 1;

	&:hover {
		color: inherit;
	}
}

.popoverContainer[data-identifier="com.woltlab.wcf.user"] {
	--padding: 0;
	--maxHeight: none;
	--maxWidth: 300px;
	width: 300px;

	.userCard {
		border-width: 0;
		box-shadow: none;
	}
}
