name: Code Style

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  php:
    name: PHP
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup PHP with tools
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        extensions: ctype, dom, exif, gd, gmp, hash, intl, json, libxml, mbstring, opcache, pcre, pdo, pdo_mysql, zlib
        tools: cs2pr, phpcs, php-cs-fixer
    - name: phpcs
      run: phpcs -n -q --report=checkstyle | cs2pr
    - name: php-cs-fixer
      run: php-cs-fixer fix --dry-run --diff
  ts:
    name: TS Prettier
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up node.js
      uses: actions/setup-node@v2
      with:
        node-version: "16"
        cache: "npm"
    - run: npm install
    - name: Run prettier
      run: |
        shopt -s globstar
        npx prettier -w ts/**/*.ts
    - run: echo "::add-matcher::.github/diff.json"
    - name: Show diff
      run: |
        git checkout -- package-lock.json
        git diff --exit-code
  scss:
    name: SCSS Prettier
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up node.js
      uses: actions/setup-node@v2
      with:
        node-version: "16"
        cache: "npm"
    - run: npm install
    - name: Run prettier
      run: |
        shopt -s globstar
        npx prettier -w wcfsetup/install/files/style/**/*.scss
        npx prettier -w wcfsetup/install/files/acp/style/**/*.scss
    - run: echo "::add-matcher::.github/diff.json"
    - name: Show diff
      run: |
        git checkout -- package-lock.json
        git diff --exit-code
