name: PHP Syntax Check

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
        - '7.0'
        - '7.1'
        - '7.2'
        - '7.3'
        - '7.4'
        - '8.0'
    steps:
    - name: Set up PHP
      uses: shivammathur/setup-php@2.7.0
      with:
        php-version: ${{ matrix.php }}
    - uses: actions/checkout@v2
    - run: find . -type f -name '*.php' -print0 |xargs -0 -P 4 -L1 php -l
