name: TypeScript

on:
  push:
    branches:
    - "5.4"
    - master
  pull_request:

jobs:
  tsc:
    name: "TSC"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - name: Set up node.js
      uses: actions/setup-node@v2
      with:
        node-version: "14"
    - uses: actions/checkout@v2
    - run: npm install
    - run: npx tsc --noEmit
    - name: Check that tslib is in sync.
      run: diff -wu wcfsetup/install/files/js/3rdParty/tslib.js node_modules/tslib/tslib.js
  eslint:
    name: "eslint"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - name: Set up node.js
      uses: actions/setup-node@v2
      with:
        node-version: "14"
    - uses: actions/checkout@v2
    - run: npm install
    - run: npx eslint .
  javascript_sync:
    name: "Check for outdated JavaScript"
    needs: tsc
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - name: Set up node.js
      uses: actions/setup-node@v2
      with:
        node-version: "14"
    - uses: actions/checkout@v2
    - run: npm install
    - run: npx tsc
    - run: echo "::add-matcher::.github/diff.json"
    - name: Show diff
      run: |
        git checkout -- package-lock.json
        git diff --exit-code
